---
layout: supports.liquid

title: Dukungan Pelanggan
description: Apakah Anda memiliki pertanyaan, memerlukan bantuan dengan produk atau layanan kami, atau ingin memberikan umpan balik, tim layanan pelanggan kami ada di sini untuk membantu.
description-hero: Untuk menjadwalkan demo dan melakukan percakapan dengan para ahli kami tentang berbagai produk kami, pilih produk dan bagikan email Anda, dan kami akan mengatur waktu yang tepat untuk Anda.
svg: customer
class: customer

date: 1984-10-29
---

<section class="checkbox closest">
  <form action="{{ page.url }}" method="post">
    <div class="combined combined-mobile border">
      <label for="name">Nama</label>
      <input
        type="text"
        id="name"
        name="name"
        minlength="3"
        required
        placeholder="Ketik nama Anda atau nama organisasi Anda" />
    </div>

    <div class="combined combined-mobile border">
      <label for="email">Surel</label>
      <input
        id="email"
        name="email"
        type="email"
        minlength="6"
        required
        placeholder="Ketik surel Anda" />
    </div>

    <article id="products" class="selection checkbox">
      <h2 hidden>Produk</h2>
      <div class="scroll">
        <ol class="flat">
          {% render 'item-checkbox' items: collections.types lang: page.lang %}
        </ol>
      </div>
    </article>

    <div class="combined drop border">
      <input
        type="file"
        id="upload"
        accept="image/*,video/*,text/*,audio/*,application/vnd.oasis.opendocument*,application/pdf,application/vnd.openxmlformats-officedocument*,application/vnd.ms-*,application/vnd.apple.*"
        name="upload" />
      <label for="upload">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          style="width: 1.5rem; height: 1.5rem;">
          <g
            stroke="var(--svg-stroke)"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2">
            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
            <path d="m17 8-5-5m0 0L7 8m5-5v12" />
          </g>
        </svg>
        <p>Ketuk, klik, atau seret dan letakkan dokumen Anda di sini untuk mengunggah</p>
      </label>
    </div>

    <div class="combined combined-mobile large border">
      <label for="message">Pesan</label>
      <textarea
        id="message"
        name="message"
        minlength="10"
        placeholder="Ketik pesan anda"
        required
        rows="10"></textarea>
      <a class="button cta small">
        <button type="submit">Hubungi kami</button>
      </a>
    </div>

    <div class="dots"></div>
  </form>
</section>