---
layout: supports.liquid

title: Permintaan Demo
description: Temukan kekuatan produk dan layanan kami secara langsung dengan demo yang dipersonalisasi yang disesuaikan hanya untuk Anda.Minta demo hari ini untuk wawasan.
description-hero: Untuk menjadwalkan demo dan melakukan percakapan dengan para ahli kami tentang berbagai produk kami, pilih produk dan bagikan email Anda, dan kami akan mengatur waktu yang tepat untuk Anda.
svg: request-demo

date: 1983-10-29
---

<section class="checkbox closest">
  <form action="{{ page.url }}" method="post">
    <article id="products" class="selection checkbox">
      <h2 hidden>Produk</h2>
      <div class="scroll">
        <ol class="flat">
          {% render 'item-checkbox' items: collections.products lang: page.lang %}
        </ol>
      </div>
    </article>

    <div class="combined combined-mobile border">
      <label for="email">Surel</label>
      <input
        id="email"
        name="email"
        type="email"
        minlength="6"
        placeholder="Ketik surel Anda" />
      <a class="button cta small">
        <button type="submit">Meminta</button>
      </a>
    </div>

    <div class="dots"></div>
  </form>
</section>