<section class="points commitment">
  <div class="text">
    <h2>Build In</h2>
    <p>Crafting a digital future that's not just functional but is a commitment to a world that's sustainable, accessible, and privacy.</p>
  </div>

  <div class="selection commitment">
    <ol class="flat">
      {% selection "320x160" "256x128" "wide" "sustainability" "Sustainability icon" %}
        <h3>Sustainability</h3>
        <p>Sustainable practices in every steps</p>
      {% endselection %}
      {% selection "320x160" "256x128" "wide" "accessibility" "Accessibility Icon" %}
        <h3>Accessibility</h3>
        <p>Functionalities that champions inclusivity</p>
      {% endselection %}
      {% selection "320x160" "256x128" "wide" "privacy" "Privacy Icon" %}
        <h3>Privacy</h3>
        <p>Digital privacy in every data and transactions</p>
      {% endselection %}
    </ol>
  </div>
</section>