<section class="journey">
  <div class="text">
    <h2>Our Development Journey</h2>
    <p>Sagara has been advocating the Agile development process to deliver end results that align with the dynamic nature of your organization's activities. This ensures the continuous improvement of the system and a process that demands your organization's involvement throughout the development phases.</p>
  </div>

  <div class="selection journey">
    <div class="scroll">
      <ol>
        {% selection_icon_plain "Project Initiation" "The project begins with a clear understanding of the goals, scope, and objectives." %}
        {% selection_icon_plain "Requirements Gathering" "High-level requirements are collected, but also can be refined and adjusted as the project progresses." %}
        {% selection_icon_plain "Planning" "Our team breaks the project into smaller tasks and creates a backlog of features and user stories." %}
        {% selection_icon_plain "Development Sprints" "The project is divided into short, fixed timeframes (sprints), typically 2-4 weeks, where specific features are developed and tested." %}
        {% selection_icon_plain "Daily Stand-Ups" "Our team meets daily to discuss progress, challenges, and plan the day's work." %}
        {% selection_icon_plain "Continuous Integration and Testing" "Code is integrated frequently, and testing is done continuously throughout development." %}
        {% selection_icon_plain "Customer Feedback" "Your organization especially the stakeholders provide feedback at the end of each sprint, allowing for adjustments and improvements." %}
        {% selection_icon_plain "Iterative Development" "The process is repeated for multiple sprints until the system meets the desired level of functionality and quality." %}
        {% selection_icon_plain "Deployment" "Once the system is ready, it is deployed for use." %}
        {% selection_icon_plain "Monitoring and Maintenance" "After deployment, your system is continuously monitored, and any issues or enhancements are addressed." %}
      </ol>
    </div>
  </div>
</section>