{% for item in items %}
  <li>
    <a href="{{ item.url }}" {% if page_url == item.url %} aria-current="page" {% endif %}>
      {% if item.data.title-strong %}
        <strong>{{ item.data.title-strong }}</strong>
        -
      {% endif %}
      {% if item.data.title-description %}
        {{ item.data.title-description }}
      {% else %}
        {{ item.data.title }}</a>
      {% endif %}
    </a>
  </li>
{% endfor %}