---
layout: listing.liquid
title: Products
class: products
products-now: true
---

<div class="text">
  <h1>Berasal dari Pengalaman Sektor Teknologi Bertahun-tahun</h1>
  <p>Produk kami dihasilkan dari pengalaman luas yang diperoleh selama bertahun -tahun bekerja di sektor swasta dan pemerintah di Indonesia.Pengalaman yang beragam ini telah memungkinkan kami untuk memahami dan mengatasi tantangan dan kebutuhan unik dari kedua sektor, yang pada akhirnya membentuk produk kami untuk memberikan solusi yang efektif.</p>
</div>

<div class="dots"></div>

<ul>
  {% render 'item-listing' items: collections.products lang: page.lang buttons: buttons %}
</ul>