---
layout: listing.liquid
title: Products
class: products
products-now: true
---

<div class="text">
  <h1>Stem from Years of Tech Sector Experience</h1>
  <p>Our products result from extensive experience gained over years of working in both the private and government sectors in Indonesia. This diverse experience has allowed us to understand and address the unique challenges and needs of both sectors, ultimately shaping our products to provide effective solutions.</p>
</div>

<div class="dots"></div>

<ul>
  {% render 'item-listing' items: collections.products lang: page.lang %}
</ul>