---
layout: main.liquid
class: listing
namespace: listing
---

{% comment %} Menu and buttons translation {% endcomment %}
{% if page.lang == "id" %}
  {% assign menu = menu.id %}
  {% assign buttons = buttons.id %}
{% else %}
  {% assign menu = menu.en %}
  {% assign buttons = buttons.en %}
{% endif %}

<section class="listing">
  {{ content }}
</section>