---
layout: main.liquid
class: careers
---

{{ content }}

<section class="blue hiring">
  <article>
    <div>
      <div class="text">
        <h3>Join Our Team</h3>
        <p>Together we define a clearer narrative, expand our creativity, contribute to effective problem solving, and strive for collaborative excellence.</p>
      </div>

      <object
        data="/img/we-are-hiring.svg"
        type="image/svg+xml"
        width="132"
        height="132"
        aria-label="We are hiring"></object>
    </div>
    <menu class="submenu">
      {% render 'item-careers' items: collections.featured %}
    </menu>
    <a href="{{  "/careers/" | locale_url }}" class="default green">See all open positions
      <i class="arrow"></i>
    </a>
  </article>
</section>