---
layout: main.liquid
class: careers
---

{{ content }}

<section class="blue hiring">
  <article>
    <div>
      <div class="text">
        <h3>
          {% if page.lang == "id" %}
            Bergabung dengan Kami
          {% else %}
            Join Our Team
          {% endif %}
        </h3>
        <p>
          {% if page.lang == "id" %}
            Bersama kita mendefinisikan narasi yang lebih jelas, memperluas kreativitas kita, berkontribusi pada pemecahan masalah yang efektif, dan berjuang untuk keunggulan kolaboratif.
          {% else %}
            Together we define a clearer narrative, expand our creativity, contribute to effective problem solving, and strive for collaborative excellence.
          {% endif %}
        </p>
      </div>

      <object
        data="/img/we-are-hiring.svg"
        type="image/svg+xml"
        width="132"
        height="132"
        aria-label="We are hiring"></object>
    </div>
    <menu class="submenu">
      {% render 'item-careers' items: collections.featured lang: page.lang %}
    </menu>
    <a href="{{  "/careers/" | locale_url }}" class="default green">
      {% if page.lang == "id" %}
        Lihat semua posisi terbuka
      {% else %}
        See all open positions
      {% endif %}
      <i class="arrow"></i>
    </a>
  </article>
</section>