---
title: A Mission Driven Technology Company in Indonesia
---

<!DOCTYPE html>
<html lang="en" class="nojs">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bundle.css">
    <meta name="theme-color" content="#F9FAFC">
    <link rel="icon" href="/favicon.svg">
    <link
      rel="mask-icon"
      href="/favicon.svg"
      color="#F9FAFC">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>{{ title }} - Sagara</title>
  </head>

  <body>
    <header>
      <div>
        <a
          href="/"
          {% if page.url == "/" %}
          aria-current="page"
          {% endif %}>
          <object
            data="/img/logo-colorful.svg"
            type="image/svg+xml"
            width="158"
            height="56"
            aria-label="Sagara Logo"></object>
        </a>
      </div>

      <menu class="main">
        <li hidden>
          <a href="/">Home</a>
        </li>
        <li
          {% if page.url == "/products/" or products-now %}
          aria-current="page"
          {% endif %}>
          <a href="/products/">Products
            <i class="arrow"></i>
          </a>

          <nav class="popup">
            <menu class="submenu">
              {% render 'item-menu' for collections.products as item %}
            </menu>
            <a href="/products/" class="button pill">See All Products
              <i class="arrow"></i>
            </a>
          </nav>
        </li>
        <li
          {% if page.url == "/solutions/" or solutions-now %}
          aria-current="page"
          {% endif %}>
          <a href="/solutions/">Solutions
            <i class="arrow"></i>
          </a>

          <nav class="popup">
            <menu class="submenu">
              {% render 'item-menu' for collections.solutions as item %}
            </menu>
            <a href="/solutions/" class="button pill">See All Solutions
              <i class="arrow"></i>
            </a>
          </nav>
        </li>
        <li
          {% if page.url == "/consultations/" or consultations-now %}
          aria-current="page"
          {% endif %}>
          <a href="/consultations/">Consultations
            <i class="arrow"></i>
          </a>

          <nav class="popup">
            <menu class="submenu">
              {% render 'item-menu' for collections.consultations as item %}
            </menu>
            <a href="/consultations/" class="button pill">See All Consultations
              <i class="arrow"></i>
            </a>
          </nav>
        </li>
        <li
          {% if page.url == "/supports/" or supports-now %}
          aria-current="page"
          {% endif %}>
          <a href="/supports/">Supports
            <i class="arrow"></i>
          </a>

          <nav class="popup">
            <menu class="submenu">
              {% render 'item-menu' for collections.supports as item %}
            </menu>
            <a href="/supports/" class="button pill">See All Supports
              <i class="arrow"></i>
            </a>
          </nav>
        </li>
        <li
          {% if page.url == "/careers/" or career-now %}
          aria-current="page"
          {% endif %}>
          <a href="/careers/">Careers</a>
        </li>
        <li class="accessibility">
          <a href="#accesibility">
            <svg
              width="24"
              height="24"
              viewBox="0 0 32 32"
              aria-label="Jadi Logo">
              <use href="/img/icons/medium.svg#accessibility" />
            </svg>
          </a>
        </li>
      </menu>
    </header>

    <main class="{{ class }}">
      {{ content }}
    </main>

    <footer>
      <menu class="sitemap">
        <li>
          <h3>
            <a
              href="/products/"
              {% if page.url == "/products/" %}
              aria-current="page"
              {% endif %}>Products</a>
          </h3>
          <ol>
            {% render 'item-menu-footer'
              , items: collections.products
              , page_url: page.url %}
          </ol>
        </li>
        <li>
          <h3>
            <a
              href="/solutions/"
              {% if page.url == "/solutions/ %}
              aria-current="page"
              {% endif %}>Solutions</a>
          </h3>
          <ol>
            {% render 'item-menu-footer'
              , items: collections.solutions
              , page_url: page.url %}
          </ol>
        </li>
        <li>
          <h3>
            <a
              href="/consultations"
              {% if page.url == "/consultations/" %}
              aria-current="page"
              {% endif %}>Consultations</a>
          </h3>
          <ol>
            {% render 'item-menu-footer'
              , items: collections.consultations
              , page_url: page.url %}
          </ol>
        </li>
        <li>
          <ul>
            <li>
              <h3>
                <a
                  href="/supports/"
                  {% if page.url == "/supports/" %}
                  aria-current="page"
                  {% endif %}>Supports</a>
              </h3>
              <ol>
                {% render 'item-menu-footer'
                  , items: collections.supports
                  , page_url: page.url %}
              </ol>
            </li>
            <li>
              <h3>Corporate</h3>
              <ol>
                <li><a href="/careers/"{% if page.url == "/careers/" %} aria-current="page"{% endif %}>Career</a></li>
                <li><a href="/about/"{% if page.url == "/about/" %} aria-current="page"{% endif %}>About Sagara</a></li>
                <li><a href="/commitment-and-responsibility/"{% if page.url == "/commitment-and-responsibility/" %} aria-current="page"{% endif %}>Commitment and Responsibility</a></li>
              </ol>
            </li>
          </ul>
        </li>
      </menu>

      <i class="arrow gray thin"></i>

      <section class="legal">
        <p>&copy;{{ "now" | date: "%Y" }} PT. Sagara Xinix Solusitama</p>
        <menu>
          <li>
            {% render 'a-menu'
              , title: 'Terms of Use'
              , url: '/terms-of-use/'
              , page_url: page.url %}
          </li>
          <li>
            {% render 'a-menu'
              , title: 'Cookie Policy'
              , url: '/cookie-policy/'
              , page_url: page.url %}
          </li>
          <li>
            {% render 'a-menu'
              , title: 'Privacy Policy'
              , url: '/privacy-policy/'
              , page_url: page.url %}
          </li>
        </menu>
      </section>
    </footer>
  </body>

</html>