---
title: Sagara - A Mission Driven Technology Company in Indonesia
---

<!DOCTYPE html>
<html lang="en" class="nojs">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/bundle.css">
	<title>{{ title }}</title>
</head>

<body>
	<header>
		<div>
			<a href="/"><object data="/img/logo-colorful.svg" type="image/svg+xml" width="158" height="56"
					aria-label="Sagara Logo"></object></a>
		</div>

		<menu class="main">
			<li hidden><a href="/">Home</a></li>
			<li>
				<a href="/products">Products <i class="arrow"></i></a>

				<nav class="popup">
					<menu class="submenu">
						<li>
							<a href="/jadi">
								<svg width="128" height="128" viewBox="0 0 128 128" aria-label="Jadi Logo"
								>
									<use href="/img/icons/shadow.svg#jadi-scale"></use>
								</svg>
							</a>
							<a href="/jadi"><strong>Jadi</strong> - Legal Documents and Information System</a>
						</li>
						<li>
							<a href="/pm.os">
								<svg width="128" height="128" viewBox="0 0 128 128" aria-label="pm.os Logo"
								>
									<use href="/img/icons/shadow.svg#pm.os"></use>
								</svg>
							</a>
							<a href="/pm.os"><strong>pm.os</strong> - Project Management Office System</a>
						</li>
						<li>
							<a href="/hachemist">
								<svg width="128" height="128" viewBox="0 0 128 128" aria-label="Hachemist Logo"
								>
									<use href="/img/icons/shadow.svg#hachemist"></use>
								</svg>
							</a>
							<a href="/hachemist"><strong>Hachemist</strong> - Human Capital Management System</a>
						</li>
						<li>
							<a href="/itik">
								<svg width="128" height="128" viewBox="0 0 128 128" aria-label="Itik Logo"
								>
									<use href="/img/icons/shadow.svg#itik"></use>
								</svg>
							</a>
							<a href="/itik"><strong>Itik</strong> - Point of Sale and Ticketing System</a>
						</li>
					</menu>
					<a href="/products" class="button pill">See All Products <i class="arrow"></i></a>
				</nav>
			</li>
			<li>
				<a href="/solutions">Solutions <i class="arrow"></i></a>

				<nav class="popup">
					<menu class="submenu">
						<li>
							<a href="/lm.sys">
								<svg width="128" height="128" viewBox="0 0 128 128" aria-label="Lm.sys Logo"
								>
									<use href="/img/icons/shadow.svg#lm.sys"></use>
								</svg>
							</a>
							<a href="/lm.sys"><strong>lm.sys</strong> - Learning Management System</a>
						</li>
						<li>
							<a href="/dask">
								<svg width="128" height="128" viewBox="0 0 128 128" aria-label="Dask Logo"
								>
									<use href="/img/icons/shadow.svg#dask"></use>
								</svg>
							</a>
							<a href="/dask"><strong>Dask</strong> - Live Dashboard and Information System</a>
						</li>
						<li>
							<a href="/pagi">
								<svg width="128" height="128" viewBox="0 0 128 128" aria-label="Pagi Logo"
								>
									<use href="/img/icons/shadow.svg#pagi"></use>
								</svg>
							</a>
							<a href="/pagi"><strong>Pagi</strong> - Payment Gateway and Simponi Integration</a>
						</li>
						<li>
							<a href="/eyesee">
								<svg width="128" height="128" viewBox="0 0 128 128" aria-label="EyeSee Logo"
								>
									<use href="/img/icons/shadow.svg#eyesee"></use>
								</svg>
							</a>
							<a href="/eyesee"><strong>EyeSee</strong> - Integrated Security and Monitoring System</a>
						</li>
					</menu>
					<a href="/solutions" class="button pill">See All Solutions <i class="arrow"></i></a>
				</nav>
			</li>
			<li>
				<a href="/consultations">Consultations <i class="arrow"></i></a>

				<nav class="popup">
					<menu class="submenu">
						<li>
							<a href="/mobile-apps-development">
								<svg width="128" height="128" viewBox="0 0 128 128"
									aria-label="Mobile Apps Development Logo"
									>
									<use href="/img/icons/shadow.svg#mobile"></use>
								</svg>
							</a>
							<a href="/mobile-apps-development">Mobile Apps Development</a>
						</li>
						<li>
							<a href="/web-based-development">
								<svg width="128" height="128" viewBox="0 0 128 128"
									aria-label="Web-Based Development Logo"
									>
									<use href="/img/icons/shadow.svg#custom-development"></use>
								</svg>
							</a>
							<a href="/web-based-development">Web-Based Development</a>
						</li>
						<li>
							<a href="/web-and-interface-redesign">
								<svg width="128" height="128" viewBox="0 0 128 128"
									aria-label="Web and Interface Redesign Logo"
									>
									<use href="/img/icons/shadow.svg#website"></use>
								</svg>
							</a>
							<a href="/web-and-interface-redesign">Web and Interface Redesign</a>
						</li>
						<li>
							<a href="/redesign">
								<svg width="128" height="128" viewBox="0 0 128 128"
									aria-label="User Experience Redesign Logo"
									>
									<use href="/img/icons/shadow.svg#redesign"></use>
								</svg>
							</a>
							<a href="/redesign">User Experience Redesign</a>
						</li>
						<li>
							<a href="/mobile">
								<svg width="128" height="128" viewBox="0 0 128 128"
									aria-label="Accessibility Implementation Logo"
									>
									<use href="/img/icons/shadow.svg#accessibility"></use>
								</svg>
							</a>
							<a href="/mobile">Accessibility Implementation</a>
						</li>
						<li>
							<a href="/sustainable-emission-practices">
								<svg width="128" height="128" viewBox="0 0 128 128"
									aria-label="Sustainable Emission Practices Logo"
									>
									<use href="/img/icons/shadow.svg#emission-reduction"></use>
								</svg>
							</a>
							<a href="/sustainable-emission-practices">Sustainable Emission Practices</a>
						</li>
						<li>
							<a href="/businness-bootstrapping">
								<svg width="128" height="128" viewBox="0 0 128 128"
									aria-label="Business Bootstrapping Logo"
									>
									<use href="/img/icons/shadow.svg#bootstrap"></use>
								</svg>
							</a>
							<a href="/businness-bootstrapping">Business Bootstrapping</a>
						</li>
					</menu>
					<a href="/consultations" class="button pill">See All Consultations <i class="arrow"></i></a>
				</nav>
			</li>
			<li><a href="/supports">Supports <i class="arrow"></i></a></li>
			<li><a href="/career">Careers</a></li>
			<li class="accessibility">
				<a href="#accesibility">
					<svg width="24" height="24" viewBox="0 0 32 32" aria-label="Jadi Logo"
					>
						<use href="/img/icons/medium.svg#accessibility"></use>
					</svg>
				</a>
			</li>
		</menu>
	</header>

	<main>
		{{ content }}
	</main>

	<footer>
		<menu class="sitemap">
			<li>
				<h3><a href="/products">Products</a></h3>
				<ol>
					<li><a href="/jadi"><strong>Jadi</strong> - Legal Documents and Information System</a></li>
					<li><a href="/pm.os"><strong>pm</strong>.os - Project Management Office System</a></li>
					<li><a href="/hachemist"><strong>Hachemist</strong> - Human Capital Management System</a></li>
					<li><a href="/itik"><strong>Itik</strong> - Point of Sale and Ticketing System</a></li>
				</ol>
			</li>
			<li>
				<h3><a href="/solutions">Solutions</a></h3>
				<ol>
					<li><a href="/lm.sys"><strong>Lm.sys</strong> - Learning Management System</a></li>
					<li><a href="/dask"><strong>Dask</strong> - Live Dashboard and Information System</a></li>
					<li><a href="/pagi"><strong>Pagi</strong> - Payment Gateway and Simponi Integration</a></li>
					<li><a href="/eyesee"><strong>EyeSee</strong> - Integrated Security and Monitoring System</a></li>
				</ol>
			</li>
			<li>
				<h3><a href="/cosultations">Consultations</a></h3>
				<ol>
					<li><a href="/mobile-apps-development">Mobile Apps Development</a></li>
					<li><a href="/web-and-interface-redesign">Web and Interface Redesign</a></li>
					<li><a href="/web-based-development">Web-Based Development</a></li>
					<li><a href="/user-experiece-redesign">User Experience Redesign</a></li>
					<li><a href="/accesibility-implementation">Accessibility Implementation</a></li>
					<li><a href="/sustainable-emission-practices">Sustainable Emission Practices</a></li>
					<li><a href="/business-bootstrapping">Business Bootstrapping</a></li>
				</ol>
			</li>
			<li>
				<ul>
					<li>
						<h3><a href="/supports">Supports</a></h3>
						<ol>
							<li><a href="/request-for-demo">Request for Demo</a></li>
							<li><a href="/costumer-services">Costumer Services</a></li>
						</ol>
					</li>
					<li>
						<h3>Corporate</h3>
						<ol>
							<li><a href="/career">Career</a></li>
							<li><a href="/about">About Sagara</a></li>
							<li><a href="/commitment-and-responsibility">Commitment and Responsibility</a></li>
						</ol>
					</li>
				</ul>
			</li>
		</menu>

		<i class="arrow gray thin"></i>

		<section class="legal">
			<p>©2023 PT. Sagara Xinix Solusitama</p>
			<menu>
				<li><a href="/terms-of-use">Terms of Use</a></li>
				<li><a href="/cookie-policy">Cookie Policy</a></li>
				<li><a href="/privacy-policy">Privacy Policy</a></li>
			</menu>
		</section>
	</footer>
</body>

</html>