---
layout: main.html
---

{{ content }}

<section class="blue career">
	<article>
		<div>
			<div class="text">
				<h3 class="small">Join Our Team</h3>
				<p class="blue">Together we define a clearer narrative, expand our creativity, contribute to
					effective problem solving, and strive for collaborative excellence.</p>
			</div>

			<object data="/img/we-are-hiring.svg" type="image/svg+xml" width="132" height="132" aria-label="We are hiring"></object>
		</div>
		<menu class="submenu">
			<li>
				<svg width="26" height="26" viewBox="0 0 32 32" aria-label="Rack Icon">
					<use href="/img/icons/small.svg#rack"></use>
				</svg>
				<a href="/career/backend-developer-web-based">Backend Developer - Web-Based Solutions</a>
			</li>
			<li>
				<svg width="26" height="26" viewBox="0 0 32 32" aria-label="Mobile Icon">
					<use href="/img/icons/small.svg#mobile"></use>
				</svg>
				<a href="/career/backend-developer-mobile-based">Backend Developer - Mobile Based Solutions</a>
			</li>
			<li>
				<svg width="26" height="26" viewBox="0 0 32 32" aria-label="Interface Icon">
					<use href="/img/icons/small.svg#interface"></use>
				</svg>
				<a href="/career/user-interface-developer-web-based">User Interface Developer - Web-Based
					Solutions</a>
			</li>
			<li>
				<svg width="26" height="26" viewBox="0 0 32 32" aria-label="Experience Icon">
					<use href="/img/icons/small.svg#experience"></use>
				</svg>
				<a href="/career/user-experience-designer-mobile-and-web">User Experience Designer - Mobile and
					Web Solutions</a>
			</li>
		</menu>
		<a href="/career" class="button">See all open positions <i class="arrow"></i></a>
	</article>
</section>