---
layout: main.liquid
tags: supports
class: supports
supports-now: true
---

<section class="hero">
  <article>
    <div class="text">
      <h4>{{ tags }}</h4>
      <h1>{{ title }}</h1>
      <p>Please change this template.</p>
    </div>
    <a href="#request-demo" class="button cta">Request for Demo
      <i class="arrow"></i>
    </a>
  </article>
</section>

{{ content }}