---
layout: solutions.liquid

title: Pagi - Gateway Pembayaran dan Integrasi Simponi
title-strong: Pagi
title-description: Gateway Pembayaran dan Integrasi Simponi
description: Integrasikan proses transaksi online Anda saat ini dengan gateway pembayaran populer di Indonesia.termasuk Simponi, gerbang pembayaran pemerintah Indonesia resmi.
description-hero: <strong>Pagi</strong> Integrasi proses transaksi online Anda saat ini dengan gateway pembayaran populer di Indonesia termasuk Simponi, gerbang pembayaran pemerintah Indonesia resmi, untuk setiap transaksi online pemerintah resmi terkait.

img: /img/pagi/hero.webp
alt: Wanita memegang kartu kredit di depan laptop
svg: pagi

date: 1985-10-29
---

<section class="points">
  <div class="text">
    <h2>Fitur utama</h2>
    <p>Integrasikan
      <strong>Pagi</strong>
      dalam proses transaksi online Anda saat ini untuk memanfaatkan keamanan sementara pada saat yang sama mempromosikan transparansi melalui proses pembayaran.</p>
  </div>

  <div class="selection center-static">
    <ol>
      {% selection 160 128 "shadow" "compatible" "Compatible icon" %}
        <h3>Wide Compatibility</h3>
        <p>
          <strong>Pagi</strong>
          focused on various popular payment gateway in Indonesia, including Simponi.</p>
      {% endselection %}
      {% selection 160 128 "shadow" "secure" "Secure Icon" %}
        <h3>Secure and Encrypted</h3>
        <p>All transaction and data are transmitted and stored encrypted, ensuring strong security process.</p>
      {% endselection %}
      {% selection 160 128 "shadow" "audit-trail" "Audit-trail Icon" %}
        <h3>Audit Trail</h3>
        <p>Changes in transaction are stored in database, any changes are traceable.</p>
      {% endselection %}
    </ol>
  </div>
</section>

<section class="image">
  <article>
    <div class="text">
      <h2>What is Simponi?</h2>
      <p>Simponi is a system managed by the Directorate General of Budget at the Ministry of Finance of Indonesia. It serves as the official payment gateway for online transactions related to non-tax revenue (PNBP) in Indonesia.
        <a href="https://simponi.kemenkeu.go.id/" target="_blank">Learn more</a>.</p>
    </div>
  </article>
  <div class="img">
    <img
      src="/img/pagi/simponi.webp"
      width="1440"
      height=""
      alt="Man holding credit card infront of laptop" />
  </div>
</section>

<section class="slider icon">
  {% h2 svg title %}
    <h2>Quick Tour at Pagi Dashboard</h2>
    <p>
      <strong>Pagi</strong>
      come with audit trail dashboard that display all the transaction logs in easy to use interface, with the option to export it into common spreadsheet file for further usage.</p>
  {% endh2 %}

  <div class="scroll">
    <ul class="flat">
      <li>
        <img
          src="/img/pagi/dashboard.webp"
          width="1200"
          height="720"
          loading="lazy"
          alt="Pagi dashboard page" />
      </li>
      <li>
        <img
          src="/img/pagi/transactions.webp"
          width="1200"
          height="720"
          loading="lazy"
          alt="Pagi audit trail page" />
      </li>
    </ul>
  </div>
</section>

<section class="image">
  <article>
    <div class="text">
      <h2>Need to Develop a System or Web-Based System with Online Transaction?</h2>
      <p>At Sagara, we go beyond payment gateway integration. We offer comprehensive consultation and development services to build your custom system or web-based system with online transaction system aligned with your specific business needs.</p>
    </div>
    <a href="{{  "/consultations/" | locale_url }}" class="button cta">Learn About Our Consultations
      <i class="arrow"></i>
    </a>
  </article>
  <div class="img">
    <img
      src="/img/pagi/transaction.webp"
      width="1440"
      height=""
      alt="Man holding credit card infront of laptop" />
  </div>
</section>

<section class="points">
  <div class="text">
    <h2>Trusted By</h2>
    <p>These organizations have partnered with Sagara to powered their online transaction process with
      <strong>Pagi</strong>, delivering exceptional results.</p>
  </div>

  <div class="selection partners">
    <div class="scroll">
      <ol>
        {% selection_logo "loket" "LOKET - Ticketing Management Service Platform" %}
        {% selection_logo "kemenkumham" "Ministry of Law and Human Rights of Indonesia" %}
        {% selection_logo "bekraf" "Indonesian Agency for Creative Economy" %}
        {% selection_logo "tiketapasaja" "Tiket Apa Saja by Melon Music Indonesia" %}
      </ol>
    </div>
  </div>
</section>