---
layout: consultations.liquid

title: Accessibility Implementation
description: Ensure equal access for diverse audiences with disabilities through out your system.
description-hero: Implement and evaluate accessibility throughout the design process to ensure equal access for diverse audiences regardless of their abilities or disabilities.
svg: accessibility

tags:
- consultations
- experience

date: 1987-10-29
---

<section class="hero image image-outside no-shadow">
  <div class="img">
    <img
      src="/img/accessibility/hero.webp"
      width="1440"
      height=""
      alt="A women doing video call and talking using sign language" />
  </div>
</section>

<section class="blocks icon">
  {% h2 svg title %}
    <h2>A11y, Your Audience Matters</h2>
    <p>We're committed to creating inclusive systems, ensuring that all digital interactions are accessible to everyone, regardless of their abilities or disabilities. Accessibility (A11y) is the cornerstone of our technology mission.</p>
  {% endh2 %}

  <div class="dots"></div>

  <div class="bento">
    {% comment %} First row {% endcomment %}

    <div class="box big neon-green v-text-r">
      <div class="img stretch">
        <img
          src="/img/accessibility/support.webp"
          width=""
          height=""
          loading="lazy"
          alt="People gathering around, hands together in the middle" />
      </div>
      <div class="text">
        <h3>Equity, Inclusivity, and Flexibility</h3>
        <p>The basis of our accessibility implementation that benefits everyone regardless of their abilities or disabilities.</p>
      </div>
    </div>

    <div class="box small neon-blue h-text-b">
      <div class="img bottom">
        {% svg "wide.svg#listening" "320x160" "256x128" "Tailor Made Icon" %}
      </div>
      <div class="text">
        <h3>Listening to The Problems</h3>
        <p>Design answers the problems faced by your organization and your audience.</p>
      </div>
    </div>

    {% comment %} Second row {% endcomment %}

    <div class="box small blue-dark h-text-b">
      <div class="img bottom">
        {% svg "wide.svg#text-to-speech" "320x160" "256x128" "Text to speech Icon" %}
      </div>
      <div class="text left">
        <h3>Text-to-Speech Compatibility</h3>
        <p>Ensuring content accessibility for users with visual or reading impairments.</p>
      </div>
    </div>

    <div class="box small blue-deep h-text-b">
      <div class="img bottom">
        {% svg "wide.svg#usability-testing" "320x160" "256x128" "Usability testing Icon" %}
      </div>
      <div class="text left">
        <h3>Focus, Navigation, and Validation</h3>
        <p>Ensuring the implementation of tools that assist audience with disability.</p>
      </div>
    </div>

    <div class="box small blue-normal h-text-b">
      <div class="img bottom">
        {% svg "wide.svg#support" "320x160" "256x128" "Support Icon" %}
      </div>
      <div class="text left">
        <h3>WCAG 2 Implementation</h3>
        <p>Thorough implementation of Web Content Accessibility Guidelines.</p>
      </div>
    </div>

    {% comment %} Third row {% endcomment %}

    <div class="box small neon-blue h-text-b">
      <div class="img bottom">
        {% svg "wide.svg#documentation" "320x160" "256x128" "Documentation Icon" %}
      </div>
      <div class="text">
        <h3>Documentation and Training</h3>
        <p>Guidance and training for your organization to comply with accessibility practice.</p>
      </div>
    </div>

    <div class="box big blue-dark v-text-l">
      <div class="img stretch">
        <img
          src="/img/accessibility/together.webp"
          width=""
          height=""
          loading="lazy"
          alt="People high five-ing while sitting on office chair" />
      </div>
      <div class="text">
        <h3>Testing and User Feedback</h3>
        <p>Continous real-user testing and integrate their feedback into design iterations.</p>
      </div>
    </div>
  </div>
</section>

<section class="listing small">
  <div class="text">
    <h2>Complete The Whole User Experience</h2>
    <p>Complete your organization's user experience transformation journey by combining accessibility implementation with our diverse user experience redesign consultations. Create an enchanting system that caters to both your audience and your organization's vision and mission.</p>
  </div>
  <div class="selection">
    <ul>
      {% render 'item-listing' for collections.accessibility as item %}
    </ul>
  </div>
</section>