---
layout: consultations.liquid

title: Sustainability and Emission Reduction Practices
description: Addressing climate change with sustainable technologies, one system at a time.
description-hero: At the heart of our mission is a commitment to reduce emissions and implement sustainable solutions. We recognize the urgency of the climate crisis and believe that meaningful change begins with the thoughtful design and implementation of sustainable practices.
form-message: To further discuss about our Sustainability and Emission Reduction Practices initiative, please share your email, and we'll get in touch with you.
svg: emission-reduction

build-in: false
date: 1988-10-29
---

<section class="hero image image-outside no-shadow">
  <div class="img">
    <img
      src="/img/sustainability/hero.webp"
      width="1440"
      height=""
      alt="A small plant growing inside of discarded light bulb" />
  </div>
</section>

<section class="points">
  <div class="text">
    <h2>The Basis of The Reduction</h2>
    <p>As an Indonesian tech company, we're aware of our substantial electricity usage in a country heavily dependent on coal energy. To address this, we focus on continuous optimization and improvements across our systems implementation to reduce carbon emissions and lower energy consumption.</p>
  </div>

  <div class="dots"></div>

  <div class="selection center-static">
    <ol>
      {% selection "320x160" "256x128" "wide" "optimized" "Optimized icon" %}
        <h3>Fewer and Faster Processing Time</h3>
        <p>Optimizing our systems to perform fewer but faster by  design.</p>
      {% endselection %}
      {% selection "320x160" "256x128" "wide" "compress" "Compress Icon" %}
        <h3>Smaller System Resources</h3>
        <p>Reducing the size of system resources to minimize bandwidth usage.</p>
      {% endselection %}
      {% selection "320x160" "256x128" "wide" "reusable" "Reusable Icon" %}
        <h3>Component and System Reusability</h3>
        <p>Reusing components to reduce development time and energy consumption.</p>
      {% endselection %}
    </ol>
  </div>
</section>

<section class="journey">
  <div class="text">
    <h2>Our Sustainable Journey</h2>
    <p>We adapted our approach from the Agile development process, integrating efforts into every stage of development. Simultaneously, we also independently undertake the journey on your organization's established system to perform Sustainable Emission Practices journey.</p>
  </div>

  <div class="selection journey">
    <div class="scroll">
      <ol>
        {% selection_icon_plain "Assessment and Baseline Establishment" "Gather data on energy usage, emissions, and resource consumption to establish a baseline for current emission and energy consumption." "data-gathering" %}
        {% selection_icon_plain "Goal Setting" "Determine realistic and specific carbon reduction goals and targets." "requirements-gathering" %}
        {% selection_icon_plain "Emission Analysis" "Analyze key emission factors, and continuously measures and monitor during development" "carbon-analyst" %}
        {% selection_icon_plain "Efficiency Improvements" "Optimize code and size, choose energy-efficient hardware, and leverage scalable cloud services for efficient use." "effeciency" %}
        {% selection_icon_plain "Virtualization and Containerization" "Implement virtualization and containerization to maximize server utilization and reduction of physical servers." "virtualization-container" %}
        {% selection_icon_plain "Continuous Improvement" "Implement best practices, conduct energy-efficient testing, and monitor regularly." "continuous-improvement" %}
        {% selection_icon_plain "User Education and Engagement" "Raise awareness and promote energy-efficient practices." "education-engagement" %}
        {% selection_icon_plain "Reporting and Communication" "Communicate the sustainability efforts, publish regular reports on progress." "reporting-communication" %}
        {% selection_icon_plain "Continuous Review and Adaptation" "Conduct regular reviews and adapt the approach as necessary." "continuous-review" %}
      </ol>
    </div>
  </div>
</section>

<section class="image icon">
  <article class="row">
    {% h2 "emission-reduction" "Emission reduction" %}
      <h2>We Are Learning, and We Invite You to Join</h2>
      <p>Through innovation and sustainable strategies, we're committed to assisting organizations in reducing carbon emissions, improving energy efficiency, and positively impacting the environment.</p>
      <p>Together, we can collaboratively strive for a more sustainable and resilient future, addressing the challenges of climate change for generations to come.</p>
    {% endh2 %}

    {% h2 "csr" "CSR" %}
      <h2>Carbon Offsetting as Additional Initiative</h2>
      <p>We believe that carbon offset is not the ideal solution for reducing our emission, but we acknowledge the positive impact of carbon offset programs. We use carbon offset as an additional component of our corporate responsibility.</p>
      <p>Our main approach is by incorporating sustainability as a core value in our systems, along with continuous improvement.</p>
    {% endh2 %}
  </article>

  <div class="img">
    <img
      src="/img/sustainability/learning.webp"
      width="1440"
      height=""
      alt="A person openin a book outside in the grass field" />
  </div>
</section>