---
layout: consultations.liquid

title: Web-Based Development
description: Deliver a web-based system that matched your organization business requirements.
description-hero: Discover how Sagara can help you organization to build optimal web-based system that matched your organization business requirements.
svg: custom-development

class: web-based
date: 1984-10-29
---

<section class="hero image image-outside">
  <div class="img">
    <img
      src="/img/web-based/web-based-development-hero.webp"
      width="1440"
      height=""
      loading="lazy"
      alt="A woman browsing her laptop" />
  </div>
</section>

<section class="blocks icon">
  {% h2 svg title %}
    <h2>Web-Based Open-Source Technology Stacks for Development</h2>
    <p>Our approach, which utilizes dependable open-source technologies and draws from our extensive experience in developing numerous custom systems over the years, ensures the delivery of an optimal system that comprehensively addresses all your organization's operational requirements.</p>
  {% endh2 %}

  <div class="dots"></div>

  <div class="bento">
    {% comment %} First row {% endcomment %}

    <div class="box small neon-blue h-text-b center-mobile">
      <div class="img bottom">
        {% svg "wide.svg#tailor" "256x256" "256x256" "Tailor Made Icon" %}
      </div>
      <div class="text">
        <h3>Tailor-Made to Your Organization</h3>
      </div>
    </div>

    <div class="box big neon-green v-text-l">
      <div class="img top">
        <img
          src="/img/blocks/login.webp"
          width="404"
          height=""
          loading="lazy"
          alt="Login block" />
      </div>
      <div class="text">
        <h3>Data Privacy and Security Build In</h3>
        <p>We ensure that the systems we build prioritize your data privacy and implement robust security measures, including login methods such as PassKey or Single Sign-On (SSO)</p>
      </div>
    </div>

    {% comment %} Second row {% endcomment %}

    <div class="box small blue-cyan h-text-t">
      <div class="img top left">
        <img
          src="/img/blocks/notification/web-based.webp"
          width="445.5"
          height=""
          loading="lazy"
          alt="Web-based push notification" />
      </div>
      <div class="text">
        <h3>Push Notification</h3>
        <p>Give an option to user to get the important information as soon as possible.</p>
      </div>
    </div>

    <div class="box small blue-deep h-text-b center-mobile">
      <div class="img bottom">
        {% svg "wide.svg#roles" "340x170" "256x128" "User roles Icon" %}
      </div>
      <div class="text">
        <h3>Role-Based Access</h3>
        <p>Build in customizable settings to correctly assign access to the right person/group.</p>
      </div>
    </div>

    <div class="box small blue-deep h-text-b">
      <div class="img bottom right">
        <img
          src="/img/blocks/audit-trail.webp"
          width="1248"
          height=""
          loading="lazy"
          alt="Audit trail block" />
      </div>
      <div class="text">
        <h3>Audit Trails</h3>
        <p>Build in audit trails to reveal who has accessed your system, and any changes they have made.</p>
      </div>
    </div>

    {% comment %} Third row {% endcomment %}

    <div class="box medium blue-deep h-text-t">
      <div class="img top left">
        <img
          src="/img/blocks/ui.webp"
          width="785"
          height=""
          loading="lazy"
          alt="Sagara design system" />
      </div>
      <div class="text">
        <h3>Standardized User Interface</h3>
        <p>Build on top of our standardized design patterns to ensure that the user interface is not only useful and thoughtful but also visually pleasing.</p>
      </div>
    </div>

    <div class="box medium blue-cyan h-text-b no-wrap-mobile">
      <div class="img bottom">
        <img
          src="/img/blocks/devices.webp"
          width="140%"
          height=""
          loading="lazy"
          alt="Mupltiple devices icon with Sagara logo" />
      </div>
      <div class="text">
        <h3>Accessible Anywhere and Anytime</h3>
        <p>A web-based system offers availability and portability for both your organization and your customers, anytime and anywhere.</p>
      </div>
    </div>
  </div>
</section>

{% include 'development-journey' %}

<section class="slider">
  <div class="text">
    <h2>Quick Tour on Our Default Interface</h2>
    <p>Take a quick tour of our default interface with the build-in feature such as: member page, audit trail, and access management.</p>
  </div>

  <div class="scroll">
    <ul class="flat">
      <li>
        <img
          src="/img/web-based/login.webp"
          width="1200"
          height="720"
          loading="lazy"
          alt="Web-based default login page" />
      </li>
      <li>
        <img
          src="/img/web-based/dashboard.webp"
          width="1200"
          height="720"
          loading="lazy"
          alt="Web-based default dashboard page" />
      </li>
      <li>
        <img
          src="/img/web-based/activities.webp"
          width="1200"
          height="720"
          loading="lazy"
          alt="Web-based default activities page" />
      </li>
      <li>
        <img
          src="/img/web-based/members.webp"
          width="1200"
          height="720"
          loading="lazy"
          alt="Web-based default members page" />
      </li>
    </ul>
  </div>
</section>

<section class="image">
  <article>
    <div class="text">
      <h2>Considering Mobile Apps Deployment?</h2>
      <p>Explore your options with us, combining web-based and mobile app development to deliver an end-to-end solution that seamlessly operates natively across multiple platforms</p>
    </div>
    <a href="/mobile-apps-development/" class="button cta">Mobile App Development
      <i class="arrow"></i>
    </a>
  </article>
  <div class="img">
    <img
      src="/img/mobile/mobile-app-development.webp"
      width="1440"
      height=""
      alt="A women browsing pictures on her phone" />
  </div>
</section>

<section class="points">
  <div class="text">
    <h2>Trusted By</h2>
    <p>These organizations have collaborated with Sagara to implement a range of web-based development solutions in support of their business operations.</p>
  </div>

  <div class="selection partners">
    <div class="scroll">
      <ol>
        {% selection_logo "angkasapuraairports" "Angkasa Pura" %}
        {% selection_logo "yayasandarmabaktiastra" "Darma Bakti Astra Foundation" %}
        {% selection_logo "danone" "Danone<br/>Indonesia" %}
        {% selection_logo "ppatk" "Indonesian Financial Transaction Reports and Analysis Center" %}
        {% selection_logo "kemenkumham" "Ministry of Law and Human Rights of Indonesia" %}
        {% selection_logo "sarihusada" "Sari Husada" %}
        {% selection_logo "sugizindo" "Sugizindo" %}
      </ol>
    </div>
  </div>
</section>