/* Common mixin for displaying ::after ::before */

.block {
    display: flex;
    content: "";

    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--round-m);

    transition: all var(--fast) var(--ease-back);
}

.pointer {
    position: relative;
    z-index: 0;
    // cursor: pointer;
}

.before {
    @extend .pointer;

    &::before {
        @extend .block;
    }
}

.after {
    @extend .pointer;

    &::after {
        @extend .block;
    }
}

.after-before {
    @extend .pointer;

    &::before,
    &::after {
        @extend .block;
    }

    &::after {
        z-index: -2;
    }
}