@use 'variables';
@use 'typography';
@use 'after-before';
@use 'flex';

//
//! Bento style
//

.bento {
	@extend .flex-row-center;
	@extend .no-padding-margin;

	gap: var(--gap-xxl);
	flex-wrap: wrap;

	.box {
		color: var(--white-static);
		background: var(--neon-blue);
		border: 1px solid transparent;
		border-radius: var(--round-m);
		overflow: hidden;
		height: 26.25rem;

		@media screen and (min-width: variables.$screen-small-l) and (max-width: variables.$screen-normal-l) {
			height: 32rem;
		}

		.img {
			@extend .flex-row-center;

			--svg-stroke: var(--white-static);

			position: relative;
			z-index: 1;

			align-self: stretch;
			justify-self: stretch;
			flex: auto;
			padding: var(--pad-m);

			// image position

			&.top {
				align-items: flex-start;
			}

			&.right {
				justify-content: flex-end;
			}

			&.bottom {
				align-items: flex-end;
			}

			&.left {
				justify-content: flex-start;
			}

			&.stretch {
				padding: 0;

				img {
					width: 100%;
					height: 100%;
					margin: 0;
					object-fit: cover;
				}
			}
		}

		.text {
			@extend .flex-column;

			position: relative;
			z-index: 2;

			gap: var(--gap-s);

			h3 {
				@extend .h3--small;

				align-self: stretch;
			}

			p {
				@extend .p;

				align-self: stretch;
			}

			&.left {

				h3,
				p {
					text-align: left;
				}
			}
		}

		// Size

		--size: calc((100% - (var(--gap-xxl) * 2)) / 3);

		&.small {
			width: var(--size);

			@media screen and (max-width: variables.$screen-normal-l) {
				width: calc((var(--size) * 1.5) + (var(--gap-xxl) / 2));
			}

			@media screen and (max-width: variables.$screen-small-l) {
				width: 100%;
			}

			.text {
				padding: var(--pad-m) var(--pad-s);
				gap: calc(var(--gap-xs) / 2);

				@media screen and (max-width: variables.$screen-small-l) {
					padding: var(--pad-l) var(--pad-xl);
					gap: var(--gap-xs);
				}
			}
		}

		&.medium {
			width: calc((var(--size) * 1.5) + (var(--gap-xxl) / 2));

			@media screen and (max-width: variables.$screen-small-l) {
				width: 100%;
			}

			.img,
			.text {
				padding: var(--pad-m) var(--pad-s);

				@media screen and (max-width: variables.$screen-small-l) {
					padding: var(--pad-l);
				}
			}

			.text {
				gap: var(--gap-xs);

				@media screen and (max-width: variables.$screen-small-l) {
					padding: var(--pad-l) var(--pad-xl);
					gap: var(--gap-xs);
				}
			}
		}

		&.big {
			width: calc((var(--size) * 2) + var(--gap-xxl));

			@media screen and (max-width: variables.$screen-normal-l) {
				width: 100%;
			}

			.text {
				padding: var(--pad-s) var(--pad-l);

				@media screen and (max-width: variables.$screen-small-l) {
					padding: var(--pad-l) var(--pad-xl);
					gap: var(--gap-xs);
				}

				h3 {
					@extend .h3;
				}
			}
		}

		&.big-mobile {
			@media screen and (max-width: variables.$screen-normal-l) {
				width: 100%;
			}
		}

		// Style

		&.v-text-r {
			flex-direction: row;

			@media screen and (max-width: variables.$screen-small-l) {
				flex-direction: column;
				justify-content: flex-start;
			}

			.img,
			.text {
				order: 1;
				width: 50%;

				@media screen and (max-width: variables.$screen-small-l) {
					width: 100%;
					order: 3;
				}
			}

			.text {
				@extend .flex-column-center;

				order: 2;
			}
		}

		&.v-text-l {
			flex-direction: row;
			justify-content: flex-start;

			@media screen and (max-width: variables.$screen-small-l) {
				flex-direction: column;
			}

			.img {
				order: 2;
			}

			.text {
				@extend .flex-column-center;

				flex: none;
				width: 22.5rem;
				order: 1;

				@media screen and (max-width: variables.$screen-small-l) {
					width: 100%;
				}
			}
		}

		&.h-text-t {
			justify-content: flex-start;

			.img {
				order: 2;
			}

			.text {
				padding-bottom: 0;
				order: 1;
			}

			h3,
			p {
				text-align: center;
			}
		}

		&.h-text-b {
			justify-content: flex-end;

			.img {
				order: 1;
			}

			.text {
				padding-top: 0;
				order: 2;
			}

			h3,
			p {
				text-align: center;
			}
		}

		&.h-text-b-mobile {
			@media screen and (max-width: variables.$screen-small-l) {
				justify-content: flex-end;

				.img {
					order: 1;
				}

				.text {
					padding-top: 0;
					padding-bottom: var(--pad-l);
					order: 2;
				}

				h3,
				p {
					text-align: center;
				}
			}
		}

		&.center {
			justify-content: center;
			align-items: center;

			.img {
				flex: none;
			}
		}

		&.center-mobile {
			@media screen and (max-width: variables.$screen-normal-m) {

				&,
				.img {
					justify-content: center;
					align-items: center;
				}

				.img {
					flex: none;
				}
			}
		}

		// Color

		&.neon-blue {
			background: var(--neon-blue);

			.img {
				--svg-fill: var(--neon-blue);
			}
		}

		&.neon-green {
			color: var(--dark-static);
			background: var(--neon-green);

			.img {
				--svg-fill: var(--neon-green);
				--svg-stroke: var(--dark-static);
			}
		}

		&.blue-dark {
			background: var(--blue-dark);

			.img {
				--svg-fill: var(--blue-dark);
			}
		}

		&.blue-deep {
			background: var(--blue-deep);

			.img {
				--svg-fill: var(--blue-deep);
			}
		}

		&.blue-normal {
			background: var(--blue-normal);

			.img {
				--svg-fill: var(--blue-normal);
			}
		}

		&.blue-cyan {
			color: var(--white-normal);
			background: var(--blue-cyan);

			.img {
				--svg-fill: var(--blue-cyan);
			}
		}
	}

	// Compensating drop shadow inside image

	img {
		margin: calc(var(--gap-xs) * -1) calc(var(--gap-m) * -1) calc(var(--gap-xs) * -5)
	}

	.no-wrap,
	.round-shadow {
		img {
			margin: 0;
		}
	}

	.no-wrap-mobile {
		img {
			@media screen and (max-width: variables.$screen-normal-l) {
				margin: 0;
			}
		}
	}
}