@use 'typography';
@use 'selection';
@use 'after-before';
@use 'flex';
@use 'variables';

footer {
	@extend .flex-column-center;
	@extend .no-padding-margin;

	gap: var(--gap-xl);
	padding: var(--pad-l) var(--pad-xl) var(--pad-xxl);

	@media screen and (min-width: variables.$screen-small-l) {
		gap: var(--gap-xl);
		padding: var(--pad-xl);
	}

	a {
		@extend .before;

		color: var(--dark-normal);

		&::before {
			background: var(--gray-normal);
			border-radius: calc(var(--round-s) * 2);
			border: none;
			opacity: 0;
		}

		&:hover {
			&::before {
				top: calc(var(--size-4) * -1);
				left: calc(var(--size-12) * -1);
				right: calc(var(--size-12) * -1);
				bottom: calc(var(--size-4) * -1);
				opacity: 1;
			}
		}

		&[aria-current="page"] {
			position: relative;
			color: var(--neon-blue);
			cursor: default;

			&::before,
			&::after {
				display: none;
			}
		}
	}

	h3 a {

		&::before {
			background: var(--neon-blue);
		}

		&:hover {
			color: var(--white-normal);

			&::before {
				background: var(--neon-blue);
				top: calc(var(--size-8) * -1);
				left: calc(var(--size-16) * -1);
				right: calc(var(--size-16) * -1);
				bottom: calc(var(--size-8) * -1);
				opacity: 1;
			}
		}

		&[aria-current="page"] {
			color: var(--neon-blue);

			&::before,
			&::after {
				display: none
			}
		}
	}

	.sitemap,
	.legal {
		@extend .flex-row;

		align-self: center;

		width: 100%;
		max-width: var(--max-l);
	}

	.sitemap {
		--gap-x: var(--gap-xxl);
		--gap-y: calc(var(--gap-xl) / 2);

		@media screen and (max-width: variables.$screen-small-l) {
			--gap-x: var(--gap-l);
			--gap-y: calc(var(--gap-l) * 1.25);
		}

		gap: var(--gap-x);
		padding-bottom: var(--pad-l);
		flex-wrap: wrap;

		@media screen and (max-width: variables.$screen-small-l) {
			gap: calc(var(--gap-y) * 2);
		}

		ol,
		ul {
			@extend .flex-column;
			@extend .no-padding-margin;

			flex-wrap: wrap;
			gap: var(--gap-y);

			a[aria-current="page"] {
				--size: .35rem;
				--width: .5rem;
				--left: calc(var(--gap-m) * -1.15);

				&::before,
				&::after {
					position: absolute;
					top: 50%;

					display: block;
					height: var(--size);
					opacity: 1;

					background: transparent;
					border: .125rem solid var(--neon-blue);
					transform: translate(0, -50%);
				}

				&::after {
					width: var(--size);
					left: var(--left);
					border-left-color: transparent;
					border-radius: var(--round) var(--round) var(--round) 0;
				}

				&::before {
					width: var(--width);
					left: calc(var(--left) - var(--width));
					border-color: transparent;
					border-bottom-color: var(--neon-blue);
					border-radius: .125rem;
				}
			}
		}

		ul {
			gap: var(--gap-x);

			@media screen and (max-width: variables.$screen-small-l) {
				gap: calc(var(--gap-y) * 2);
			}
		}

		li {
			@extend .flex-column;
			@extend .no-padding-margin;

			gap: var(--gap-y);
			flex: 1 0 0;

			@media screen and (max-width: variables.$screen-normal-m) {
				width: calc(50% - (var(--gap-x) / 2));
				flex: none;

				li {
					width: initial;
				}
			}

			@media screen and (max-width: variables.$screen-small-l) {
				position: relative;
				width: 100%;

				ol li {
					&::before {
						content: "";
						display: block;

						position: absolute;
						top: calc(var(--gap-y) / -2);
						left: 0;
						right: calc(var(--gap-x) * -2);
						height: .0625rem;

						background: var(--gray-transparent);
					}
				}
			}
		}
	}

	.legal {
		align-items: flex-start;
		gap: var(--gap-xl);

		padding: 0;
		white-space: nowrap;

		@media screen and (max-width: variables.$screen-normal-m) {
			gap: var(--gap-m);
			flex-direction: column;

			menu {
				align-items: flex-start;
				justify-content: flex-start;
				align-self: flex-start;
				flex-wrap: wrap;
				gap: var(--gap-xs) var(--gap-m);
			}
		}

		li {
			@extend .flex-column-center;
			@extend .no-padding-margin;
		}
	}

	.arrow {
		margin-left: calc(var(--pad-xxl) * -1.5);
		width: calc(100% + var(--pad-xxl));

		@media screen and (max-width: variables.$screen-small-l) {
			display: none;
		}
	}
}