@use 'variables';
@use 'typography';
@use 'flex';

textarea,
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
input[type="radio"],
button {
	display: inline-block;
	color: var(--dark-normal);

	background: none;
	border: none;

	outline: none;
	appearance: none;
	resize: none;

	&::placeholder {
		color: var(--dark-normal);
	}
}

input[type="radio"],
input[type="checkbox"] {
	width: var(--bttn-l);
	height: var(--bttn-l);

	background: var(--white-normal) var(--check) center no-repeat;
	background-size: 0;

	border: 1px solid var(--gray-normal);
	border-radius: var(--round);

	transition: all var(--fast) var(--ease-back);

	&:checked {
		background-size: 100%;
	}
}

form {
	@extend .flex-column;

	gap: var(--gap-m);

	.row {
		@extend .flex-row;

		gap: var(--gap-m);

		.combined {
			flex: auto
		}
	}
}

.combined {
	@extend .flex-row-center;

	width: 100%;
	max-width: var(--max-s);
	min-height: 5.5rem;

	@media screen and (max-width: variables.$screen-small-l) {
		min-height: 3.5rem;
	}

	gap: var(--gap-l);

	flex: none;
	align-self: center;

	padding: calc(var(--pad-xs) * 2/3) var(--pad-m);

	@media screen and (max-width: variables.$screen-small-l) {
		padding: calc(var(--pad-xs) * 2/3) var(--pad-l);
	}

	background: var(--white-normal);
	border-radius: var(--round-l);

	transition: all var(--fast) var(--ease-back);

	input,
	textarea {
		width: 100%;
		min-width: 9rem;

		@media screen and (max-width: variables.$screen-small-l) {
			flex: auto;
			min-width: 0;
		}
	}

	button {
		@extend .a--cta;
	}

	svg {
		flex: none;

		width: 1.5rem;
		height: 1.5rem;
	}

	.cta {
		margin-right: calc(var(--pad-xs) * -1);

		@media screen and (max-width: variables.$screen-small-l) {
			margin-right: calc(var(--pad-xs) * -1/2);
		}
	}

	&.combined-mobile {
		@media screen and (max-width: variables.$screen-small-l) {
			flex-direction: column;
			gap: var(--gap-xs);

			label {
				align-self: flex-start;
			}

			.cta {
				align-self: flex-end;
			}
		}
	}

	&:hover {
		box-shadow: 0 0 0 .25rem var(--neon-green);
	}

	&.border {
		border: 1px solid var(--gray-transparent);
	}

	&.drop {
		cursor: pointer;

		input {
			display: none;
		}

		label {
			@extend .flex-row-center;
			@extend .p--small;

			gap: var(--gap-m);

			font-weight: initial;
			cursor: pointer;
		}
	}

	&.large {
		label {
			align-self: flex-start;
		}

		.button {
			align-self: flex-end;
		}
	}
}