@use 'variables';
@use 'typography';
@use 'flex';

textarea,
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
input[type="radio"],
button {
	display: inline-block;
	color: var(--dark-normal);

	background: none;
	border: none;

	outline: none;
	appearance: none;
	resize: none;

	&::placeholder {
		color: var(--dark-normal);
	}
}

input[type="radio"] {
	width: var(--bttn-l);
	height: var(--bttn-l);

	background: var(--white-normal) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='none' %3E%3Cpath stroke='%232B2727' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='m23.556 12.444-9.778 9.34L8 16.889'/%3E%3C/svg%3E") center no-repeat;
	background-size: 0;

	border: 1px solid var(--gray-normal);
	border-radius: var(--round);

	transition: all var(--fast) var(--ease-back);

	&:checked {
		background-size: var(--bttn-l);
	}
}

form {
	@extend .flex-column;

	gap: var(--gap-m);

	.row {
		@extend .flex-row;

		gap: var(--gap-m);

		.combined {
			flex: auto
		}
	}
}

.combined {
	@extend .flex-row-center;

	width: 100%;
	max-width: var(--max-s);
	min-height: 5.5rem;

	gap: var(--gap-l);

	flex: none;
	align-self: center;

	padding: calc(var(--pad-xs) * 2/3) var(--pad-s);

	background: var(--white-normal);
	border-radius: var(--round-l);

	transition: all var(--fast) var(--ease-back);

	input,
	textarea {
		width: 100%;
		min-width: 9rem;
	}

	button {
		@extend .a--cta;
	}


	&:hover {
		box-shadow: 0 0 0 .25rem var(--neon-green);
	}

	&.border {
		border: 1px solid var(--gray-transparent);
	}

	&.drop {
		cursor: pointer;

		input {
			display: none;
		}

		label {
			@extend .flex-row-center;

			gap: var(--gap-s);

			font-weight: initial;
			cursor: pointer;
		}
	}

	&.large {
		label {
			align-self: flex-start;
		}

		.button {
			align-self: flex-end;
		}
	}

	.cta {
		margin-right: calc(var(--pad-xs) * -1);
	}
}