@use 'variables';
@use 'fonts';
@use 'typography';
@use 'selection';
@use 'after-before';
@use 'flex';
@use 'animation';
@use 'list';
@use 'footer';
@use 'nojs';

//
//! Default stlyes
//

* {
    box-sizing: border-box;
}

html,
body {
    @extend .no-padding-margin;

    background: var(--white-normal);
}

header {
    @extend .flex-row-center;
    @extend .no-padding-margin;

    position: relative;
    z-index: 999;
    padding: var(--pad-2t) var(--pad-l);
    justify-content: space-between;

    >div {
        z-index: 3;
    }

    >menu {
        z-index: 2;
    }

    li {
        @extend .flex-column-center;

        gap: var(--gap-t);
        z-index: 3;
    }

    a {
        align-self: center;
        color: var(--dark-normal);
    }

    object {
        pointer-events: none;
    }

    .main>li {
        z-index: 2;

        >a {
            @extend .flex-row-center;
            z-index: 2;

            gap: var(--gap-t);

            @extend .before;

            &::before {
                background: var(--neon-green);
                border: none;
                opacity: 0;
            }

            .arrow {
                width: 1rem;

                &::before {
                    right: calc(var(--bttn-m) / 4);
                }

                &::after {
                    right: 0;
                }
            }
        }

        &:hover,
        &[aria-current="page"] {
            z-index: 1;

            >a {
                color: var(--dark-static);

                &::before {
                    top: calc(var(--bttn-m) / -2);
                    left: calc(var(--bttn-m) / -1.25);
                    right: calc(var(--bttn-m) / -1.25);
                    bottom: calc(var(--bttn-m) / -2);
                    opacity: 1;
                }
            }
        }

        &[aria-current="page"] {
            >a {
                color: var(--white-static);

                &::before {
                    background: var(--neon-blue);
                }
            }
        }

        >nav {
            opacity: 0;
            pointer-events: none;
            transform: translate(0, -2rem);
            transition: all var(--fast) var(--ease-back);
        }

        &:hover>nav {
            margin-top: 0;
            opacity: 1;
            transform: translate(0, 0);
            pointer-events: all;
        }
    }
}

menu {
    @extend .flex-row-center;
    @extend .no-padding-margin;

    gap: var(--gap-m);
    list-style: none;
}

nav.popup {
    @extend .flex-column-center;
    @extend .selection--minimal;
    @extend .before;

    position: absolute;
    z-index: 1;
    top: var(--pad-m);
    left: 0;
    right: 0;
    padding: var(--pad-2t) var(--pad-l);

    gap: var(--gap-m);

    &::before {
        top: calc(var(--pad-t) * 1.5);
        border-radius: 0;
        background: var(--white-transparent);
        box-shadow: 0 var(--pad-m) var(--pad-m) 0 rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(var(--pad-2s));
    }

    li {
        align-self: stretch;

        min-width: 8rem;
        width: calc(25% - var(--gap-m));
        max-width: 13.75rem;
    }

    menu {
        gap: calc(var(--gap-s) / 2) var(--gap-m);
        flex-wrap: wrap;
    }

    a {
        text-align: center;
    }
}

a {
    @extend .after-before;

    display: inline-block;
    background: transparent;
    border: none;
    cursor: pointer;

    &.default,
    &.button {
        @extend .flex-row-center;
        align-self: unset;

        gap: var(--bttn-s);
    }

    &.default {
        &.green {
            color: var(--neon-green);
        }

        &.blue {
            color: var(--neon-blue);
        }
    }

    &.button {
        color: var(--neon-blue);

        &::before,
        &::after {
            border-radius: var(--round);
        }
    }

    &.cta {
        padding: var(--bttn-m) var(--bttn-l);
        gap: calc(var(--bttn-s) * 2);
        color: var(--white-static);

        &::before,
        &::after {
            border-radius: var(--round);
            background: var(--neon-blue);
        }

        &::after {
            transform: translate(calc(var(--bttn-m) / 2), calc(var(--bttn-s) / 2));
            background: var(--neon-green);
        }

        &:hover {
            &::before {
                top: calc(var(--bttn-s) / -2);
                left: calc(var(--bttn-m) * -1);
                right: calc(var(--bttn-m) * -1);
                bottom: calc(var(--bttn-s) / -2);
            }
        }

        .arrow {
            width: calc(var(--bttn-s) * 4);
            margin-right: calc(var(--bttn-s) * -1);
        }

        &.small {
            padding: var(--bttn-s) var(--bttn-2s);

            &::after {
                transform: translate(calc(var(--bttn-s) / 2), calc(var(--bttn-s) / 4));
            }

            &:hover {
                &::before {
                    top: calc(var(--bttn-s) / -4);
                    left: calc(var(--bttn-s) / -1.5);
                    right: calc(var(--bttn-s) / -1.5);
                    bottom: calc(var(--bttn-s) / -4);
                }
            }
        }
    }

    &.pill {
        padding: var(--bttn-s) var(--bttn-m);
        gap: var(--bttn-s);
        color: var(--dark-normal);

        &::before {
            border: 1px solid var(--gray-transparent);
        }

        &:hover {
            color: var(--white-static);

            &::before {
                top: calc(var(--bttn-s) * -1/8);
                left: calc(var(--bttn-s) * -1/4);
                right: calc(var(--bttn-s) * -1/4);
                bottom: calc(var(--bttn-s) * -1/8);
                background: var(--neon-blue);
            }
        }

        &.blue {
            color: var(--white-static);

            &::before {
                background: var(--neon-blue);
            }
        }
    }

    .arrow {
        width: var(--bttn-l);
    }

    &:hover .arrow {
        &::before {
            right: var(--bttn-s);
        }

        &::after {
            right: calc(var(--bttn-m) / 2);
        }
    }

    input[type="submit"],
    button {
        color: currentColor;
        cursor: pointer;
    }
}

textarea,
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
button {
    display: inline-block;
    background: none;
    color: var(--dark-static);
    border: none;
    outline: none;

    &::placeholder {
        color: var(--dark-static);
    }
}

form {
    @extend .flex-column;
}

svg,
object,
embed {
    pointer-events: none;
}

section,
menu {

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        @extend .no-padding-margin;
    }

    a {
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
    }
}

main {
    @extend .flex-column;
    @extend .no-padding-margin;

    gap: var(--gap-l);
}

section {
    @extend .flex-column-center;
    @extend .no-padding-margin;

    padding: var(--pad-2s) var(--pad-m);
    gap: var(--gap-l);

    article {
        @extend .flex-column-center;
        @extend .no-padding-margin;

        gap: var(--gap-m);
    }
}

section.hero {
    article {
        padding: 0 var(--pad-l);
    }

    strong {
        color: var(--neon-blue);
    }

    img {
        width: var(--size-ss);
        height: auto;
        aspect-ratio: var(--aspect-ratio-ss);
        border-radius: var(--round-m);
        box-shadow: var(--shadow);
    }

    p {
        @extend .p--hero;
    }

    .text {
        align-items: center;
        gap: 0;

        >* {
            text-align: center;
        }

        h1 {
            margin-bottom: var(--gap-3t);
        }

        h4 {
            margin-bottom: calc(var(--gap-2t));
        }
    }
}

section.horizontal {
    @extend .flex-row;

    gap: var(--gap-l);

    h2 {
        @extend .h2--big;

        color: var(--blue-deep);
        flex: var(--size-one-third) 0 0;
    }

    p {
        @extend .p--hero;
    }

    .text {
        @extend .flex-column;

        gap: var(--gap-m);
        flex: 1 0 0;
    }
}

section.blue {
    padding: var(--pad-2s) calc(var(--pad-m) * 5 / 6);

    article {
        @extend .flex-column-start;

        padding: var(--pad-2s) var(--pad-m);
        gap: var(--gap-m);

        color: var(--white-static);

        border-radius: var(--round-m);
        background: var(--neon-blue);

        >div {
            @extend .flex-row;

            gap: var(--pad-m);
            justify-content: space-between;

            object {
                pointer-events: none;
                flex: none;
                margin: calc(var(--pad-2s) / -4) calc(var(--pad-2s) / -2) 0 0;
            }
        }
    }

    h3 {
        @extend .h3--small;

        color: var(--neon-green);
    }

    p {
        @extend .p--blue;
    }

    .text {
        gap: var(--gap-2t);
    }

    .submenu {
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 0 var(--gap-l);
        align-self: stretch;

        li {
            position: relative;
            z-index: 1;
            display: flex;
            padding: var(--pad-t) 0;
            align-items: flex-start;
            gap: calc(var(--gap-s) / 2);
            flex: calc(50% - var(--gap-s)) 0 0;

            a {
                display: flex;
                line-height: 1.625rem;
                flex: 1 0 0;
            }

            @extend .after-before;

            &:before {
                height: 1px;
                right: calc(var(--gap-s) * -2);
                background: var(--white-static);
                opacity: .25;
            }

            &:nth-child(even) {
                &:before {
                    right: 0;
                }
            }

            &:after {
                top: var(--pad-t);
                left: 0;
                right: 0;
                bottom: var(--pad-t);
                border-radius: var(--round-s);
            }

            svg {
                fill: var(--white-static);
            }

            &:hover {
                color: var(--dark-static);

                &:after {
                    top: var(--gap-2t);
                    left: calc(var(--gap-t) * -1);
                    right: calc(var(--gap-t) * -1);
                    bottom: var(--gap-2t);
                    background: var(--neon-green);
                }

                svg {
                    fill: var(--dark-static) !important;
                }
            }

        }
    }

    form {
        @extend .flex-row-center;

        gap: var(--gap-s);
        align-self: center;

        padding: calc(var(--pad-t) * 2/3) var(--pad-t) calc(var(--pad-t) * 2/3) var(--pad-2t);
        max-width: 30rem;

        background: var(--white-static);
        border-radius: var(--round);

        transition: all var(--fast) var(--ease-back);

        input {
            @extend .p;
            width: 100%;
        }

        button {
            @extend .a--cta;
        }

        &:hover {
            box-shadow: 0 0 0 .25rem var(--neon-green);
        }
    }
}

section.content {
    .text {
        @extend .flex-column;
        align-self: center;
        max-width: var(--max-wide);
    }

    .img {
        @extend .flex-row-center;

        margin: 0 calc(var(--pad-m) * -1);
        height: 30rem;
        overflow: hidden;
    }
}

article.history {
    @extend .flex-row;
    gap: var(--gap-m);
    padding: 0 var(--pad-l);

    date {
        @extend .flex-row-center;
        gap: var(--gap-2t);
        width: 15rem;
        flex: none;
        align-self: flex-start;

        .arrow {
            flex: 1;
        }
    }

    div {
        gap: var(--gap-2t);
    }
}

section.notfound {
    text-align: center;

    .text {
        @extend .flex-column-center;
        max-width: var(--max-medium);
        align-self: center;
    }

    div {
        @extend .flex-row-center;
        gap: var(--gap-s);
        margin-top: var(--pad-t);
    }

    padding-bottom: var(--pad-l);
}

section.background {
    position: relative;

    .img {
        z-index: 0;
        @extend .absolute;
        overflow: hidden;
    }

    .text {
        align-self: flex-end;
        padding: var(--pad-2t) var(--pad-2s);
        width: 28.75rem;
        z-index: 1;

        border-radius: var(--round-m);
        background: var(--gray-dynamic);
        backdrop-filter: blur(16px);
    }
}

section.listing {
    h1 {
        @extend .h1--listing;
    }

    ul,
    ol {
        @extend .flex-row;
        @extend .no-padding-margin;
        @extend .selection--static;

        gap: var(--gap-l);
        flex-wrap: wrap;

        li {
            gap: 0;
            padding: var(--pad-2s) var(--pad-2t);
            width: calc((100% - (var(--gap-l) * 2)) / 3);

            @for $i from 1 through 4 {
                &:nth-child(#{$i}) {
                    padding: var(--pad-2t) var(--pad-m);
                    width: calc(50% - (var(--gap-l) / 2));
                }
            }
        }

        svg {
            align-self: center;
            margin-bottom: var(--gap-s);
        }

        h3 {
            margin-bottom: calc(var(--gap-t) * 1.5);
            font-weight: 500;

            strong {
                font-weight: 600;
            }
        }

        a {
            margin-top: var(--gap-s);
            align-self: start;
        }

        p {
            @extend .p--regular;
        }
    }

    .text {
        max-width: var(--max-wide);
        padding: 0 var(--pad-s);

        p {
            @extend .p--hero;
        }
    }
}

section.static {

    ul,
    ol,
    .text {
        @extend .flex-column;

        gap: var(--gap-t);
    }

    .text {
        margin: 0 var(--pad-m);
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: var(--pad-2t) 0 calc(var(--pad-t) / 2);

        &:first-child {
            margin-top: 0;
        }
    }

    a {
        color: var(--neon-blue);
        text-decoration: underline;
    }
}

section.blocks {
    .text {
        gap: 0;

        h2 {
            @extend .h2--medium;
            margin-bottom: var(--gap-2t);
        }

        p {
            @extend .p--hero;
        }

        .icon {
            align-self: initial;

            background: var(--neon-blue);
            border-radius: var(--round);
            padding: var(--pad-t);
            margin-bottom: var(--gap-l);

            svg {
                --svg-fill: var(--neon-blue);
                --svg-stroke: var(--white-static);
            }
        }
    }
}

section.plain {
    p {
        @extend .p--hero;
    }
}

section.slider {
    p {
        @extend .p--hero;
    }

    .scroll {
        margin: calc(var(--pad-2t) * -1) calc(var(--pad-m) * -1) calc(var(--pad-l) * -1);
        overflow: hidden;

        ul {
            @extend .flex-row;

            flex-wrap: nowrap;
            gap: var(--gap-l);

            margin: 0 0 calc(var(--pad-2t) * -1);
            padding: var(--pad-2t) calc((100% - var(--size-ss)) / 2) calc(var(--pad-l) + var(--pad-2t));
            overflow-y: hidden;
            overflow-x: auto;
            scroll-snap-type: x mandatory;

            >li {
                scroll-snap-align: center;
            }
        }

        img {
            width: var(--size-ss);
            height: auto;
            aspect-ratio: var(--aspect-ratio-ss);
        }
    }
}

section.points {
    .text {
        p {
            @extend .p--hero;
        }
    }
}

div {
    @extend .flex-column-center;
}

noscript {
    @extend .flex-column;
    padding: 0 var(--pad-l);
}


//
//! Helper class
//

.text {
    @extend .flex-column;
    @extend .no-padding-margin;

    align-self: center;
    gap: var(--gap-s);

    max-width: var(--max-medium)
}

.number {
    article {
        @extend .flex-row;

        gap: var(--gap-l);

        h2 {
            flex: none;
            width: var(--size-one-third);
            color: var(--blue-deep);
        }

        ol {
            @extend .fake-ol;
        }
    }
}

//
//! Arrow insert
//

.arrow {
    @extend .flex-column-center;

    align-self: initial;
    width: calc(var(--bttn-s) * 6);

    @extend .after-before;

    &::before,
    &::after {
        top: initial;
        left: 0;
        right: calc(var(--bttn-m) / 4);
        bottom: initial;
        height: calc(var(--bttn-m) / 4);
        border-radius: 0;
        border-top: .125rem solid transparent;
        border-bottom: .125rem solid currentColor;
    }

    &::after {
        left: initial;
        right: 0;
        width: calc(var(--bttn-m) / 4);
        border-radius: calc(var(--bttn-m) / 4) calc(var(--bttn-m) / 4) calc(var(--bttn-m) / 4) 0;
        border: .125rem solid currentColor;
        border-left-color: transparent !important;
    }

    &.thin {

        &::before,
        &::after {
            border-top-width: 1px;
            border-bottom-width: 1px;
        }

        &::after {
            border-width: 1px;
        }
    }

    &.gray {
        &::before {
            border-bottom-color: var(--gray-normal);
        }

        &::after {
            border-color: var(--gray-normal);
        }
    }
}


//
//* Tabbing
//

.tabs {
    @extend .no-padding-margin;
    padding: var(--pad-2s) 0;
    margin-bottom: calc(var(--pad-s) * -1);
    overflow: hidden;

    input[type="radio"] {
        display: none;

        &:checked {

            // Add more if tab content is more than 3
            @for $i from 1 through 3 {

                // Current tab
                &:nth-of-type(#{$i})~nav .tab> :nth-child(#{$i}) label {
                    color: var(--white-static);

                    &:after {
                        border-color: var(--neon-blue);
                        background: var(--neon-blue);
                    }
                }

                // Current tab content
                &:nth-of-type(#{$i})~.content article:nth-child(#{$i}) {
                    position: relative;
                    z-index: 1;
                    width: initial;
                    margin: calc(var(--pad-s) * -1) 0 0;
                    opacity: 1;
                    pointer-events: all;

                    li {
                        opacity: 1;
                        transform: translate(0, 0);
                    }
                }
            }
        }
    }

    article {
        position: absolute;
        top: 0;
        z-index: 0;
        margin: calc(var(--pad-s) * -1) 0 0;
        width: 100vw;
        opacity: 0;
        overflow: hidden;

        pointer-events: none;
        transition: opacity var(--fast) ease-out;

        .scroll {
            margin: 0 0 calc(var(--pad-s) * -1);
            padding: var(--pad-s) var(--pad-m) var(--pad-2s);
            overflow-y: hidden;
            overflow-x: auto;
            scroll-snap-type: x mandatory;

            >li {
                scroll-snap-align: center;
                opacity: 0;
                transform: translate(0, 2rem);
                transition: transform var(--fast) var(--ease-back), opacity var(--fast) ease-out;

                // Add more if tab content is more than 8
                @for $i from 1 through 8 {
                    &:nth-child(#{$i}) {
                        transition-delay: #{$i*32}ms;
                    }
                }
            }
        }
    }

    nav {
        display: flex;
        flex-direction: row;
        padding: 0 calc(var(--pad-l) + var(--pad-m));
        align-items: center;
        gap: var(--gap-l);
        align-self: stretch;
    }

    .content {
        position: relative;
    }
}

.tab {
    @extend .flex-row-center;

    gap: calc(var(--gap-m) / 2);

    li {

        a,
        label {
            @extend .flex-row-start;
            @extend .after;

            padding: var(--bttn-s) var(--bttn-m);
            gap: 0;
            cursor: pointer;

            &:after {
                border-radius: var(--round);
                border: 1px solid var(--gray-transparent);
            }

            &:hover {
                color: var(--white-static);

                &:after {
                    top: calc(var(--bttn-s) / -8);
                    left: calc(var(--bttn-s) / -4);
                    right: calc(var(--bttn-s) / -4);
                    bottom: calc(var(--bttn-s) / -8);

                    border-color: var(--neon-blue);
                    background: var(--neon-blue);
                }
            }
        }
    }
}



//
//! Three dots
//

.dots {
    align-self: center;
    width: 5rem;
    height: 1rem;
    background-color: var(--gray-normal);
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='16' fill='%23000' viewBox='0 0 80 16'%3E%3Ccircle cx='8' cy='8' r='8'/%3E%3Ccircle cx='40' cy='8' r='8'/%3E%3Ccircle cx='72' cy='8' r='8'/%3E%3C/svg%3E");
}


//
//! Bento style
//

.bento {
    @extend .flex-row-center;
    @extend .no-padding-margin;

    gap: var(--gap-l);
    flex-wrap: wrap;

    .box {
        color: var(--white-static);
        background: var(--neon-blue);
        border-radius: var(--round-m);
        overflow: hidden;
        height: 26.25rem;

        .img {
            @extend .flex-column-center;

            align-self: stretch;
            justify-self: stretch;
            padding: var(--pad-s);

            // image position

            &.top {
                justify-content: flex-start;
            }

            &.right {
                align-items: flex-end;
            }

            &.bottom {
                justify-content: flex-end;
            }

            &.left {
                align-items: flex-start;
            }
        }

        .text {
            @extend .flex-column;

            gap: var(--gap-2t);

            h3 {
                @extend .h3--small;
                align-self: stretch;
            }

            p {
                @extend .p;
                align-self: stretch;
            }
        }

        // Size

        --size: calc((100% - (var(--gap-l) * 2)) / 3);

        &.small {
            width: var(--size);

            .text {
                padding: var(--pad-s) var(--pad-2t);
            }
        }

        &.medium {
            width: calc((var(--size) * 1.5) + (var(--gap-l) / 2));

            .text {
                padding: var(--pad-s) var(--pad-2t);
            }
        }

        &.big {
            width: calc((var(--size) * 2) + var(--gap-l));
            align-self: stretch;

            .text {
                padding: var(--pad-2t) var(--pad-2s);
            }
        }

        // Style

        &.v-text-r {
            flex-flow: row;

            .img,
            .text {
                order: 1;
                width: 50%;
            }

            .img {
                align-items: flex-end;
            }

            .text {
                @extend .flex-column-center;

                order: 2;
            }
        }

        &.v-text-l {
            flex-flow: row;

            .img {
                order: 2;
            }

            .text {
                order: 1;
            }
        }

        &.h-text-t {
            justify-content: flex-start;

            .img {
                order: 2;
            }

            .text {
                padding-bottom: 0;
                order: 1;
            }

            h3,
            p {
                text-align: center;
            }
        }

        &.h-text-b {
            justify-content: flex-end;

            .img {
                order: 1;
            }

            .text {
                padding-top: 0;
                order: 2;
            }

            h3,
            p {
                text-align: center;
            }
        }


        // Color

        &.neon-blue {
            background: var(--neon-blue);
        }

        &.neon-green {
            color: var(--dark-static);
            background: var(--neon-green);
        }

        &.blue-dark {
            background: var(--blue-dark);
        }

        &.blue-deep {
            background: var(--blue-deep);
        }

        &.blue-normal {
            background: var(--blue-normal);
        }

        &.blue-cyan {
            color: var(--white-normal);
            background: var(--blue-cyan);
        }
    }

    // Compensating drop shadow inside image

    img {
        margin: calc(var(--gap-t) * -1) calc(var(--gap-3t) * -1) calc(var(--gap-t) * -5)
    }

    .round-shadow {
        img {
            margin: 0;
        }
    }
}


//
//! Image rounded and with shadow
//

.round-shadow {
    img {
        margin: 0;
        border-radius: var(--round-m);
        box-shadow: var(--shadow-small);
        backdrop-filter: blur(var(--gap-2t));
    }

    &.big {
        img {
            box-shadow: var(--shadow);
        }
    }
}



//
//! Per page style
//

//* Home page

.home {
    .selection li {
        width: calc((100% - var(--pad-m) - (4 * var(--gap-s))) / 4);
    }

    .arrow {
        width: var(--pad-2s);
    }

    .hero {
        padding-top: var(--pad-m);

        h1 {
            @extend .h1--homepage;
            margin-bottom: var(--gap-s);
        }

        article {
            @extend .flex-column;
        }

        .text {
            max-width: initial;

            >* {
                text-align: left;
            }
        }
    }
}