@use 'variables';
@use 'fonts';
@use 'typography';
@use 'vertical';
@use 'after-before';
@use 'animation';
@use 'nojs';


/**
    Extend flex classess
**/

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: stretch;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: stretch;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.flex-row-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
}

.flex-column-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

.no-padding-margin {
    padding: 0;
    margin: 0;
}


/*
    Default stlyes
*/

* {
    box-sizing: border-box;
}

html,
body {
    @extend .no-padding-margin;

    background: var(--white-normal);
}

header {
    @extend .flex-row-center;
    @extend .no-padding-margin;

    position: relative;
    z-index: 999;
    padding: var(--pad-2t) var(--pad-l);
    justify-content: space-between;

    >div {
        z-index: 3;
    }

    >menu {
        z-index: 2;
    }

    li {
        @extend .flex-column-center;

        gap: var(--gap-t);
        z-index: 3;
    }

    a {
        align-self: center;
        color: var(--dark-normal);
    }

    object {
        pointer-events: none;
    }

    .main>li {
        z-index: 2;

        >a {
            @extend .flex-row-center;
            z-index: 2;

            gap: var(--gap-t);

            @extend .before;

            &::before {
                background: var(--neon-green);
                border: none;
                opacity: 0;
            }

            .arrow {
                width: 1rem;
            }
        }

        &:hover {
            z-index: 1;

            >a {
                color: var(--dark-static);

                &::before {
                    top: calc(var(--bttn-m) / -2);
                    left: calc(var(--bttn-m) / -1);
                    right: calc(var(--bttn-m) / -1);
                    bottom: calc(var(--bttn-m) / -2);
                    opacity: 1;
                }

                .arrow {
                    &::before {
                        right: calc(var(--bttn-m) / 4);
                    }

                    &::after {
                        right: 0;
                    }
                }
            }
        }

        >nav {
            opacity: 0;
            pointer-events: none;
            transform: translate(0, -2rem);
            transition: all var(--fast) var(--ease-out);
            transition-delay: 150ms;
        }

        &:hover>nav {
            margin-top: 0;
            opacity: 1;
            transform: translate(0, 0);
            pointer-events: all;
        }
    }
}

menu {
    @extend .flex-row-center;
    @extend .no-padding-margin;

    gap: var(--gap-m);
    list-style: none;
}

nav.popup {
    @extend .flex-column-center;
    @extend .before;

    position: absolute;
    z-index: 1;
    top: var(--pad-m);
    left: 0;
    right: 0;
    padding: var(--pad-2t) var(--pad-l);

    gap: var(--gap-m);

    &::before {
        top: calc(var(--pad-t) * 1.5);
        border-radius: 0;
        background: var(--white-transparent);
        box-shadow: 0 var(--pad-m) var(--pad-m) 0 rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(var(--pad-s));
    }

    li {
        @extend .flex-column;
        @extend .vertical--minimal;

        align-self: stretch;

        min-width: 8rem;
        width: calc(25% - var(--gap-m));
        max-width: 13.75rem;
    }

    menu {
        gap: calc(var(--gap-s) / 2) var(--gap-m);
        flex-wrap: wrap;
    }

    a {
        text-align: center;
    }
}

a {
    @extend .after-before;

    &.button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: var(--bttn-s);

        span {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        &::before,
        &::after {
            border-radius: var(--round);
        }
    }

    &.cta {
        padding: var(--bttn-m) var(--bttn-l);
        gap: calc(var(--bttn-s) * 2);

        span {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        &::before,
        &::after {
            border-radius: var(--round);
            background: var(--neon-blue);
        }

        &::after {
            transform: translate(calc(var(--bttn-m) / 2), calc(var(--bttn-s) / 2));
            background: var(--neon-green);
        }

        &:hover {
            &::before {
                top: calc(var(--bttn-s) / -2);
                left: calc(var(--bttn-m) * -1);
                right: calc(var(--bttn-m) * -1);
                bottom: calc(var(--bttn-s) / -2);
            }
        }

        .arrow {
            width: calc(var(--bttn-s) * 4);
            margin-right: calc(var(--bttn-s) * -1);
        }
    }

    &.pill {
        padding: var(--bttn-s) var(--bttn-m);
        gap: var(--bttn-s);

        &::before {
            border: 1px solid var(--gray-transparent);
        }

        &:hover {
            color: var(--white-normal);

            &::before {
                top: calc(var(--bttn-s) * -1/8);
                left: calc(var(--bttn-s) * -1/4);
                right: calc(var(--bttn-s) * -1/4);
                bottom: calc(var(--bttn-s) * -1/8);
                background: var(--neon-blue);
            }
        }
    }

    .arrow {
        width: var(--bttn-l);
    }

    &:hover .arrow {
        &::before {
            right: var(--bttn-s);
        }

        &::after {
            right: calc(var(--bttn-m) / 2);
        }
    }
}

section,
menu {

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        @extend .no-padding-margin;
    }

    a {
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
    }
}

main {
    @extend .flex-column;
    @extend .no-padding-margin;

    gap: var(--gal-l);
}

section {
    @extend .flex-column-center;
    @extend .no-padding-margin;

    padding: var(--pad-s) var(--pad-m);
    flex-direction: column;
    gap: var(--gap-l);
}

section.hero {
    padding-top: var(--pad-m);

    article {
        @extend .flex-column;

        padding: 0 var(--pad-l);
        gap: var(--gap-l);
    }

    strong {
        color: var(--neon-blue);
    }
}

section.horizontal {
    flex-direction: row;
    align-items: flex-start;
    gap: var(--gap-l);

    h2 {
        color: var(--blue-deep);
        flex: var(--size-one-third) 0 0;
    }

    .text {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--gap-m);
        flex: 1 0 0;
    }
}

section.blue {
    padding: var(--pad-s) calc(var(--pad-m) * 5 / 6);

    article {
        display: flex;
        padding: var(--pad-s) var(--pad-m);

        flex-direction: column;
        align-items: flex-start;
        gap: var(--gap-m);

        color: var(--white-static);

        align-self: stretch;
        border-radius: var(--round-m);
        background: var(--neon-blue);
    }

    h3 {
        color: var(--neon-green);
    }

    .submenu {
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 0 var(--gap-l);
        align-self: stretch;

        li {
            position: relative;
            z-index: 1;
            display: flex;
            padding: var(--pad-t) 0;
            align-items: flex-start;
            gap: calc(var(--gap-s) / 2);
            flex: calc(50% - var(--gap-s)) 0 0;

            a {
                display: flex;
                line-height: 1.625rem;
                flex: 1 0 0;
            }

            @extend .after-before;

            &:before {
                height: 1px;
                right: calc(var(--gap-s) * -2);
                background: var(--white-static);
                opacity: .25;
            }

            &:nth-child(even) {
                &:before {
                    right: 0;
                }
            }

            &:after {
                top: var(--pad-t);
                left: 0;
                right: 0;
                bottom: var(--pad-t);
                border-radius: var(--round-s);
            }

            svg {
                fill: var(--white-static);
            }

            &:hover {
                color: var(--dark-static);

                &:after {
                    top: var(--size-16);
                    left: calc(var(--size-8) * -1);
                    right: calc(var(--size-8) * -1);
                    bottom: var(--size-16);
                    background: var(--neon-green);
                }

                svg {
                    fill: var(--dark-static) !important;
                }
            }

        }
    }

    .text {
        @extend .flex-row;

        gap: var(--pad-m);

        div {
            @extend .flex-column;
            gap: calc(var(--gap-m) / 2);
            align-self: stretch;
        }

        object {
            pointer-events: none;
            flex: none;
            margin: calc(var(--pad-s) / -4) calc(var(--pad-s) / -2) 0 0;
        }
    }

    .button {
        color: var(--neon-green);
    }
}

section.content {
    .text {
        @extend .flex-column;
        align-self: center;
        max-width: var(--max-wide);
    }

    .img {
        @extend .flex-row-center;

        margin: 0 calc(var(--size-96) * -1);
        height: 30rem;
        overflow: hidden;
    }
}

article.history {
    @extend .flex-row;
    gap: var(--gap-m);
    padding: 0 var(--pad-l);

    date {
        @extend .flex-row-center;
        gap: var(--gap-2t);
        width: 15rem;
        flex: none;
        align-self: flex-start;

        .arrow {
            flex: 1;
        }
    }

    div {
        gap: var(--gap-2t);
    }
}

section.notfound {
    text-align: center;

    .text {
        @extend .flex-column-center;
        max-width: var(--max-medium);
        align-self: center;
    }

    div {
        @extend .flex-row-center;
        gap: var(--gap-s);
        margin-top: var(--pad-t);
    }

    padding-bottom: var(--pad-l);
}


.text {
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-s);
    align-self: stretch;

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        padding: 0;
        margin: 0;
    }
}

footer {
    @extend .flex-column-center;
    @extend .no-padding-margin;

    padding: var(--pad-s) var(--pad-m) var(--pad-2t);
    gap: var(--gap-m);

    a {
        @extend .before;

        &::before {
            background: var(--gray-normal);
            border-radius: calc(var(--round-s) * 2);
            border: none;
            opacity: 0;
        }

        &:hover {
            &::before {
                top: calc(var(--size-4) * -1);
                left: calc(var(--size-12) * -1);
                right: calc(var(--size-12) * -1);
                bottom: calc(var(--size-4) * -1);
                opacity: 1;
            }
        }
    }

    h3 a {
        &::before {
            background: var(--neon-blue);
        }

        &:hover {
            color: var(--white-normal);

            &::before {
                top: calc(var(--size-8) * -1);
                left: calc(var(--size-16) * -1);
                right: calc(var(--size-16) * -1);
                bottom: calc(var(--size-8) * -1);
                opacity: 1;
            }
        }
    }

    .sitemap,
    .legal {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: var(--max-ultrawide);
        align-self: center;
        width: 100%;
    }

    .sitemap {
        gap: var(--gap-l);
        padding-bottom: var(--pad-s);

        ol,
        ul {
            display: flex;
            margin: 0;
            padding: 0;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(var(--gap-m) / 2);
        }

        li {
            display: flex;
            padding: 0;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(var(--gap-m) / 2);
            flex: 1 0 0;
        }

        ul {
            gap: var(--gap-l);
        }
    }

    .legal {
        padding: 0;
        align-items: center;
        gap: var(--gap-m);
    }

    .arrow {
        margin-left: calc(var(--pad-l) * -1);
        width: calc(100% + var(--pad-l));
    }
}

.flat {
    @extend .flex-row;
    @extend .no-padding-margin;

    padding: 0;

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
    }
}

div {
    @extend .flex-column-center;
}

noscript {
    @extend .flex-column;
    padding: 0 var(--pad-l);
}



/*
    Arrow insert
*/

.arrow {
    @extend .flex-column-center;

    align-self: initial;
    width: calc(var(--bttn-s) * 6);

    @extend .after-before;

    &::before,
    &::after {
        top: initial;
        left: 0;
        right: calc(var(--bttn-m) / 4);
        bottom: initial;
        height: calc(var(--bttn-m) / 4);
        border-radius: 0;
        border-top: .125rem solid transparent;
        border-bottom: .125rem solid currentColor;
    }

    &::after {
        left: initial;
        right: 0;
        width: calc(var(--bttn-m) / 4);
        border-radius: calc(var(--bttn-m) / 4) calc(var(--bttn-m) / 4) calc(var(--bttn-m) / 4) 0;
        border: .125rem solid currentColor;
        border-left-color: transparent !important;
    }

    &.thin {

        &::before,
        &::after {
            border-top-width: 1px;
            border-bottom-width: 1px;
        }

        &::after {
            border-width: 1px;
        }
    }

    &.gray {
        &::before {
            border-bottom-color: var(--gray-normal);
        }

        &::after {
            border-color: var(--gray-normal);
        }
    }
}



/*
    Listing styles
*/

.box {
    @extend .flex-row-start;

    h3 {
        color: var(--blue-dark);
    }

    ul,
    ol {
        @extend .flex-row;

        gap: var(--gap-s);
    }

    li {
        @extend .vertical--default;

        width: calc((100% - var(--pad-m) - (4 * var(--gap-s))) / 4);
        flex: none;

        &.plain {
            @extend .no-padding-margin;

            width: var(--pad-m);
            border-radius: 0;
            border: 0;
            background-color: transparent;
            justify-content: center;

            &::before,
            &::after {
                display: none;
            }
        }
    }

    svg,
    object,
    embed {
        pointer-events: none;
    }

    .text {
        display: flex;
        padding: 0;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: var(--gap-t);
        align-self: stretch;
    }

    .arrow {
        width: var(--pad-s);
    }
}



/*
    Tabbing
*/

.tabs {
    @extend .no-padding-margin;
    padding: var(--size-64) 0;
    margin-bottom: calc(var(--size-32) * -1);
    overflow: hidden;

    input[type="radio"] {
        display: none;

        &:checked {

            // Add more if tab content is more than 3
            @for $i from 1 through 3 {

                // Current tab
                &:nth-of-type(#{$i})~nav .tab> :nth-child(#{$i}) label {
                    color: var(--white-normal);

                    &:after {
                        border-color: var(--neon-blue);
                        background: var(--neon-blue);
                    }
                }

                // Current tab content
                &:nth-of-type(#{$i})~.content article:nth-child(#{$i}) {
                    position: relative;
                    z-index: 1;
                    width: initial;
                    margin: calc(var(--size-32) * -1) 0 0;
                    opacity: 1;
                    pointer-events: all;

                    li {
                        opacity: 1;
                        transform: translate(0, 0);
                    }
                }
            }
        }
    }

    article {
        position: absolute;
        top: 0;
        z-index: 0;
        margin: calc(var(--size-32) * -1) 0 0;
        width: 100vw;
        opacity: 0;
        overflow: hidden;

        pointer-events: none;
        transition: opacity var(--fast) ease-out;

        .scroll {
            margin: 0 0 calc(var(--size-32) * -1);
            padding: var(--size-32) var(--size-96) var(--size-64);
            overflow-y: hidden;
            overflow-x: auto;
            scroll-snap-type: x mandatory;

            >li {
                scroll-snap-align: center;
                opacity: 0;
                transform: translate(0, 2rem);
                transition: transform var(--fast) var(--ease-back), opacity var(--fast) ease-out;

                // Add more if tab content is more than 8
                @for $i from 1 through 8 {
                    &:nth-child(#{$i}) {
                        transition-delay: #{$i*32}ms;
                    }
                }
            }
        }
    }

    nav {
        display: flex;
        flex-direction: row;
        padding: 0 calc(var(--pad-l) + var(--pad-m));
        align-items: center;
        gap: var(--gap-l);
        align-self: stretch;
    }

    .content {
        position: relative;
    }
}

.tab {
    @extend .flex-row-center;

    gap: calc(var(--gap-m) / 2);

    li {

        a,
        label {
            @extend .flex-row-start;
            padding: var(--bttn-s) var(--bttn-m);
            gap: 0;

            @extend .after;

            &:after {
                border-radius: var(--round);
                border: 1px solid var(--gray-transparent);
            }

            &:hover {
                color: var(--white-normal);

                &:after {
                    top: calc(var(--bttn-s) / -8);
                    left: calc(var(--bttn-s) / -4);
                    right: calc(var(--bttn-s) / -4);
                    bottom: calc(var(--bttn-s) / -8);

                    border-color: var(--neon-blue);
                    background: var(--neon-blue);
                }
            }
        }
    }
}

/*
    Three dots
*/

.dots {
    align-self: center;
    width: 5rem;
    height: 1rem;
    background-color: var(--gray-normal);
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='16' fill='%23000' viewBox='0 0 80 16'%3E%3Ccircle cx='8' cy='8' r='8'/%3E%3Ccircle cx='40' cy='8' r='8'/%3E%3Ccircle cx='72' cy='8' r='8'/%3E%3C/svg%3E");
}