@use 'variables';
@use 'typography';
@use 'selection';
@use 'after-before';
@use 'flex';

:root {
  --menu-shadow: 0 var(--pad-xl) var(--pad-xl) 0 rgba(0, 0, 0, 0.25);
}

header {
  @extend .flex-row-center;
  @extend .no-padding-margin;

  position: relative;
  z-index: 999;
  padding: var(--pad-s) var(--pad-xxl);
  justify-content: space-between;

  @media screen and (min-width: variables.$screen-wide-l) {
    padding-left: calc(((100vw - variables.$screen-wide-l) / 2) + var(--pad-xxl));
    padding-right: calc(((100vw - variables.$screen-wide-l) / 2) + var(--pad-xxl));
  }

  @media screen and (max-width: variables.$screen-wide-s) {
    padding: var(--pad-m) var(--pad-xl);
  }

  @media screen and (max-width: variables.$screen-normal-l) {
    padding: var(--pad-m);
  }

  >div {
    @extend .flex-row-center;

    z-index: 3;

    a {
      @extend .flex-row-center;
    }
  }

  li {
    @extend .flex-column-center;

    gap: var(--gap-xs);
    z-index: 3;

    @media screen and (max-width: variables.$screen-normal-l) {
      gap: var(--gap-xl);
    }
  }

  a {
    color: var(--dark-normal);
    align-self: center;
  }

  object {
    pointer-events: none;
  }

  label {
    cursor: pointer;
  }

  input[type=radio] {
    display: none;
  }
}

//
// ! Desktop and Mobile Menu switcher
//

#menu-close-trigger {
  @extend .flex-row-center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  cursor: auto;

  display: block;
}

#menu-close {
  &:checked+label {
    display: none;
  }
}

#menu-show-trigger {
  position: relative;
  z-index: 2;

  @media screen and (max-width: variables.$screen-normal-l) {
    display: flex;
  }

  i {
    @extend .flex-column-center;
    @extend .after-before;

    display: none;
    width: 2rem;
    height: 1rem;

    border-top: 2px solid var(--dark-normal);

    transition: all var(--fast) var(--ease-back);

    &::before,
    &::after {
      height: 2px;
      top: 50%;
      background-color: var(--dark-normal);

      transition: all var(--fast) var(--ease-back);
    }

    &::after {
      top: 1rem;
      right: .25rem;
    }

    @media screen and (max-width: variables.$screen-normal-l) {
      display: block;
    }
  }

  span {
    @extend .flex-row-center;

    gap: var(--gap-s);
    display: none;

    @media screen and (max-width: variables.$screen-normal-l) {
      display: flex;
    }
  }

  &+menu {

    @media screen and (max-width: variables.$screen-normal-l) {
      opacity: 0;
      transition: opacity var(--fast) var(--ease-back);
    }
  }
}

#menu-show {
  &:checked+label {
    i {
      border-color: transparent;

      &::before,
      &::after {
        top: 50%;
        transform: rotate(30deg);
        right: 0;
      }

      &::after {
        transform: rotate(-30deg);
      }
    }

    +menu {
      @media screen and (max-width: variables.$screen-normal-l) {
        opacity: 1;
      }
    }
  }
}

//
//! Popup menu
//

nav.menu {
  z-index: 2;

  >a {
    @extend .a--default;

    @media screen and (max-width: variables.$screen-normal-l) {
      display: flex;
    }
  }

  >label {
    >span {
      pointer-events: none;
    }

    @media screen and (max-width: variables.$screen-normal-l) {
      pointer-events: all;
    }
  }

  >menu {
    z-index: 2;

    @media screen and (max-width: variables.$screen-normal-l) {
      position: absolute;
      top: calc(var(--pad-m) * 2.5);
      right: 0;
      left: 0;

      padding: var(--pad-xxl) var(--pad-xl);

      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      pointer-events: none;

      background: var(--white-transparent);
      box-shadow: var(--menu-shadow);
      backdrop-filter: blur(var(--pad-l));
    }

    >li {
      z-index: 2;

      pointer-events: all;

      >label {
        display: block;
        align-self: stretch;
      }

      >a,
      >label a {
        @extend .flex-row-center;
        @extend .before;

        z-index: 2;

        flex: auto;
        gap: var(--gap-xs);

        @media screen and (max-width: variables.$screen-normal-l) {
          justify-content: flex-start;
        }

        &::before {
          background: var(--neon-green);
          border: none;
          opacity: 0;
        }

        .arrow {
          width: 1rem;

          @media screen and (max-width: variables.$screen-wide-m) {
            display: none;
          }

          @media screen and (max-width: variables.$screen-normal-l) {
            display: flex;
            width: 100%;
          }

          &::before {
            right: calc(var(--bttn-l) / 4);
          }

          &::after {
            right: 0;
          }
        }
      }

      >label a {
        pointer-events: none;
      }

      //
      //! Menu radio switcher
      //

      &:hover,
      &[aria-current="page"],
      input:checked {
        z-index: 1;

        >a,
        >label a,
        +label a {
          color: var(--dark-static);

          &::before {
            top: calc(var(--bttn-l) / -2);
            left: calc(var(--bttn-l) / -1.25);
            right: calc(var(--bttn-l) / -1.25);
            bottom: calc(var(--bttn-l) / -2);
            opacity: 1;
          }
        }
      }

      &[aria-current="page"] {

        >a,
        >label a,
        +label a {
          color: var(--white-static);

          &::before {
            background: var(--neon-blue);
          }
        }
      }

      input:checked {

        >a,
        >label a,
        +label a {
          color: var(--dark-static);

          &::before {
            background: var(--neon-green);
          }
        }
      }

      // Show menu popup

      >nav.popup {
        opacity: 0;
        pointer-events: none;
        transform: translate(0, -2rem);
        transition: all var(--fast) var(--ease-back);

        @media screen and (max-width: variables.$screen-normal-l) {
          display: none;
          transform: translate(0, 0);
          pointer-events: all;
        }
      }

      input:checked+label+nav.popup {
        margin-top: 0;
        opacity: 1;
        transform: translate(0, 0);

        @media screen and (max-width: variables.$screen-normal-l) {
          display: flex;
        }

        li,
        a {
          pointer-events: all;
        }
      }
    }
  }
}

nav.popup {
  @extend .flex-column-center;
  @extend .selection--minimal;
  @extend .before;

  position: absolute;
  z-index: 1;
  top: calc(var(--pad-m) * 3);
  left: 0;
  right: 0;
  padding: var(--pad-l) var(--pad-xxl) var(--pad-s);

  gap: var(--gap-xl);

  pointer-events: none;

  @media screen and (min-width: variables.$screen-wide-l) {
    padding-left: calc(((100vw - variables.$screen-wide-l) / 2) + var(--pad-xxl));
    padding-right: calc(((100vw - variables.$screen-wide-l) / 2) + var(--pad-xxl));
  }

  @media screen and (max-width: variables.$screen-wide-s) {
    top: calc(var(--pad-m) * 2.5);
  }

  @media screen and (max-width: variables.$screen-normal-l) {
    top: initial;
    position: static;
    padding: 0;
    gap: var(--pad-xs);
  }

  &::before {
    top: calc(var(--pad-xs) * 1.5);
    border-radius: 0;
    background: var(--white-transparent);
    box-shadow: var(--menu-shadow);
    backdrop-filter: blur(var(--pad-l));

    @media screen and (max-width: variables.$screen-normal-l) {
      background: unset;
      box-shadow: unset;
      backdrop-filter: unset;
    }
  }

  // submenu
  >menu {
    gap: calc(var(--gap-l) / 2) var(--gap-xl);
    flex-wrap: wrap;

    @media screen and (max-width: variables.$screen-normal-l) {
      justify-content: flex-start;
      margin: 0 calc(var(--bttn-s) * -1);
    }

    a {
      @extend .a--submenu;

      text-align: center;

      @media screen and (max-width: variables.$screen-normal-l) {
        text-align: left;
      }

      strong {
        font-weight: 600;
      }
    }
  }

  li {
    align-self: stretch;

    min-width: 12rem;
    width: calc(25% - var(--gap-xl));
    max-width: 13.75rem;

    @media screen and (max-width: variables.$screen-normal-l) {
      flex-direction: row;

      width: 100%;
      min-width: initial;
      max-width: initial;

      padding-top: calc(var(--bttn-s) / 3);
      padding-bottom: calc(var(--bttn-s) / 3);

      svg {
        width: 3rem;
        height: 3rem;
      }
    }
  }

  .button {
    @media screen and (max-width: variables.$screen-normal-l) {
      width: 100%;
    }
  }
}