#konamicode {
  position: fixed;
  z-index: 666666;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #000000CC;

  iframe {
    border-radius: 1rem;
  }
}