@use 'variables';
@use 'after-before';
@use 'flex';

//
// menu, ul, ol to be display as flat list without decoration
//

.flat {
  @extend .flex-row;
  @extend .no-padding-margin;

  padding: 0;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
  }
}

//
// Fake numbering, to be use for ol or ul
//

.fake-ol {
  @extend .flex-column;
  @extend .no-padding-margin;

  gap: var(--gap-l);
  max-width: var(--max-s);
  list-style: none;

  li {
    @extend .flex-column;
    @extend .before;

    gap: var(--gap-xs);
    padding-left: 2.75rem;

    &::before {
      @extend .flex-row-center;

      content: "-";

      width: 2rem;
      height: 2rem;
      font-weight: 500;

      background: var(--gray-dynamic);
    }

    @for $i from 1 through 15 {
      &:nth-child(#{$i})::before {
        content: "#{$i}";
      }
    }
  }
}