@use 'variables';
@use "flex";

html,
body {
  color: var(--dark-normal);

  font-family: "Golos Text", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

@mixin inline-bold {
  display: inline-block;
  font-weight: 600;
}

@mixin children-tags {
  transition: color var(--fast) var(--ease-out);

  strong {
    display: inline-block;
    font-weight: 700;
  }

  a {
    color: inherit;
    font-style: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
}

.h1 {
  @include inline-bold;
  @include children-tags;

  color: var(--blue-deep);
  font-size: 3.5rem;
  letter-spacing: -0.105rem;
  line-height: 100%;

  @media screen and (max-width: variables.$screen-normal-m) {
    font-size: 3.2rem;
    line-height: 105%;
  }

  @media screen and (max-width: variables.$screen-small-l) {
    font-size: 2.4rem;
    line-height: 110%;
  }

  &--homepage,
  &.homepage {
    font-size: 5.5rem;
    letter-spacing: -0.22rem;

    @media screen and (max-width: variables.$screen-normal-m) {
      font-size: 4rem;
      letter-spacing: -0.18rem;
    }

    @media screen and (max-width: variables.$screen-small-l) {
      font-size: 3rem;
      letter-spacing: -0.14rem;
    }
  }

  &--listing,
  &.listing {
    font-size: 4.875rem;
    letter-spacing: -0.14625rem;

    @media screen and (max-width: variables.$screen-normal-m) {
      font-size: 3.8rem;
      letter-spacing: -0.1rem;
    }

    @media screen and (max-width: variables.$screen-small-l) {
      font-size: 2.4rem;
      letter-spacing: -0.06rem;
    }
  }
}

h1 {
  @extend .h1;
}

.h2 {
  @include inline-bold;
  @include children-tags;

  font-size: 3rem;
  line-height: 110%;
  letter-spacing: -0.04rem;

  @media screen and (max-width: variables.$screen-normal-m) {
    font-size: 2.5rem;
  }

  @media screen and (max-width: variables.$screen-small-l) {
    font-size: 2rem;
  }

  &--big,
  &.big {
    font-size: 4rem;
    line-height: 90%;
    letter-spacing: -0.08rem;

    @media screen and (max-width: variables.$screen-normal-m) {
      font-size: 3.5rem;
    }

    @media screen and (max-width: variables.$screen-small-l) {
      font-size: 3rem;
    }
  }

  &--medium,
  &.medium {
    font-size: 2.6875rem;
    line-height: 120%;

    @media screen and (max-width: variables.$screen-normal-m) {
      font-size: 2.2rem;
    }

    @media screen and (max-width: variables.$screen-small-l) {
      font-size: 2rem;
    }
  }

  &--small,
  &.small {
    font-size: 2.25rem;
    line-height: 110%;

    @media screen and (max-width: variables.$screen-normal-m) {
      font-size: 2rem;
    }

    @media screen and (max-width: variables.$screen-small-l) {
      font-size: 1.8rem;
    }
  }

  &--smallest,
  &.smallest {
    font-size: 1.5rem;
    line-height: 150%;
    letter-spacing: .05rem;
  }
}

h2 {
  @extend .h2;
}

.h3 {
  @include inline-bold;
  @include children-tags;

  &--regular,
  & {
    font-size: 1.75rem;
    line-height: 120%;

    @media screen and (max-width: variables.$screen-small-l) {
      font-size: 1.5rem;
    }
  }

  &--small,
  &.small {
    font-size: 1.5rem;
    line-height: 130%;

    @media screen and (max-width: variables.$screen-small-l) {
      font-size: 1.3rem;
    }
  }

  &--big,
  &.big {
    font-size: 1.875rem;
    line-height: 130%;

    @media screen and (max-width: variables.$screen-small-l) {
      font-size: 1.6rem;
    }
  }
}

h3 {
  @extend .h3;
}

.h4 {
  @include inline-bold;
  @include children-tags;

  font-size: 1.25rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.05rem;
  text-transform: uppercase;

  @media screen and (max-width: variables.$screen-normal-m) {
    font-size: 1.1rem;
  }

  @media screen and (max-width: variables.$screen-small-l) {
    font-size: 1rem;
  }
}

h4 {
  @extend .h4;
}

.h5 {
  @include inline-bold;
  @include children-tags;
}

h5 {
  @extend .h5;
}

.p {
  @include children-tags;

  strong {
    font-weight: 500;
  }

  &,
  &--regular,
  &.regular {
    font-size: 1.125rem;
    line-height: 160%;
    letter-spacing: 0;

    @media screen and (max-width: variables.$screen-normal-m) {
      font-size: 1.1rem;
    }

    @media screen and (max-width: variables.$screen-small-l) {
      font-size: 1rem;
    }
  }

  &--small,
  &.small {
    font-size: 1rem;
    line-height: 140%;
    letter-spacing: 0.02rem;

    @media screen and (max-width: variables.$screen-small-l) {
      font-size: .9rem;
    }
  }

  &--hero,
  &.hero {
    font-size: 1.3125rem;
    line-height: 160%;

    @media screen and (max-width: variables.$screen-small-l) {
      font-size: 1rem;
    }
  }

  &--blue,
  &.blue {
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 130%;

    @media screen and (max-width: variables.$screen-small-l) {
      font-size: 1.5rem;
    }

    &.big {
      font-size: 2.25rem;

      @media screen and (max-width: variables.$screen-small-l) {
        font-size: 1.8rem;
      }
    }
  }
}

p,
li {
  @extend .p;
}

.a {
  text-decoration: none;

  &--default,
  &.default,
  &--button,
  &.button {
    font-size: 1.125rem;
    font-weight: 600;

    @media screen and (max-width: variables.$screen-normal-m) {
      font-size: 1rem;
      line-height: 140%;
    }
  }

  &--submenu,
  &.submenu {
    font-size: 1rem;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.03rem;
  }


  &--cta,
  &.cta {
    font-size: 1.25rem;
    line-height: normal;
    letter-spacing: 0.03rem;

    @media screen and (max-width: variables.$screen-normal-m) {
      font-size: 1.175rem;
    }

    @media screen and (max-width: variables.$screen-small-l) {
      font-size: 1.1rem;
    }
  }

  &--big,
  &.big {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.03rem;

    @media screen and (max-width: variables.$screen-normal-m) {
      font-size: 1.375rem;
    }

    @media screen and (max-width: variables.$screen-small-l) {
      font-size: 1.25rem;
    }
  }

}

a {
  @extend .a
}

b,
strong {
  @include inline-bold
}

form,
input,
button,
label,
textarea {
  @extend .no-padding-margin;
  @extend .p--regular;
}

label {
  font-weight: 600;
}

menu,
.tabs nav {

  h2,
  a,
  label {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.03375rem;

    @media screen and (max-width: variables.$screen-small-l) {
      font-size: 1rem;
      letter-spacing: 0;
    }
  }
}

footer {
  .sitemap {

    h3,
    li>a {
      font-style: normal;
    }

    h3 {
      font-size: 1.25rem;
      line-height: 150%;
      font-weight: 600;
    }

    li>a {
      font-size: 1rem;
      line-height: 140%;
      font-weight: 400;

      strong {
        font-weight: 600;
      }
    }
  }

  .legal {

    p,
    a {
      font-size: 1rem;
    }

    a {
      font-weight: 600;
    }
  }
}