//
// Screen size
//

$screen-wide-l: 1440px;
$screen-wide-m: 1280px;
$screen-wide-s: 1200px;
$screen-normal-l: 1024px;
$screen-normal-m: 900px;
$screen-normal-s: 768px;
$screen-small-l: 600px;
$screen-small-m: 400px;
$screen-small-s: 320px;
$screen-unsupported: 240px;


//
// CSS Variables
//

:root {
  //! Common variable, don't use, only for reference
  --size-4: .25rem;
  --size-8: .5rem;
  --size-12: .75rem;
  --size-16: 1rem;
  --size-24: 1.5rem;
  --size-32: 2rem;
  --size-48: 3rem;
  --size-64: 4rem;
  --size-96: 6rem;
  --size-128: 8rem;
  --size-160: 10rem;
  --size-190: 11.875rem;
  --size-big: 62.5rem;

  // Padding
  --pad-xs: var(--size-24);
  --pad-s: var(--size-32);
  --pad-m: var(--size-48);
  --pad-l: var(--size-64);
  --pad-xl: var(--size-96);
  --pad-xxl: var(--size-128);

  // Gap
  --gap-xs: var(--size-8);
  --gap-s: var(--size-16);
  --gap-m: var(--size-24);
  --gap-l: var(--size-32);
  --gap-xl: var(--size-48);
  --gap-xxl: var(--size-64);

  // Button
  --bttn-xs: var(--size-12);
  --bttn-s: var(--size-16);
  --bttn-m: var(--size-24);
  --bttn-l: var(--size-32);
  --bttn-xl: var(--size-48);

  // Rounded corner
  --round-s: var(--size-8);
  --round-m: var(--size-24);
  --round-l: var(--size-48);
  --round: var(--size-big);

  // Common size
  --size-one-third: 23.3333125rem;
  --size-ss: calc(90rem * 1200/1440);
  --aspect-ratio-ss: calc(1200 / 720);
  --aspect-ratio-ss-tablet: calc(1194 / 834);

  // Max size
  --max-s: 47.5rem;
  --max-m: 57.5rem;
  --max-l: 66rem;

  // Animation speed
  --fast: 400ms;
  --slow: 800ms;

  // Easing
  --ease-back: cubic-bezier(0.34, 1.56, 0.64, 1);
  --ease-out: cubic-bezier(0.1, 0.2, 0.2, 1.1);

  // Shadow
  --shadow: var(--gap-s) var(--gap-xl) var(--gap-xxl) 0 rgba(0, 0, 0, 0.25);
  --shadow-small: 0 var(--gap-s) var(--gap-m) 0 rgba(0, 0, 0, 0.25);
}


@media screen and (max-width: $screen-wide-m) {
  :root {
    --pad-xl: var(--size-64);
    --pad-xxl: var(--size-96);
  }
}

@media screen and (max-width: $screen-wide-s) {
  :root {
    --size-ss: calc(100vw - (var(--pad-xl) * 2));
  }
}

@media screen and (max-width: $screen-small-l) {
  :root {
    // Padding - modified
    --pad-xs: var(--size-16);
    --pad-s: var(--size-16);
    --pad-m: var(--size-16);
    --pad-l: var(--size-24);
    --pad-xl: var(--size-32);
    --pad-xxl: var(--size-64);

    // Gap - modified
    --gap-xs: var(--size-8);
    --gap-s: var(--size-8);
    --gap-m: var(--size-16);
    --gap-l: var(--size-16);
    --gap-xl: var(--size-32);
    --gap-xxl: var(--size-32);

    // Button - modified
    --bttn-xs: var(--size-8);
    --bttn-s: var(--size-12);
    --bttn-m: var(--size-16);
    --bttn-l: var(--size-24);
    --bttn-xl: var(--size-32);

    // Rounded corner - modified
    --round-s: var(--size-8);
    --round-m: var(--size-16);
    --round-l: var(--size-32);
    --round: var(--size-big);
  }
}

//
// Color collection
//

//! Light Mode

@media (prefers-color-scheme: light) {
  :root {
    --white-normal: #F9FAFC;
    --white-static: #F9FAFC;
    --white-transparent: #F9FAFCCC;

    --gray-normal: #E6DBDB;
    --gray-transparent: #E6DBDBCC;
    --gray-dynamic: #E6DBDBCC;
    --gray-high-contrast: #E6DBDB00;
    --gray-background: #A49D8514;

    --dark-normal: #2B2727;
    --dark-static: #2B2727;
    --dark-background: #00000033;

    --blue-dark: #002B76;
    --blue-deep: #003DAE;
    --blue-normal: #004BD0;
    --blue-cyan: #0096E1;

    --neon-blue: #0057F2;
    --neon-green: #2FFF86;

    --check: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='none' %3E%3Cpath stroke='%232B2727' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='m23.556 12.444-9.778 9.34L8 16.889'/%3E%3C/svg%3E")
  }
}

//! Dark Mode

@mixin dark-mode {
  --white-normal: #191A1B;
  --white-static: #d6d6d9;
  --white-transparent: #191A1B99;

  --gray-normal: #322F2FCC;
  --gray-transparent: #e6dbdb28;
  --gray-dynamic: #E6DBDB14;
  --gray-high-contrast: #E6DBDB00;
  --gray-background: #A49D8514;

  --dark-normal: #C1C1C2;
  --dark-static: #2B2727;
  --dark-background: #00000099;

  --blue-dark: #0242af;
  --blue-deep: #003fb5;
  --blue-normal: #0255e3;
  --blue-cyan: #037bb7;

  --neon-blue: #014ccd;
  --neon-green: #22c666;

  --check: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='none' %3E%3Cpath stroke='%23C1C1C2' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='m23.556 12.444-9.778 9.34L8 16.889'/%3E%3C/svg%3E")
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-mode;
  }
}

html.dark-mode {
  @include dark-mode;
}

//! High Contrast - Light Mode

html.high-contrast {
  --white-normal: #FFF;
  --white-static: #FFF;
  --white-transparent: #FFFFFFCC;

  --gray-normal: #E6DBDB;
  --gray-transparent: #43333399;
  --gray-dynamic: #43333399;
  --gray-high-contrast: #43333399;
  --gray-background: #A49D8514;

  --dark-normal: #000;
  --dark-static: #000;
  --dark-background: #00000033;

  &.dark-mode {
    --white-normal: #111;
    --white-static: #FFF;
    --white-transparent: #11199;

    --gray-normal: #433f3f;
    --gray-transparent: #99999999;
    --gray-dynamic: #999;
    --gray-high-contrast: #999;
    --gray-background: #A49D8533;

    --dark-normal: #FFF;
    --dark-static: #111;
    --dark-background: #00000099;

    --blue-dark: #0f5fe8;
    --blue-deep: #2568e5;
    --blue-normal: #266fec;
    --blue-cyan: #0096E1;

    --neon-blue: #0077ff;
    --neon-green: #2FFF86;
  }
}

//
// SVG color
//

:root {
  --svg-fill: var(--white-normal);
  --svg-stroke: var(--dark-normal);
  --svg-stroke-blue: var(--neon-blue);
}