@use 'after-before';

/* Vertical Component */

.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;

    @extend .after-before;

    &::before {
        background: var(--white-normal);
        border: 1px solid var(--gray-transparent);
        opacity: 0;
    }

    &::after {
        opacity: 0;
    }
}

.vertical--default {
    @extend .vertical;
    width: 16rem;
    padding: var(--bttn-l);
    justify-content: flex-start;
    gap: var(--bttn-s);

    &::before {
        border: 1px solid var(--gray-dynamic);
        background: var(--white-dynamic);
        opacity: 1;
    }

    &::after {
        display: flex;
        border-color: var(--gray-high-contrast);
        background: var(--gray-normal);
        opacity: 0;
    }

    &:hover {

        &::before,
        &::after {
            top: calc(var(--bttn-s) / -2);
            left: calc(var(--bttn-s) / -2);
            right: calc(var(--bttn-s) / -2);
            bottom: calc(var(--bttn-s) / -2);
            border-radius: var(--round-m);

            border-color: var(--gray-high-contrast);
            background: var(--gray-normal);

            opacity: 0;
        }

        &::after {
            opacity: 1;
        }
    }
}

.vertical--minimal {
    @extend .vertical;
    padding: var(--bttn-s);
    gap: calc(var(--bttn-s) / 2);

    &:hover {
        &::before {
            top: calc(var(--bttn-s) / -4);
            left: calc(var(--bttn-s) / -4);
            right: calc(var(--bttn-s) / -4);
            bottom: calc(var(--bttn-s) / -4);
            opacity: 1;
        }
    }
}