---
layout: main.liquid
title: Komitmen dan Responsibilitas
class: static
namespace: corporate
---

<section class="content">
  <div class="text insert">
    <h1 class="listing">{{ title }}</h1>
    <p class="hero">Didorong oleh komitmen yang kuat untuk masa depan yang berkelanjutan, kami terus memperbaiki pendekatan kami terhadap praktik keberlanjutan di semua operasi.Kami percaya pada masa depan di mana teknologi dapat diakses oleh semua orang, terlepas dari kemampuan mereka.Kami menghormati privasi digital dengan menangani informasi secara bertanggung jawab dan menghormati persetujuan digital audiens kami.Inti dari semua itu, kami tetap berkomitmen untuk pembelajaran dan evaluasi yang berkelanjutan dalam perjalanan kami secara keseluruhan.</p>
  </div>
</section>

<section class="hero image image-outside clip no-shadow">
  <div class="img">
    <img
      src="/img/commitment/principle.webp"
      alt="Empat anak tersenyum dan bermain banjo di lapangan hijau terbuka"
      width="1440"
      height=""
      loading="lazy" />
  </div>
</section>

<section class="points crop">
  <div class="text">
    <h2>Komitmen kami</h2>
    <p>Kami telah mengakui tanggung jawab kami untuk berkontribusi pada komunitas inti dan sekitar kami.Komitmen kami terhadap peningkatan berkelanjutan terbukti setiap tahun, tetapi tidak ingin berhenti dan selalu ingin meningkat setiap saat.</p>
  </div>
  <div class="dots"></div>
  <div class="selection center-static">
    <ol class="flat">
      {% selection "320x160" "256x128" "wide" "trusted" "Ikon Pertumbuhan Modal Manusia" %}
        <h3>Pertumbuhan Sumber Daya Manusia</h3>
        <p>Memprioritaskan pertumbuhan dan pengembangan rakyat kita sambil mengintegrasikan praktik keberlanjutan ke dalam etos perusahaan kita.</p>
      {% endselection %}
      {% selection "320x160" "256x128" "wide" "reusable" "Ikon Nilai Inti dalam Pengembangan Sistem" %}
        <h3>Nilai Inti dalam Pengembangan Sistem</h3>
        <p>Merancang dan mengembangkan sistem dengan fondasi dalam keberlanjutan, aksesibilitas, dan privasi untuk memenuhi kebutuhan saat ini dan berkontribusi pada masa depan yang berkelanjutan dan inklusif.</p>
      {% endselection %}
      {% selection "320x160" "256x128" "wide" "support" "Ikon Kemitraan Kolaboratif" %}
        <h3>Kemitraan Kolaboratif</h3>
        <p>Memalsukan kemitraan yang memprioritaskan pertumbuhan dan keberlanjutan yang bertanggung jawab, memastikan setiap langkah maju menguntungkan baik organisasi kita dan dunia di sekitar kita.</p>
      {% endselection %}
    </ol>
  </div>
</section>

<section class="number">
  <article>
    <h2 class="small">Pertumbuhan dan Keberlanjutan Sumber Daya Manusia</h2>
    <ol>
      <li>
        <h3 class="small">Transparansi</h3>
        <p>Kami menumbuhkan budaya keterbukaan dan transparansi, di mana komunikasi mengalir dengan mulus, memastikan kejelasan dan kepercayaan dalam komunitas kami.</p>
      </li>
      <li>
        <h3 class="small">Mendefinisikan nilai inti terbaik</h3>
        <p>Kami bertujuan untuk keunggulan dengan menetapkan nilai -nilai inti yang melebihi standar global, membentuk tempat kerja budaya yang mencontohkan puncak kebajikan modal manusia.</p>
      </li>
      <li>
        <h3 class="small">Mendefinisikan lingkungan kerja yang optimal</h3>
        <p>Komitmen kami meluas untuk menciptakan lingkungan kerja yang ideal, di mana kolaborasi berkembang, inovasi berkembang, dan setiap individu berkontribusi pada pengaturan yang harmonis dan produktif.</p>
      </li>
      <li>
        <h3 class="small">Pengembangan Perjalanan Karir</h3>
        <p>Mendefinisikan jalan menuju kesuksesan dengan struktur kepemimpinan yang jelas dan langkah -langkah strategis untuk perkembangan karir karyawan.Komitmen kami untuk memelihara bakat melampaui pekerjaan - ini adalah perjalanan pertumbuhan dan kepuasan.</p>
      </li>
      <li>
        <h3 class="small">Berinvestasi dalam Kesehatan Mental</h3>
        <p>Kami memprioritaskan kesejahteraan sumber daya manusia kami dengan berinvestasi dalam waktu berkualitas yang didedikasikan untuk kesehatan mental.Pendekatan holistik kami memastikan lingkungan kerja yang mendukung dan seimbang.</p>
      </li>
      <li>
        <h3 class="small">Ruang Kerja Hibrida dengan Solusi TI yang Berkelanjutan</h3>
        <p>Rangkul masa depan kerja dengan investasi kami di ruang kerja hibrida.Pendekatan berkelanjutan ini tidak hanya mendukung pengaturan kerja yang fleksibel tetapi juga selaras dengan komitmen kami terhadap keberlanjutan lingkungan.</p>
      </li>
    </ol>
  </article>
  <div class="dots"></div>
  <article>
    <h2 class="small">Nilai Inti dalam Pengembangan Sistem</h2>
    <ol>
      <li>
        <h3 class="small">Solusi TI yang berkelanjutan</h3>
        <p>Merangkul masa depan yang berkelanjutan dengan komitmen kami terhadap solusi berkelanjutan.Dari berinvestasi dalam infrastruktur berkelanjutan hingga berjuang untuk meningkatkan efisiensi dalam produk dan layanan, kami memengaruhi klien terhadap pilihan berkelanjutan, meminimalkan dampak karbon kami.</p>
      </li>
      <li>
        <h3 class="small">Aksesibilitas dalam Solusi Kami</h3>
        <p>Memprioritaskan inklusivitas, solusi kami mematuhi standar tertinggi, mematuhi WCAG 2.0.Kami memperjuangkan aksesibilitas di semua solusi, memastikan pengalaman digital yang mulus dan setara untuk setiap pengguna.</p>
      </li>
      <li>
        <h3 class="small">Pribadi</h3>
        <p>Menegakkan pilar etika data, komitmen kami terhadap privasi mencakup hak untuk melupakan, persetujuan digital, dan langkah -langkah privasi dan keamanan yang kuat.Dengan fokus yang tajam pada menjaga informasi sensitif, kami memastikan kepercayaan dan kerahasiaan dalam setiap interaksi.</p>
      </li>
      <li>
        <h3 class="small">Berbagi Pengetahuan dengan Komunitas</h3>
        <p>Komitmen kepada masyarakat melampaui teknologi.Kami secara aktif berbagi pengetahuan dan wawasan, mempromosikan kolaborasi, inovasi, dan pertumbuhan kolektif lanskap digital bersama kami, didorong oleh prinsip-prinsip sumber terbuka.</p>
      </li>
    </ol>
  </article>
  <div class="dots"></div>
  <article>
    <h2 class="small">Kemitraan Kolaboratif untuk Pertumbuhan yang Bertanggung Jawab</h2>
    <ol>
      <li>
        <h3 class="small">Pendekatan yang menyeluruh</h3>
        <p>Ketahuilah bahwa masa depan yang berkelanjutan mensyaratkan pendekatan holistik, menggabungkan hak manusia untuk membersihkan air dan makanan, merangkul produk alami dan organik, dan meminimalkan penggunaan bahan yang tidak dapat dicairkan.</p>
      </li>
      <li>
        <h3 class="small">Komitmen Energi Terbarukan</h3>
        <p>Berusaha keras untuk komitmen terhadap energi terbarukan, menenunnya ke dalam setiap aspek perjalanan investasi kami.Hindari solusi superfisial untuk membeli sertifikat energi terbarukan (RECS) atau offset karbon, menggunakannya hanya sebagai bentuk donasi daripada solusi.Sebaliknya, kami fokus pada praktik yang benar -benar mengurangi emisi kami.</p>
      </li>
      <li>
        <h3 class="small">Mendukung inisiatif berkelanjutan</h3>
        <p>Melampaui tindakan individu dan secara aktif mendukung inisiatif berkelanjutan.Apakah itu mempromosikan energi bersih, mengadvokasi kebijakan lingkungan, atau berinvestasi dalam proyek -proyek berkelanjutan, membuat kontribusi kami membuka jalan bagi dunia yang lebih hijau dan berkelanjutan.</p>
      </li>
      <li>
        <h3 class="small">Mempromosikan investasi berkelanjutan</h3>
        <p>Jadilah katalis untuk perubahan dengan secara aktif mempromosikan investasi berkelanjutan sebagai jalan yang kuat untuk transformasi positif.Dorong orang lain untuk menyelaraskan portofolio keuangan mereka dengan nilai-nilai berkelanjutan, membentuk gerakan kolektif menuju masa depan yang lebih cerah dan lebih sadar lingkungan.</p>
      </li>
    </ol>
  </article>
</section>

<section class="background">
  <div class="img">
    <img
      src="/img/commitment/csr.webp"
      width="100%"
      loading="lazy"
      alt="Dua kapal perdagangan berlayar di sungai yang dikelilingi oleh pohon hijau yang membawa berbagai peralatan memancing" />
  </div>
  <div class="text">
    <h2 class="medium">Laporan CSR 2024</h2>
    <p>Dari menumbuhkan keberlanjutan hingga memastikan privasi digital, laporan ini merangkum perjalanan kami menuju perubahan positif dan praktik bisnis yang bertanggung jawab sepanjang tahun.</p>
    <a href="#" class="button cta">Unduh
      <i class="arrow"></i>
    </a>
  </div>
</section>