---
layout: main.liquid
title: Komitmen dan Responsibilitas
class: static
namespace: corporate
---

<section class="content">
  <div class="text insert">
    <h1 class="listing">{{ title }}</h1>
    <p class="hero">Didorong oleh komitmen yang kuat untuk masa depan yang berkelanjutan, kami terus memperbaiki pendekatan kami terhadap praktik keberlanjutan di semua operasi.Kami percaya pada masa depan di mana teknologi dapat diakses oleh semua orang, terlepas dari kemampuan mereka.Kami menghormati privasi digital dengan menangani informasi secara bertanggung jawab dan menghormati persetujuan digital audiens kami.Inti dari semua itu, kami tetap berkomitmen untuk pembelajaran dan evaluasi yang berkelanjutan dalam perjalanan kami secara keseluruhan.</p>
  </div>
</section>

<section class="hero image image-outside clip no-shadow">
  <div class="img">
    <img
      src="/img/commitment/principle.webp"
      alt="Empat anak tersenyum dan bermain banjo di lapangan hijau terbuka"
      width="1440"
      height=""
      loading="lazy" />
  </div>
</section>

<section class="points crop">
  <div class="text">
    <h2>Komitmen kami</h2>
    <p>Kami telah mengakui tanggung jawab kami untuk berkontribusi pada komunitas inti dan sekitar kami.Komitmen kami terhadap peningkatan berkelanjutan terbukti setiap tahun, tetapi tidak ingin berhenti dan selalu ingin meningkat setiap saat.</p>
  </div>
  <div class="dots"></div>
  <div class="selection center-static">
    <ol class="flat">
      {% selection "320x160" "256x128" "wide" "trusted" "Ikon Kepedulian Terhadap Sesama" %}
        <h3>Kepedulian Terhadap Sesama</h3>
        <p>Menerapkan dan Mempromosikan aspek aksesibilitas dan dan privasi dalam produk dan layanan.</p>
      {% endselection %}
      {% selection "320x160" "256x128" "wide" "reusable" "Ikon Solusi Efektif yang Berkelanjutan" %}
        <h3>Solusi Efektif yang Berkelanjutan</h3>
        <p>Mengutamakan solusi efisien yang ramah lingkungan dan berkelanjutan.</p>
      {% endselection %}
      {% selection "320x160" "256x128" "wide" "support" "Ikon Keterlibatan dalam Kolaborasi" %}
        <h3>Keterlibatan dalam Berkolaborasi</h3>
        <p>Berperan aktif mendorong inovasi yang bermanfaat bersama komunitas.</p>
      {% endselection %}
    </ol>
  </div>
</section>

<section class="number image image-outside clip no-shadow">
  <article>
    <h2 class="small">Kepedulian Terhadap Sesama</h2>
    <ol>
      <li>
        <h3 class="small">Transparansi</h3>
        <p>Kami menumbuhkan budaya keterbukaan dan transparansi, di mana komunikasi mengalir dengan lancar, memastikan keterjelasan dan keterpercayaan dalam komunitas kami.</p>
      </li>
      <li>
        <h3 class="small">Aksesibilitas dalam Solusi Kami</h3>
        <p>Dengan memprioritaskan inklusivitas, solusi kami memiliki standar tertinggi dengan mengikuti standar WCAG 2.0. Kami memperjuangkan aksesibilitas di semua solusi, memastikan pengalaman digital yang lancar dan setara untuk semua pengguna.</p>
      </li>
      <li>
        <h3 class="small">Privasi dalam Solusi Kami</h3>
        <p>Dengan menegakkan pilar etika data, kami berkomitmen terhadap privasi, mencakup hak untuk dilupakan, persetujuan digital, dan langkah-langkah privasi dan keamanan yang kuat. Dengan fokuskan terhadap keamanan informasi yang sensitif, kami memastikan kepercayaan dan kerahasiaan dalam setiap interaksi.</p>
      </li>
      <li>
        <h3 class="small">Berinvestasi dalam Kesehatan Mental</h3>
        <p>Kami memprioritaskan kesejahteraan sumber daya manusia kami dengan berinvestasi dalam waktu berkualitas yang didedikasikan untuk kesehatan mental. Pendekatan holistik kami memastikan lingkungan kerja yang mendukung dan seimbang.</p>
      </li>
    </ol>
  </article>
  <div class="dots"></div>
  <article>
    <h2 class="small">Solusi Efektif yang Berkelanjutan</h2>
    <ol>
      <li>
        <h3 class="small">Pendekatan yang menyeluruh</h3>
        <p>Mengetahui bahwa masa depan yang berkelanjutan membutuhkan pendekatan yang menyeluruhh, dengan menginklusi hak dasar manusia seperti kebutuhan air bersih dan ketercukupan pangan, merangkul produk alami dan organik, dan meminimalkan penggunaan bahan yang tidak dapat didaur-ulang.</p>
      </li>
      <li>
        <h3 class="small">Komitmen Energi Terbarukan</h3>
        <p>Berusaha keras untuk komitmen terhadap energi terbarukan, menenunnya ke dalam setiap aspek perjalanan investasi kami. Menghindari solusi superfisial untuk membeli Sertifikat Energi Terbarukan (RECS) atau offset karbon. Kami menggunakannya hanya sebagai bentuk donasi daripada solusi. Sebaliknya, kami fokus pada praktik yang benar-benar mengurangi emisi kami.</p>
      </li>
      <li>
        <h3 class="small">Keberkelanjutan di dalam Solusi Kami</h3>
        <p>Merangkul masa depan yang berkelanjutan dengan komitmen kami terhadap solusi yang berkelanjutan. Dari berinvestasi dalam infrastruktur yang berkelanjutan hingga berjuang untuk meningkatkan efisiensi dalam produk dan layanan, kami juga mengadvokasi rekanan kami agar selalu memilih pilihan-pilihan yang berkelanjutan, sehingga meminimalkan dampak karbon kami.</p>
      </li>
      <li>
        <h3 class="small">Mendukung inisiatif berkelanjutan</h3>
        <p>Melampaui tindakan individu dan secara aktif mendukung inisiatif berkelanjutan. Baik dalam mempromosikan energi bersih, mengadvokasi kebijakan lingkungan, atau berinvestasi dalam proyek-proyek berkelanjutan. Sehingga kami berharap kontribusi kami membuka jalan bagi dunia yang lebih hijau dan berkelanjutan.</p>
      </li>
      <li>
        <h3 class="small">Ruang Kerja Hibrida</h3>
        <p>Rangkul masa depan kerja dengan investasi kami di ruang kerja hibrida. Pendekatan berkelanjutan ini tidak hanya mendukung pengaturan kerja yang fleksibel tetapi juga selaras dengan komitmen kami terhadap keberlanjutan lingkungan.</p>
      </li>
      <li>
        <h3 class="small">Mempromosikan investasi berkelanjutan</h3>
        <p>Menjadi katalis perubahan secara aktif dengan mempromosikan investasi berkelanjutan sebagai jalan utama untuk transformasi yang positif. Mendorong rekanan kami untuk menyelaraskan portofolio keuangan mereka dengan nilai-nilai yang berkelanjutan, membentuk gerakan kolektif menuju masa depan yang lebih cerah dan lebih sadar lingkungan.</p>
      </li>
    </ol>
  </article>
  <div class="dots"></div>
  <article>
    <h2 class="small">Keterlibatan dalam Berkolaborasi</h2>
    <ol>
      <li>
        <h3 class="small">Mendefinisikan nilai inti terbaik</h3>
        <p>Kami bertujuan untuk keunggulan dengan menetapkan nilai-nilai inti yang melebihi standar global, membentuk tempat kerja budaya yang mencontohkan puncak kebajikan modal manusia.</p>
      </li>
      <li>
        <h3 class="small">Mendefinisikan lingkungan kerja yang optimal</h3>
        <p>Komitmen kami meluas untuk menciptakan lingkungan kerja yang ideal, di mana kolaborasi berkembang, inovasi berkembang, dan setiap individu berkontribusi pada pengaturan yang harmonis dan produktif.</p>
      </li>
      <li>
        <h3 class="small">Pengembangan Perjalanan Karir</h3>
        <p>Mendefinisikan jalan menuju kesuksesan dengan struktur kepemimpinan yang jelas dan langkah-langkah strategis untuk perkembangan karir karyawan.Komitmen kami untuk memelihara bakat melampaui pekerjaan - ini adalah perjalanan pertumbuhan dan kepuasan.</p>
      </li>
      <li>
        <h3 class="small">Berbagi Pengetahuan dengan Komunitas</h3>
        <p>Komitmen kepada masyarakat melampaui teknologi.Kami secara aktif berbagi pengetahuan dan wawasan, mempromosikan kolaborasi, inovasi, dan pertumbuhan kolektif lanskap digital bersama kami, didorong oleh prinsip-prinsip sumber terbuka.</p>
      </li>
    </ol>
  </article>
  <div class="img">
    <img
      src="/img/commitment/principle2.webp"
      alt="Empat anak melompat di hutan hijau"
      width="1440"
      height=""
      loading="lazy" />
  </div>
</section>

<section class="core points crop">
  <div class="text">
    <h2>Nilai-nilai Inti Kami</h2>
    <p>Kerangka kerja operasional kami didukung oleh serangkaian prinsip dasar yang kami yakini akan memecahkan kode kompleksitas yang kami hadapi selama pengembangan solusi kami.</p>
  </div>
  <div class="dots"></div>
  <div class="selection core">
    <div class="scroll">
      <ol class="flat">
        {% selection "240x120" "256x128" "wide" "colaborative" "Ikon Kolaboratif" %}
          <h3>Kolaboratif</h3>
          <p>Membangun kepercayaan, menjaga komunikasi terbuka, dan memberdayakan tim dan mitra kami.</p>
        {% endselection %}
        {% selection "240x120" "256x128" "wide" "integrity" "Ikon Integritas" %}
          <h3>Integritas</h3>
          <p>Jujur, saling menghormati, dan memiliki kerendahan hati untuk mencapai tujuan keberlanjutan dan privasi.</p>
        {% endselection %}
        {% selection "240x120" "256x128" "wide" "initiative" "Ikon Inisiatif" %}
          <h3>Inisiatif</h3>
          <p>Menilai situasi secara mandiri dan mengusulkan kegiatan untuk memastikan aksesibilitas bagi semua pengguna.</p>
        {% endselection %}
        {% selection "240x120" "256x128" "wide" "agile" "Ikon Lincah" %}
          <h3>Lincah</h3>
          <p>Cepat serta tanggap, dan memiliki banyak ide dalam menginterpertasi dan mengelola proses bisnis yang bersifat dinamis.</p>
        {% endselection %}
        {% selection "240x120" "256x128" "wide" "adaptive" "Ikon adaptive" %}
          <h3>Adaptif</h3>
          <p>Menyesuaikan dengan cepat dan tangkas dalam menanggapi keadaan bisnis dan situasi global yang terus berkembang.</p>
        {% endselection %}
      </ol>
    </div>
  </div>
</section>

<section class="background">
  <div class="img">
    <img
      src="/img/commitment/csr.webp"
      width="100%"
      loading="lazy"
      alt="Kapal perdagangan berlayar di sungai yang dikelilingi oleh pohon hijau yang membawa berbagai peralatan memancing" />
  </div>
  <div class="text">
    <h2 class="medium">Laporan CSR 2024</h2>
    <p>Dari menumbuhkan keberlanjutan hingga memastikan privasi digital, laporan ini merangkum perjalanan kami menuju perubahan positif dan praktik bisnis yang bertanggung jawab sepanjang tahun.</p>
    <a href="#" class="button cta">Unduh
      <i class="arrow"></i>
    </a>
  </div>
</section>