---
layout: main-career.liquid
class: home
---

<section class="hero">
  <article>
    <div class="text">
      <h1>Kami adalah Perusahaan Teknologi Berbasis Misi di Indonesia</h1>
      <p>Teknologi produk dan layanan inovatif kami dirancang dengan komitmen mendalam terhadap
        <strong>keberlanjutan</strong>,
        <strong>aksesibilitas</strong>, dan
        <strong>privasi</strong>.</p>
    </div>
    <a href="{{  "/commitment-and-responsibility" | locale_url }}" class="button cta">
      <span class="mobile">Lebih lanjut</span>
      <span class="non-mobile">Pelajari tentang komitmen kami</span>
      <i class="arrow"></i>
    </a>
  </article>
</section>

<section class="tabs">
  <input
    type="radio"
    id="tabs1Products"
    name="tabs1"
    checked />
  <input
    type="radio"
    id="tabs1Solutions"
    name="tabs1" />
  <input
    type="radio"
    id="tabs1Consultations"
    name="tabs1" />

  <nav>
    <h2>Temukan:</h2>
    <menu class="flat tab submenu">
      <li>
        <label for="tabs1Products">Produk</label>
      </li>
      <li>
        <label for="tabs1Solutions">Solusi</label>
      </li>
      <li>
        <label for="tabs1Consultations">Konsultasi</label>
      </li>
    </menu>
  </nav>

  <div class="content">
    <article id="products" class="selection default">
      <h2 hidden>Products</h2>
      <div class="scroll">
        <ol class="flat">
          <li class="plain">
            <i class="arrow"></i>
          </li>
          {% render 'item' items: collections.products lang: page.lang %}
        </ol>
      </div>
    </article>

    <article id="solutions" class="selection default">
      <h2 hidden>Solutions</h2>
      <div class="scroll">
        <ol class="flat">
          <li class="plain">
            <i class="arrow"></i>
          </li>
          {% render 'item' items: collections.solutions lang: page.lang %}
        </ol>
      </div>
    </article>

    <article id="consultations" class="selection default">
      <h2 hidden>Consultations</h2>
      <div class="scroll">
        <ol class="flat">
          <li class="plain">
            <i class="arrow"></i>
          </li>
          {% render 'item' items: collections.consultations lang: page.lang %}
        </ol>
      </div>
    </article>
  </div>
</section>

<section class="horizontal">
  <h2>Di dalam<br/>Sagara</h2>

  <div class="text">
    <p>Di Sagara, kami berdedikasi untuk membuat perbedaan melalui teknologi inovatif yang memprioritaskan lingkungan, aksesibilitas, dan privasi. Komitmen kami akan mendorong kami untuk menciptakan teknologi yang tidak hanya bekerja dengan mulus tetapi juga memiliki dampak positif pada dunia di sekitar kita.</p>
    <a href="{{ "/about" | locale_url }}" class="default big blue">Tentang Sagara
      <i class="arrow"></i>
    </a>
  </div>
</section>