---
layout: main-career.liquid
title: Sagara - Sustainable Innovation
class: home
---

<section class="hero">
  <article>
    <div class="text">
      <h1>Promote &amp; Integrate Sustainability into Our Innovation</h1>
      <p>Our products and services are meticulously designed and developed with unwavering commitment to
        <strong>sustainability</strong>,
        <strong>accessibility</strong>, and
        <strong>privacy</strong>. 
        These principles drive us to create innovative solutions that have a positive impact on society.</p>
    </div>
    <a href="{{ "/commitment-and-responsibility" | locale_url }}" class="button cta">
      <span class="mobile">Learn more</span>
      <span class="non-mobile">Learn about our commitments</span>
      <i class="arrow"></i>
    </a>
  </article>
</section>

<section class="tabs">
  <input
    type="radio"
    id="tabs1Products"
    name="tabs1"
    checked />
  <input
    type="radio"
    id="tabs1Solutions"
    name="tabs1" />
  <input
    type="radio"
    id="tabs1Consultations"
    name="tabs1" />

  <nav>
    <h2>Discover our:</h2>
    <menu class="flat tab submenu">
      <li>
        <label for="tabs1Products">Products</label>
      </li>
      <li>
        <label for="tabs1Solutions">Solutions</label>
      </li>
      <li>
        <label for="tabs1Consultations">Consultations</label>
      </li>
    </menu>
  </nav>

  <div class="content">
    <article id="products" class="selection default">
      <h2 hidden>Products</h2>
      <div class="scroll">
        <ol class="flat">
          <li class="plain">
            <i class="arrow"></i>
          </li>
          {% render 'item' items: collections.products lang: page.lang %}
        </ol>
      </div>
    </article>

    <article id="solutions" class="selection default">
      <h2 hidden>Solutions</h2>
      <div class="scroll">
        <ol class="flat">
          <li class="plain">
            <i class="arrow"></i>
          </li>
          {% render 'item' items: collections.solutions lang: page.lang %}
        </ol>
      </div>
    </article>

    <article id="consultations" class="selection default">
      <h2 hidden>Consultations</h2>
      <div class="scroll">
        <ol class="flat">
          <li class="plain">
            <i class="arrow"></i>
          </li>
          {% render 'item' items: collections.consultations lang: page.lang %}
        </ol>
      </div>
    </article>
  </div>
</section>

<section class="horizontal">
  <h2>Inside<br/>Sagara</h2>

  <div class="text">
    <p>At Sagara, we are committed to making a positive impact through innovative technologies that prioritize sustainibility, accessibility, and privacy. Our goal is to achieve sustainable results by developing technologies that are not only seamless but also have a positive impact on society.</p>
    <a href="{{ "/about" | locale_url }}" class="default big blue">About Sagara
      <i class="arrow"></i>
    </a>
  </div>
</section>