---
layout: consultations.liquid

title: Implementasi Aksesibilitas
description: Memastikan akses yang berkesetaraan untuk beragam audiens yang beragam dengan disabilitas di seluruh sistem Anda.
description-hero: Menerapkan dan mengevaluasi aksesibilitas di seluruh proses desain untuk memastikan akses yang sama bagi audiens yang beragam terlepas dari kemampuan atau cacatnya.
svg: accessibility

tags:
- consultations
- experience

date: 1987-10-29
---

<section class="hero image image-outside no-shadow">
  <div class="img">
    <img
      src="/img/accessibility/hero.webp"
      width="1440"
      height=""
      loading="lazy"
      alt="A women doing video call and talking using sign language" />
  </div>
</section>

<section class="blocks icon">
  {% h2 svg title %}
    <h2>A11y, Audiens Anda Penting</h2>
    <p>Kami berkomitmen untuk menciptakan sistem yang inklusif, memastikan bahwa semua interaksi digital dapat diakses oleh semua orang, terlepas dari kemampuan atau disabilitas mereka. Aksesibilitas (A11y) adalah landasan misi teknologi kami.</p>
  {% endh2 %}

  <div class="dots"></div>

  <div class="bento">
    {% comment %} First row {% endcomment %}

    <div class="box big neon-green v-text-r">
      <div class="img stretch">
        <img
          src="/img/accessibility/support.webp"
          width=""
          height=""
          loading="lazy"
          alt="Orang-orang berkumpul, bergandengan tangan di tengah" />
      </div>
      <div class="text">
        <h3>Kesetaraan, Inklusivitas, dan Fleksibilitas</h3>
        <p>Dasar penerapan aksesibilitas kami yang bermanfaat bagi semua orang tanpa memandang kemampuan atau disabilitas mereka.</p>
      </div>
    </div>

    <div class="box small neon-blue h-text-b center-tablet">
      <div class="img bottom">
        {% svg "wide.svg#listening" "320x160" "256x128" "Ikon yang Dibuat Khusus" %}
      </div>
      <div class="text">
        <h3>Mendengarkan Masalah</h3>
        <p>Desain menjawab masalah yang dihadapi oleh organisasi Anda dan audiens Anda.</p>
      </div>
    </div>

    {% comment %} Second row {% endcomment %}

    <div class="box small blue-dark h-text-b center-tablet">
      <div class="img bottom">
        {% svg "wide.svg#text-to-speech" "320x160" "256x128" "Ikon teks ke ucapan" %}
      </div>
      <div class="text left">
        <h3>Kompatibilitas Teks-ke-Ucapan</h3>
        <p>Memastikan aksesibilitas konten bagi pengguna dengan kertebatasan fisik.</p>
      </div>
    </div>

    <div class="box small blue-deep h-text-b center-tablet">
      <div class="img bottom">
        {% svg "wide.svg#usability-testing" "320x160" "256x128" "Ikon pengujian kegunaan" %}
      </div>
      <div class="text left">
        <h3>Fokus, Navigasi, dan Validasi</h3>
        <p>Memastikan penerapan alat yang membantu penonton penyandang disabilitas.</p>
      </div>
    </div>

    <div class="box small blue-normal h-text-b center-tablet">
      <div class="img bottom">
        {% svg "wide.svg#support" "320x160" "256x128" "Ikon Dukungan" %}
      </div>
      <div class="text left">
        <h3>Implementasi WCAG 2</h3>
        <p>Penerapan Pedoman Aksesibilitas Konten Web secara menyeluruh.</p>
      </div>
    </div>

    {% comment %} Third row {% endcomment %}

    <div class="box small big-mobile neon-blue h-text-b center-tablet">
      <div class="img bottom">
        {% svg "wide.svg#documentation" "320x160" "256x128" "Ikon Dokumentasi" %}
      </div>
      <div class="text">
        <h3>Dokumentasi dan Pelatihan</h3>
        <p>Panduan dan pelatihan bagi organisasi Anda untuk mematuhi praktik aksesibilitas.</p>
      </div>
    </div>

    <div class="box big blue-dark v-text-l">
      <div class="img stretch">
        <img
          src="/img/accessibility/together.webp"
          width=""
          height=""
          loading="lazy"
          alt="Orang - orang mabuk berat sambil duduk di kursi kantor" />
      </div>
      <div class="text">
        <h3>Pengujian dan Umpan Balik Pengguna</h3>
        <p>Pengujian pengguna nyata berkelanjutan dan mengintegrasikan umpan balik mereka ke dalam iterasi desain.</p>
      </div>
    </div>
  </div>
</section>

<section class="listing small">
  <div class="text">
    <h2>Lengkapi seluruh Pengalaman Pengguna</h2>
    <p>Selesaikan perjalanan transformasi pengalaman pengguna organisasi Anda dengan menggabungkan implementasi aksesibilitas dengan konsultasi desain ulang pengalaman pengguna kami yang beragam. Buat sistem mempesona yang melayani audiens Anda dan visi serta misi organisasi Anda.</p>
  </div>
  <div class="selection">
    <ul>
      {% render 'item-listing' items: collections.accessibility lang: page.lang buttons: buttons %}
    </ul>
  </div>
</section>