---
layout: consultations.liquid

title: Praktik Keberlanjutan - Pengurangan Emisi
description: Mengatasi perubahan iklim dengan teknologi berkelanjutan, satu sistem pada satu waktu.
description-hero: Inti dari misi kami adalah komitmen untuk mengurangi emisi dan menerapkan solusi berkelanjutan.Kami mengakui urgensi krisis iklim dan percaya bahwa perubahan yang bermakna dimulai dengan desain yang bijaksana dan implementasi praktik berkelanjutan.
form-message: Untuk membahas lebih lanjut tentang inisiatif praktik keberlanjutan dan pengurangan emisi kami, silakan bagikan email Anda, dan kami akan menghubungi Anda.
svg: emission-reduction

build-in: false
date: 1988-10-29
---

<section class="hero image image-outside no-shadow">
  <div class="img">
    <img
      src="/img/sustainability/hero.webp"
      width="1440"
      height=""
      loading="lazy"
      alt="A small plant growing inside of discarded light bulb" />
  </div>
</section>

<section class="points crop">
  <div class="text">
    <h2>Dasar Pengurangan</h2>
    <p>Sebagai perusahaan teknologi Indonesia, kami menyadari penggunaan listrik substansial kami di negara yang sangat bergantung pada energi batubara.Untuk mengatasi hal ini, kami fokus pada optimasi dan peningkatan berkelanjutan di seluruh implementasi sistem kami untuk mengurangi emisi karbon dan menurunkan konsumsi energi.</p>
  </div>

  <div class="dots"></div>

  <div class="selection center-static">
    <ol>
      {% selection "320x160" "256x128" "wide" "optimized" "Optimized icon" %}
        <h3>Sistem yang Lebih Sedikit dan Lebih Cepat</h3>
        <p>Mengoptimalkan sistem kami untuk melakukan lebih sedikit tetapi lebih cepat secara desain.</p>
      {% endselection %}
      {% selection "320x160" "256x128" "wide" "compress" "Compress Icon" %}
        <h3>Sumber Daya Sistem yang Lebih Kecil</h3>
        <p>Mengurangi ukuran sumber daya sistem untuk meminimalkan penggunaan bandwidth.</p>
      {% endselection %}
      {% selection "320x160" "256x128" "wide" "reusable" "Reusable Icon" %}
        <h3>Komponen dan Penggunaan Ulang Sistem</h3>
        <p>Menggunakan ulang komponen untuk mengurangi waktu pengembangan dan konsumsi energi.</p>
      {% endselection %}
    </ol>
  </div>
</section>

<section class="journey">
  <div class="text">
    <h2>Perjalanan Berkelanjutan Kami</h2>
    <p>Kami mengadaptasi pendekatan kami dari proses pengembangan gesit, mengintegrasikan upaya ke dalam setiap tahap pembangunan.Bersamaan dengan itu, kami juga secara mandiri melakukan perjalanan pada sistem organisasi Anda yang sudah mapan untuk melakukan perjalanan praktik emisi yang berkelanjutan.</p>
  </div>

  <div class="selection journey">
    <div class="scroll">
      <ol>
        {% selection_icon_plain "Penilaian dan Pembentukan Dasar" "Kumpulkan data tentang penggunaan energi, emisi, dan konsumsi sumber daya untuk menetapkan garis dasar untuk emisi saat ini dan konsumsi energi." "data-gathering" %}
        {% selection_icon_plain "Penetapan Tujuan" "Tentukan tujuan dan target pengurangan karbon yang realistis dan spesifik." "requirements-gathering" %}
        {% selection_icon_plain "Analisis Emisi" "Menganalisis faktor emisi utama, dan terus menerus mengukur dan memantau selama pengembangan." "carbon-analyst" %}
        {% selection_icon_plain "Peningkatan Efisiensi" "Optimalkan kode dan ukuran, pilih perangkat keras hemat energi, dan memanfaatkan layanan cloud yang dapat diskalakan untuk penggunaan yang efisien." "effeciency" %}
        {% selection_icon_plain "Virtualisasi dan Kontainerisasi" "Menerapkan virtualisasi dan kontainerisasi untuk memaksimalkan pemanfaatan server dan pengurangan server fisik." "virtualization-container" %}
        {% selection_icon_plain "Perbaikan terus-menerus" "Menerapkan praktik terbaik, melakukan pengujian hemat energi, dan memantau secara teratur." "continuous-improvement" %}
        {% selection_icon_plain "Pendidikan dan Keterlibatan Pengguna" "Meningkatkan kesadaran dan mempromosikan praktik hemat energi." "education-engagement" %}
        {% selection_icon_plain "Pelaporan dan Komunikasi" "Mengkomunikasikan upaya keberlanjutan, menerbitkan laporan rutin tentang kemajuan." "reporting-communication" %}
        {% selection_icon_plain "Ulasan dan adaptasi berkelanjutan" "Melakukan ulasan rutin dan menyesuaikan pendekatan yang diperlukan." "continuous-review" %}
      </ol>
    </div>
  </div>
</section>

<section class="image icon">
  <article class="row">
    {% h2 "emission-reduction" "Emission reduction" %}
      <h2>Kami selalu belajar, dan kami mengundang Anda untuk bergabung</h2>
      <p>Melalui inovasi dan strategi berkelanjutan, kami berkomitmen untuk membantu organisasi dalam mengurangi emisi karbon, meningkatkan efisiensi energi, dan berdampak positif pada lingkungan.</p>
      <p>Bersama -sama, kita dapat secara kolaboratif berusaha untuk masa depan yang lebih berkelanjutan dan tangguh, mengatasi tantangan perubahan iklim untuk generasi yang akan datang.</p>
    {% endh2 %}

    {% h2 "csr" "CSR" %}
      <h2>Pengimbangan karbon sebagai inisiatif tambahan</h2>
      <p>Kami percaya bahwa pengimbangan karbon bukanlah solusi ideal untuk mengurangi emisi kami, tetapi kami mengakui dampak positif dari program offset karbon.Kami menggunakan karbon offset sebagai komponen tambahan dari tanggung jawab perusahaan kami.</p>
      <p>Pendekatan utama kami adalah dengan memasukkan keberlanjutan sebagai nilai inti dalam sistem kami, bersama dengan peningkatan berkelanjutan.</p>
    {% endh2 %}
  </article>

  <div class="img">
    <img
      src="/img/sustainability/learning.webp"
      width="1440"
      height=""
      alt="Seseorang yang membuka buku di luar di lapangan rumput" />
  </div>
</section>