---
layout: consultations.liquid

title: Desain Ulang Pengalaman Pengguna
description: Pembentukan kembali interaksi pengguna dan pengiriman informasi untuk pengalaman yang lebih berdampak dan memuaskan.
description-hero: Membentuk kembali bagaimana pengguna Anda berinteraksi dan memperoleh informasi dalam sistem Anda, memberikan mereka lebih banyak pengalaman dan kepuasan keseluruhan yang lebih baik.
svg: redesign
tags:
- consultations
- accessibility

date: 1986-10-29
---

<section class="hero image image-outside no-shadow">
  <div class="img">
    <img
      src="/img/experience/meeting.webp"
      width="1440"
      height=""
      loading="lazy"
      alt="Orang-orang dalam rapat dan dua dari mereka berjabat tangan, foto diambil dari sudut atas" />
  </div>
</section>

<section class="blocks icon">
  {% h2 svg title %}
    <h2>Bukan Sulap, Bukan Sihir</h2>
    <p>Desain yang berpusat pada pengguna adalah landasan strategi desain kami. Ini melampaui estetika, fokus pada menciptakan pengalaman pengguna yang intuitif dan menarik. Kami percaya bahwa memberikan produk yang berkualitas dan memuaskan membutuhkan pemahaman kebutuhan audiens Anda dan memberikan informasi yang tepat yang ditawarkan organisasi Anda, sambil terus meningkatkan sistem Anda dari waktu ke waktu.</p>
  {% endh2 %}

  <div class="dots"></div>

  <div class="bento">
    {% comment %} First row {% endcomment %}

    <div class="box big neon-green v-text-r h-text-b-mobile">
      <div class="img stretch">
        <img
          src="/img/experience/smile.webp"
          width=""
          height=""
          loading="lazy"
          alt="Seorang wanita tersenyum di depan laptopnya" />
      </div>
      <div class="text big">
        <h3>Penelitian dan Persona Pengguna</h3>
        <p>Memahami audiens dan bagaimana mereka berinteraksi dengan sistem Anda kunci untuk strategi desain yang baik.</p>
      </div>
    </div>

    <div class="box small neon-blue h-text-b center-tablet">
      <div class="img bottom">
        {% svg "wide.svg#information-architect" "320x160" "256x128" "Ikon Arsitek Informasi" %}
      </div>
      <div class="text">
        <h3>Arsitek Informasi dan Strategi Konten</h3>
        <p>Menyusun informasi Anda menjadi lebih relevan dan menarik.</p>
      </div>
    </div>

    {% comment %} Second row {% endcomment %}

    <div class="box small blue-normal h-text-b center-tablet">
      <div class="img bottom">
        {% svg "wide.svg#wireframe-prototype" "320x160" "256x128" "Ikon Purwarupa dan Rangka gambar" %}
      </div>
      <div class="text left">
        <h3>Rangka Gambar dan Purwarupa</h3>
        <p>Visualisasikan tata letak dan fungsionalitas secara iteratif serupa dengan tampilan akhir.</p>
      </div>
    </div>

    <div class="box small blue-deep h-text-b center-tablet">
      <div class="img bottom">
        {% svg "wide.svg#interaction-design" "320x160" "256x128" "Ikon Desain Interaksi" %}
      </div>
      <div class="text left">
        <h3>Desain dan Strategi Interaksi</h3>
        <p>Menstrategikan sistem Anda untuk memberikan pengalaman yang menarik kepada audiens.</p>
      </div>
    </div>

    <div class="box small blue-dark h-text-b center-tablet">
      <div class="img bottom">
        {% svg "wide.svg#documentation" "320x160" "256x128" "Ikon Dokumentasi" %}
      </div>
      <div class="text left">
        <h3>Dokumentasi dan Pelatihan</h3>
        <p>Untuk membantu organisasi Anda berhasil menerapkan dan memelihara desain.</p>
      </div>
    </div>

    {% comment %} Third row {% endcomment %}

    <div class="box big blue-dark v-text-l">
      <div class="img stretch">
        <img
          src="/img/experience/graph.webp"
          width=""
          height=""
          loading="lazy"
          alt="Orang-orang menunjuk grafik di atas meja" />
      </div>
      <div class="text">
        <h3>Pengujian Kegunaan dan Integrasi Umpan Balik</h3>
        <p>Pengujian Pengguna Nyata Berkelanjutan dan mengintegrasikan umpan balik mereka ke dalam iterasi desain.</p>
      </div>
    </div>

    <div class="box small big-mobile neon-green h-text-b center-tablet">
      <div class="img bottom">
        {% svg "wide.svg#support" "320x160" "256x128" "Support Icon" %}
      </div>
      <div class="text">
        <h3>Analisis dan Dukungan Pasca-Peluncuran</h3>
        <p>Pantau kinerja pasca-peluncuran dan dukungan berkelanjutan untuk peningkatan.</p>
      </div>
    </div>
  </div>
</section>

<section class="listing small">
  <div class="text">
    <h2>Pengalaman Pengguna, Berjodoh dengan Antarmuka Pengguna dan Aksesibilitas</h2>
    <p>Redesign Pengalaman Pengguna sering kali merupakan langkah pertama dalam mengubah komunikasi organisasi Anda secara fundamental. Kombinasikan dengan konsultasi desain ulang web dan antarmuka kami, bersama dengan implementasi dan evaluasi aksesibilitas, untuk proses desain ulang yang komprehensif.</p>
  </div>
  <div class="selection">
    <ul>
      {% render 'item-listing' items: collections.experience lang: page.lang buttons: buttons %}
    </ul>
  </div>
</section>

<section class="points">
  <div class="text">
    <h2>Dipercayakan oleh</h2>
    <p>Organisasi -organisasi ini telah berkolaborasi dengan Sagara untuk meningkatkan pengalaman pengguna aplikasi web dan seluler mereka, menyelaraskannya dengan operasi bisnis inti dan strategi komunikasi.</p>
  </div>

  <div class="selection partners">
    <div class="scroll">
      <ol>
        {% selection_logo "angkasapuraairports" "Angkasa Pura" %}
        {% selection_logo "yayasandarmabaktiastra" "Yayasan Darma Bakti Astra" %}
        {% selection_logo "danone" "Danone<br/>Indonesia" %}
        {% selection_logo "ppatk" "Pusat Pelaporan dan Analisis Transaksi Keuangan Indonesia" %}
        {% selection_logo "kemenkumham" "Kementerian Hukum dan Hak Asasi Manusia Indonesia" %}
        {% selection_logo "kementrianinvestasibkpm" "Kementerian Investasi - Badan Koordinasi Permodalan Indonesia" %}
        {% selection_logo "badanstandardisasinasional" "Badan Standardisasi Nasional Indonesia" %}
        {% selection_logo "loket" "LOKET - Platform Layanan Manajemen Tiketing" %}
        {% selection_logo "tiketapasaja" "Tiket Apa Saja oleh Melon Music Indonesia" %}
      </ol>
    </div>
  </div>
</section>