---
layout: consultations.liquid

title: Web and Interface Redesign
description: Elevate designs to align with brand, and engage your audience with meaningful communications.
description-hero: Elevate your system designs to harmonize with your organization's brand strategy, and foster effective communication with your target audience while creating a cohesive and visually appealing design that conveys your organization's unique brand identity.
svg: website
tags:
- consultations
- experience
- accessibility

date: 1985-10-29
---

<section class="hero image-outside no-shadow">
  <div class="img">
    <img
      src="/img/redesign/hero.webp"
      width="1898"
      height="830"
      style="width: 131.8055555556vw; height: 57.6388888889vw"
      loading="lazy"
      alt="3 different look of Sagara website" />
  </div>
</section>

<section class="blocks icon">
  {% h2 svg title %}
    <h2>Web-Based Open-Source Technology Stacks for Development</h2>
    <p>Our approach, which utilizes dependable open-source technologies and draws from our extensive experience in developing numerous custom systems over the years, ensures the delivery of an optimal system that comprehensively addresses all your organization's operational requirements.</p>
  {% endh2 %}

  <div class="dots"></div>

  <div class="bento">
    {% comment %} First row {% endcomment %}

    <div class="box big neon-green v-text-l">
      <div class="img top left round-shadow">
        <img
          src="/img/redesign/sagara-green.webp"
          width="274.59%"
          height=""
          loading="lazy"
          alt="Sagara website with green theme" />
      </div>
      <div class="text">
        <h3>Oh, It’s So You!</h3>
        <p>A good design begins by incorporating your brand identity, serving as an indirect means to communicate with your audience.</p>
      </div>
    </div>

    <div class="box small neon-blue h-text-b center-tablet">
      <div class="img bottom">
        {% svg "wide.svg#listening" "320x160" "256x128" "Tailor Made Icon" %}
      </div>
      <div class="text">
        <h3>Listening to The Problems</h3>
        <p>Design answers the problems faced by your organization and your audience.</p>
      </div>
    </div>

    {% comment %} Second row {% endcomment %}

    <div class="box small blue-normal h-text-b center-tablet">
      <div class="img bottom">
        {% svg "wide.svg#optimized" "320x160" "256x128" "Optimized Icon" %}
      </div>
      <div class="text left">
        <h3>Optimized for Speed</h3>
        <p>Design output that have smaller codebase and fewer unused code.</p>
      </div>
    </div>

    <div class="box small blue-deep h-text-b center-tablet">
      <div class="img bottom">
        {% svg "wide.svg#interaction-design" "320x160" "256x128" "Interaction Design Icon" %}
      </div>
      <div class="text left">
        <h3>Interactiveness</h3>
        <p>Creating a system that can provide your audience with an engaging experience.</p>
      </div>
    </div>

    <div class="box small neon-green h-text-b center-tablet">
      <div class="img bottom">
        {% svg "wide.svg#simplicity-design" "320x160" "256x128" "Simplicity in Design Icon" %}
      </div>
      <div class="text left">
        <h3>Simple, Consistent, and Readable</h3>
        <p>Making your information front and center.</p>
      </div>
    </div>

    {% comment %} Third row {% endcomment %}

    <div class="box medium blue-cyan h-text-b center-tablet">
      <div class="img bottom no-wrap-mobile">
        <img
          src="/img/blocks/devices.webp"
          width="140%"
          height=""
          loading="lazy"
          alt="Mupltiple devices icon with Sagara logo" />
      </div>
      <div class="text">
        <h3>Responsive</h3>
        <p>Design needs to be accessible on a wide range of the current modern smart devices.</p>
      </div>
    </div>

    <div class="box medium blue-normal h-text-t center">
      <div class="img top">
        <img
          src="/img/redesign/browsers.webp"
          width="120%"
          height=""
          loading="lazy"
          alt="Sagara design system" />
      </div>
      <div class="text">
        <h3>All Major Browsers,<br/>Not A Major Problem</h3>
        <p>Design output that rendered with pixel-perfect precision in all major browsers.</p>
      </div>
    </div>
  </div>
</section>

<section class="image">
  <article>
    <div class="text">
      <h2>Need A Complete Solution?</h2>
      <p>Your organization's dynamic nature often requires a comprehensive solution. Beyond Web and Interface Redesign, our end-to-end consultation includes Web-Based and Mobile App Development to tackle your unique challenges.</p>
    </div>
    <div class="buttons">
      <a href="{{  "/mobile-apps-development/" | locale_url }}" class="button cta">Mobile App
        <i class="arrow"></i>
      </a>
      <a href="{{  "/web-based-development/" | locale_url }}" class="button cta">Web-Based
        <i class="arrow"></i>
      </a>
    </div>
  </article>
  <div class="img">
    <img
      src="/img/redesign/people.webp"
      width="1440"
      height=""
      alt="Several people in a meeting, 2 of them are shaking hand" />
  </div>
</section>

<section class="points">
  <div class="text">
    <h2>Trusted By</h2>
    <p>These organizations have partnered with Sagara to undertake the redesign of their web and mobile applications, aligning them with their core business operations and communication strategy.</p>
  </div>

  <div class="selection partners">
    <div class="scroll">
      <ol>
        {% selection_logo "angkasapuraairports" "Angkasa Pura" %}
        {% selection_logo "yayasandarmabaktiastra" "Darma Bakti Astra Foundation" %}
        {% selection_logo "danone" "Danone<br/>Indonesia" %}
        {% selection_logo "ppatk" "Indonesian Financial Transaction Reports and Analysis Center" %}
        {% selection_logo "kemenkumham" "Ministry of Law and Human Rights of Indonesia" %}
        {% selection_logo "kementrianinvestasibkpm" "Ministry of Investment - Indonesia Investment Coordinating Board" %}
        {% selection_logo "badanstandardisasinasional" "The National Standardization Agency of Indonesia" %}
        {% selection_logo "loket" "LOKET - Ticketing Management Service Platform" %}
        {% selection_logo "tiketapasaja" "Tiket Apa Saja by Melon Music Indonesia" %}
      </ol>
    </div>
  </div>
</section>