---
layout: main.html
title: Oops! Not Found
permalink: 404.html
---

<section class="notfound">
    <div class="text">
        <svg width="256" height="128" viewBox="0 0 256 128" aria-label="Jadi Logo" class="icon">
            <use href="/img/icons/wide.svg#listening"></use>
        </svg>
        <h1>Page not Found</h1>
        <p>Well, sometimes it happens – the URL you were hoping to visit is currently not available. Don't worry,
            though! Our digital compass might be a bit quirky today, but we're here to help you get back on track.</p>
        <div>
            <a href="/" class="button cta">Homepage <i class="arrow"></i></a>
            <p>or</p>
            <a href="/contact-us/" class="button">Contact us</a>
        </div>
    </div>
</section>