---
layout: main-career.liquid
class: home
permalink: "/index.html"
---

<section class="hero">
  <article>
    <div class="text">
      <h1>We are a Mission Driven Technology Company in Indonesia</h1>
      <p>Our innovative products and services technologies are designed with a profound commitment to the
        <strong>sustainability</strong>,
        <strong>accessibility</strong>, and
        <strong>privacy</strong>
        in mind.</p>
    </div>
    <a href="/commitment-and-responsibility" class="button cta">Learn about our commitments
      <i class="arrow"></i>
    </a>
  </article>
</section>

<section class="tabs">
  <input
    type="radio"
    id="tabs1Products"
    name="tabs1"
    checked />
  <input
    type="radio"
    id="tabs1Solutions"
    name="tabs1" />
  <input
    type="radio"
    id="tabs1Consultations"
    name="tabs1" />

  <nav>
    <h2>Discover our:</h2>
    <menu class="flat tab submenu">
      <li>
        <label for="tabs1Products">Products</label>
      </li>
      <li>
        <label for="tabs1Solutions">Solutions</label>
      </li>
      <li>
        <label for="tabs1Consultations">Consultations</label>
      </li>
    </menu>
  </nav>

  <div class="content">
    <article id="products" class="selection default">
      <h2 hidden>Products</h2>
      <div class="scroll">
        <ol class="flat">
          <li class="plain">
            <i class="arrow"></i>
          </li>
          {% render 'item' items: collections.products %}
        </ol>
      </div>
    </article>

    <article id="solutions" class="selection default">
      <h2 hidden>Solutions</h2>
      <div class="scroll">
        <ol class="flat">
          <li class="plain">
            <i class="arrow"></i>
          </li>
          {% render 'item' items: collections.solutions %}
        </ol>
      </div>
    </article>

    <article id="consultations" class="selection default">
      <h2 hidden>Consultations</h2>
      <div class="scroll">
        <ol class="flat">
          <li class="plain">
            <i class="arrow"></i>
          </li>
          {% render 'item' items: collections.consultations %}
        </ol>
      </div>
    </article>
  </div>
</section>

<section class="horizontal">
  <h2>Inside<br/>Sagara</h2>

  <div class="text">
    <p>At Sagara, we're dedicated to making a difference through innovative technologies that prioritize the environment, accessibility, and privacy. Our commitment will drives us to create technologies that not only works seamlessly but also has a positive impact on the world around us.</p>
    <a href="/about" class="default big blue">About Sagara
      <i class="arrow"></i>
    </a>
  </div>
</section>