---
layout: solutions.liquid
title: Dask - Live Dashboard and Information System
title-strong: Dask
title-description: Live Dashboard and Information System
description: Real-time data visualization and seamless integration with touch-based display hardware.
description-hero: <strong>Dask</strong> ensure the up to date interconnection data designed to ensure the confidentiality, availability, and integrity of assets and or operational. Integrate nicely with our custom kiosk and or small to large screen touch based display hardware.
img: /img/dask/dask-live-dashboard-information-management-system.webp
alt: An person holding a tablet with Sagara Logo
svg: dask
date: 1984-10-29
permalink: dask/index.html
---

<section class="points">
  <div class="text">
    <h2>Itik in Our or Your Hardware or Cloud Service</h2>
    <p>
      <strong>Itik</strong>
      shine when deployed together our hardware, we design our
      <strong>Itik</strong>
      to fully utilized the hardware. We also provide integration with your own current hardware as cloud service.</p>
  </div>

  <div class="selection center-static">
    <ol>
      {% selection 160 128 "shadow" "kiosk" "Kiosk icon" %}
        <h3>Kiosk</h3>
        <p>Deploy Itik in Kiosk for functionality such as self order and check out in restaurant and supermarket.
        </p>
      {% endselection %}
      {% selection 160 128 "shadow" "tablet" "Tablet Icon" %}
        <h3>Tablet</h3>
        <p>Use Itik as your seat, vanue, or table reservation and booking system that required portability.</p>
      {% endselection %}
      {% selection 160 128 "shadow" "cloud" "Cloud Service Icon" %}
        <h3>Cloud Service</h3>
        <p>Replace your current Point of Sale and Ticketing System with Itik inside hardware you already owned.</p>
      {% endselection %}
    </ol>
  </div>
</section>