---
layout: solutions.liquid

title: Dask - Live Dashboard and Information System
title-strong: Dask
title-description: Live Dashboard and Information System
description: Real-time data visualization and seamless integration with touch-based display hardware.
description-hero: <strong>Dask</strong> ensure the up to date interconnection data designed to ensure the confidentiality, availability, and integrity of assets and or operational. Integrate nicely with our custom kiosk and or small to large screen touch based display hardware.

img: /img/dask/hero.webp
alt: An person holding a tablet with Sagara Logo
svg: dask

date: 1984-10-29
---

<section class="points">
  <div class="text">
    <h2>Live Data</h2>
    <p>Combine and visualize your data from various sources.
      <strong>Dask</strong>
      is based on three simple foundations that can be adapted and implemented easily into your organization.</p>
  </div>

  <div class="selection center-static">
    <ol>
      {% selection 160 128 "shadow" "combine" "Combine icon" %}
        <h3>Combine</h3>
        <p>Combine multiple data from your current information system to ensure up to date information.</p>
      {% endselection %}
      {% selection 160 128 "shadow" "input" "Input Icon" %}
        <h3>Input</h3>
        <p>Fine tuning your data manually in the case of your system is not fully ready for integration.</p>
      {% endselection %}
      {% selection 160 128 "shadow" "visualized" "Visualized Icon" %}
        <h3>Visualized</h3>
        <p>Present your data as visually pleasing interface that easy to use and easy to digest.</p>
      {% endselection %}
    </ol>
  </div>
</section>

<section class="blocks">
  <div class="text">
    <h2>Visualized your Information</h2>
    <p>Present your information as visually pleasing interface that easy to use and easy to digest but at the same time giving intrinsic and extrinsic value for your organization.</p>
  </div>

  <div class="dots"></div>

  <div class="bento">
    <div class="box small blue-normal h-text-t">
      <div class="img top right">
        <img
          src="/img/blocks/incident.webp"
          width="403.5"
          height=""
          loading="lazy"
          alt="Lm.sys modules page displaying all courses" />
      </div>
      <div class="text">
        <h3>Tailor Made to Your Organization’s Need</h3>
      </div>
    </div>

    <div class="box big neon-green v-text-l">
      <div class="img left top round-shadow">
        <img
          src="/img/dask/safety/injury.webp"
          width="1200"
          height=""
          loading="lazy"
          alt="Dask Safety Injury Dashboard Page" />
      </div>
      <div class="text">
        <h3>Your Organization, Your Branding</h3>
        <p>Put emphasis on your organization by deriving your brand identity for visualizing your information.</p>
      </div>
    </div>

    <div class="box big blue-cyan v-text-l">
      <div class="img left">
        <img
          src="/img/blocks/performance.webp"
          width="638"
          height=""
          loading="lazy"
          alt="Performance graph block" />

      </div>
      <div class="text">
        <h3>Beautifully Crafted and Informative Graph</h3>
        <p>Easily to digest with distinctive look to differentiate among different information.</p>
      </div>
    </div>

    <div class="box small blue-deep h-text-b">
      <div class="img">
        {% svg "wide.svg#on-premise" "340x170" "256x128" "On Premise Icon" %}
      </div>
      <div class="text">
        <h3>On Premise</h3>
        <p>Securely within your own infrastructure</p>
      </div>
    </div>
  </div>
</section>

<section class="tabs points">
  <input
    type="radio"
    id="tabs1Oled"
    name="tabs1"
    checked />
  <input
    type="radio"
    id="tabs1EInk"
    name="tabs1" />

  <div class="text">
    <h2>Deploy with Dask Screen</h2>
    <p>We design  Dask to fully utilized our Dask Screen Technology. We offer two technology options both with the benefit of low energy usage. OLED Dask screen came with up to 8K resolution and came up to 85 inch large screen, All can be optionally equipped with touch sensor. For even lower energy screen usage, we provide high quality eInk Dask Screen with up to 23 inch.</p>
  </div>

  <nav>
    <menu class="flat tab submenu">
      <li>
        <label for="tabs1Oled">OLED Dask Screen</label>
      </li>
      <li>
        <label for="tabs1EInk">eInk Dask Screen</label>
      </li>
    </menu>
  </nav>

  <div class="content">
    <article class="selection center-static">
      <ol>
        {% selection_icon_shadow "kiosk" "Dask Kiosk icon" %}
          <h3>Dask Kiosk</h3>
          <p>Display your Dask in Kiosk in a place such as receptionist, restaurant, or any public area.</p>
        {% endselection_icon_shadow %}
        {% selection_icon_shadow "large-display" "Dask Large Display Icon" %}
          <h3>Dask Large Screen</h3>
          <p>Deploy Dask on large screen display to inform more people in a large area.</p>
        {% endselection_icon_shadow %}
        {% selection_icon_shadow "tablet" "Dask Tablet Icon" %}
          <h3>Dask Tablet</h3>
          <p>More personal Dask for a place such as museums, educational center, or any public area.</p>
        {% endselection_icon_shadow %}
      </ol>
    </article>
    <article class="selection center-static">
      <ol>
        {% selection_icon_shadow "elabel" "Dask eLabel icon" %}
          <h3>Dask eLabel</h3>
          <p>Display and deploy time sensitive information for place such supermarket selves.</p>
        {% endselection_icon_shadow %}
        {% selection_icon_shadow "eposter" "Dask ePoster Icon" %}
          <h3>Dask ePoster</h3>
          <p>Experience poster like information with high-visibility displays under the sun.</p>
        {% endselection_icon_shadow %}
        {% selection_icon_shadow "epaper" "Dask ePaper Icon" %}
          <h3>Dask ePaper</h3>
          <p>Conserve energy, and enhance the visitor experience, with screen that comfortable to the eyes.</p>
        {% endselection_icon_shadow %}
      </ol>
    </article>
  </div>
</section>

<section class="slider tabs icon">
  <input
    type="radio"
    id="tabs2GuestBook"
    name="tabs2"
    checked />
  <input
    type="radio"
    id="tabs2Safety"
    name="tabs2" />
  <input
    type="radio"
    id="tabs2Kiosk"
    name="tabs2" />

  {% h2 svg title %}
    <h2>Quick Tour at Dask Implementation</h2>
    <p>Take a quick tour of Dask, our Dashboard Framework System build around visualizing various related information, and explore the possibilities of what we can build together.</p>
  {% endh2 %}

  <nav>
    <menu class="flat tab submenu">
      <li>
        <label for="tabs2GuestBook">Guest Book</label>
      </li>
      <li>
        <label for="tabs2Safety">Safety and Performance</label>
      </li>
      <li>
        <label for="tabs2Kiosk">Kiosk</label>
      </li>
    </menu>
  </nav>

  <div class="content">
    <article>
      <div class="scroll">
        <ul class="flat">
          <li>
            <img
              src="/img/dask/guest-book/form.webp"
              width="1200"
              height="720"
              loading="lazy"
              alt="Dask Guest Book welcome page" />
          </li>
          <li>
            <img
              src="/img/dask/guest-book/enter.webp"
              width="1200"
              height="720"
              loading="lazy"
              alt="Dask Guest Book enter form page" />
          </li>
        </ul>
      </div>
    </article>
    <article>
      <div class="scroll">
        <ul class="flat">
          <li>
            <img
              src="/img/dask/safety/injury.webp"
              width="1200"
              height="720"
              loading="lazy"
              alt="Dask Safety Injury Dashboard" />
          </li>
          <li>
            <img
              src="/img/dask/safety/performance.webp"
              width="1200"
              height="720"
              loading="lazy"
              alt="Dask Safety Performance Dashboard" />
          </li>
        </ul>
      </div>
    </article>
    <article>
      <div class="scroll">
        <ul class="flat">
          <li>
            <img
              src="/img/dask/kiosk/cats.webp"
              width="1200"
              height="720"
              loading="lazy"
              alt="Dask Kiosk Displaying African Wild Cat Information Menu" />
          </li>
          <li>
            <img
              src="/img/dask/kiosk/cat.webp"
              width="1200"
              height="720"
              loading="lazy"
              alt="Dask Kiosk Displaying African Wild Cat Information" />
          </li>
        </ul>
      </div>
    </article>
  </div>
</section>

<section class="points">
  <div class="text">
    <h2>Trusted By</h2>
    <p>These organizations have partnered with Sagara to deploy Dask as their  their prefered Dashboard system, delivering exceptional results.</p>
  </div>

  <div class="selection partners">
    <div class="scroll">
      <ol>
        {% selection_logo "sarihusada" "Sari Husada" %}
        {% selection_logo "danone" "Danone<br/>Indonesia" %}
        {% selection_logo "kemenpora" "Indonesian Ministry of Youth and Sports" %}
        {% selection_logo "sugizindo" "Sugizindo" %}
      </ol>
    </div>
  </div>
</section>