---
layout: solutions.liquid

title: EyeSee - Integrated CCTV and Fingerprint Security System
title-strong: EyeSee
title-description: Integrated CCTV and Fingerprint Security System
description: Deploy large scale smart IP security cameras with combination fingerprint access control to protection your organization assets and ensure constant security update.
description-hero: Deploy large scale IP security cameras into your organizations and combine with fingerprint based access control to protection your organization assets and to ensure constant security update.

img: /img/eyesee/eyesee-integraed-cctv-fingerprint-security-system.webp
alt: A CCTV with clear sky on the background
svg: eyesee

date: 1986-10-29
---

<section class="points">
  <div class="text">
    <h2>Hardware</h2>
    <p>Cybersecurity isn’t a last minute addition. To ensure the security the whole installation, EyeSee use only trusted hardware and systems that store data on the devices themselves.</p>
  </div>

  <div class="dots"></div>

  <div class="selection center-static">
    <ol>
      {% selection "320x160" "256x128" "wide" "trusted" "Trusted icon" %}
        <h3>Trusted Source</h3>
        <p>Manufactured by trusted partners who adhere stringent security policies that we do.</p>
      {% endselection %}
      {% selection "320x160" "256x128" "wide" "tampered" "Anti-tampered Icon" %}
        <h3>Tamper Detection</h3>
        <p>Detect physical and occlusive sabotage, with alert closer to the event.</p>
      {% endselection %}
      {% selection "320x160" "256x128" "wide" "durable" "Durable Icon" %}
        <h3>Durable Design</h3>
        <p>EyeSee use hardware strong to whit stand various weather changes.</p>
      {% endselection %}
    </ol>
  </div>
</section>

<section class="points">
  <div class="text">
    <h2>Network and Data</h2>
    <p>Network and data security is one of the most critical components for any security infrastructure. EyeSee is deployed on premise to ensure full control on your side.</p>
  </div>

  <div class="dots"></div>

  <div class="selection center-static">
    <ol>
      {% selection "320x160" "256x128" "wide" "encrypted" "encrypted icon" %}
        <h3>Encrypted by Default</h3>
        <p>All data in transit to the network encrypted with AES-128. The use TLS to add an extra layer of security and data are stored encrypted.</p>
      {% endselection %}
      {% selection "320x160" "256x128" "wide" "on-premise" "On Premise Icon" %}
        <h3>On Premise</h3>
        <p>All data belongs to your organization, ensure all security is based on your organization requirements</p>
      {% endselection %}
    </ol>
  </div>
</section>

<section class="blocks">
  <div class="text">
    <h2>Web App</h2>
    <p>EyeSee come with various security management system, from object detection, notification, all the way to granular system access. EyeSee also gives you the tools you need to control who has access to your system, and what they do with that access. And everything can be easily traced with audit logs.</p>
  </div>

  <div class="dots"></div>

  <div class="bento">
    <div class="box medium blue-cyan h-text-b">
      <div class="img left bottom">
        <img
          src="/img/blocks/eyesee.webp"
          width="1028.5"
          height=""
          loading="lazy"
          alt="EyeSee audit trail block view" />
      </div>
      <div class="text">
        <h3>Object Detections with Locally Processed AI</h3>
      </div>
    </div>

    <div class="box medium neon-green h-text-b">
      <div class="img left">
        {% svg "wide.svg#sso" "256x128" "256x128" "SSO Icon" %}
      </div>
      <div class="text left">
        <h3>Single Sign On, or Multi-Factor Authentication</h3>
        <p>Integrate with your current sign on system or use a robust Multi-Factor Authentication system to ensure system security.</p>
      </div>
    </div>

    <div class="box small neon-blue h-text-t">
      <div class="img top left">
        <img
          src="/img/blocks/notification/eyesee.webp"
          width="425.5"
          height=""
          loading="lazy"
          alt="EyeSee push notification samples" />
      </div>
      <div class="text left">
        <h3>Push Notification</h3>
        <p>With web push notification and MQTT support, EyeSee web app will inform any events right into your device.</p>
      </div>
    </div>

    <div class="box small blue-dark h-text-b">
      <div class="img">
        {% svg "wide.svg#roles" "256x128" "256x128" "SSO Icon" %}
      </div>
      <div class="text left">
        <h3>Role-Based Access</h3>
        <p>Easily customizable settings to correctly assign access to the right person/group.</p>
      </div>
    </div>

    <div class="box small blue-normal h-text-b">
      <div class="img bottom right">
        <img
          src="/img/blocks/eyesee.webp"
          width="1028.5"
          height=""
          loading="lazy"
          alt="EyeSee audit trail block view" />
      </div>
      <div class="text">
        <h3>Audit Logs</h3>
        <p>Comprehensive audit logs help reveal who has accessed your system, and any changes they have made.</p>
      </div>
    </div>
  </div>
</section>

<section class="slider icon">
  {% h2 svg title %}
    <h2>Quick Tour at EyeSee Web App</h2>
    <p>Quick tour of our EyeSee Web App dashboard, and explore the possibilities of what we can build together.</p>
  {% endh2 %}

  <div class="scroll">
    <ul class="flat">
      <li>
        <img
          src="/img/eyesee/birdeyes.webp"
          width="1200"
          height="720"
          loading="lazy"
          alt="Eyesee birdeyes view of security camera page displaying several area" />
      </li>
      <li>
        <img
          src="/img/eyesee/events.webp"
          width="1200"
          height="720"
          loading="lazy"
          alt="Eyesee object detection page displaying several events" />
      </li>
    </ul>
  </div>
</section>

<section class="image">
  <article>
    <div class="text">
      <h2>Regular Penetration Testing</h2>
      <p>To ensuring exploits never reach your installation, when needed, we employ an independent security firm to continually run penetration tests on EyeSee installed in your facilities.</p>
    </div>
  </article>
  <div class="img">
    <img
      src="/img/eyesee/eyesee-penetration-test.webp"
      width="1440"
      height=""
      alt="Two men infront of laptop discussing, one of them holding a tablet" />
  </div>
</section>

<section class="points">
  <div class="text">
    <h2>Trusted By</h2>
    <p>These organizations have partnered with Sagara to deploy Dask as their  their prefered Dashboard system, delivering exceptional results.</p>
  </div>

  <div class="selection partners">
    <div class="scroll">
      <ol>
        {% selection_logo "sarihusada" "Sari Husada" %}
        {% selection_logo "danone" "Danone Indonesia" %}
        {% selection_logo "sugizindo" "Sugizindo" %}
      </ol>
    </div>
  </div>
</section>