---
layout: solutions.liquid
title: EyeSee - Integrated CCTV and Fingerprint Security System
title-strong: EyeSee
title-description: Integrated CCTV and Fingerprint Security System
description: Deploy large scale smart IP security cameras with combination fingerprint access control to protection your organization assets and ensure constant security update.
description-hero: Deploy large scale IP security cameras into your organizations and combine with fingerprint based access control to protection your organization assets and to ensure constant security update.
img: /img/eyesee/eyesee-integraed-cctv-fingerprint-security-system.webp
alt: A CCTV with clear sky on the background
svg: eyesee
date: 1986-10-29
permalink: eyesee/index.html
---

<section class="points">
  <div class="text">
    <h2>Hardware</h2>
    <p>Cybersecurity isn’t a last minute addition. To ensure the security the whole installation, EyeSee use only trusted hardware and systems that store data on the devices themselves.</p>
  </div>

  <div class="dots"></div>

  <div class="selection center-static">
    <ol>
      {% selection "320x160" "256x128" "wide" "trusted" "Trusted icon" %}
        <h3>Trusted Source</h3>
        <p>Manufactured by trusted partners who adhere stringent security policies that we do.</p>
      {% endselection %}
      {% selection "320x160" "256x128" "wide" "tampered" "Anti-tampered Icon" %}
        <h3>Tamper Detection</h3>
        <p>Detect physical and occlusive sabotage, with alert closer to the event.</p>
      {% endselection %}
      {% selection "320x160" "256x128" "wide" "durable" "Durable Icon" %}
        <h3>Durable Design</h3>
        <p>EyeSee use hardware strong to whit stand various weather changes.</p>
      {% endselection %}
    </ol>
  </div>
</section>

<section class="points">
  <div class="text">
    <h2>Network and Data</h2>
    <p>Network and data security is one of the most critical components for any security infrastructure. EyeSee is deployed on premise to ensure full control on your side.</p>
  </div>

  <div class="dots"></div>

  <div class="selection center-static">
    <ol>
      {% selection "320x160" "256x128" "wide" "encrypted" "encrypted icon" %}
        <h3>Encrypted by Default</h3>
        <p>All data in transit to the network encrypted with AES-128. The use TLS to add an extra layer of security and data are stored encrypted.</p>
      {% endselection %}
      {% selection "320x160" "256x128" "wide" "on-premise" "On Premise Icon" %}
        <h3>On Premise</h3>
        <p>All data belongs to your organization, ensure all security is based on your organization requirements</p>
      {% endselection %}
    </ol>
  </div>
</section>