---
layout: products.liquid

title: Itik - Point of Sale and Ticketing System
title-strong: Itik
title-description: Point of Sale and Ticketing System
description: Itik (/ee-teek/) leverage your retail store, restaurant, or event venue, with seamless transaction processing, real-time inventory management, and effortless ordering and ticketing system.
svg: itik

class: itik
date: 1985-10-29
---

<section class="hero image">
  <article>
    <div class="text">
      <h4>{{ tags }}</h4>
      <h1>{{ title }}</h1>
      <p>
        <strong>Itik</strong>
        <i>(/ee-teek/)</i>
        leverage your retail store, restaurant, or event venue, with seamless transaction processing, real-time inventory management, and effortless ordering and ticketing system.</p>
    </div>
    <a href="#request-demo" class="button cta">Request for Demo
      <i class="arrow"></i>
    </a>
  </article>
  <div class="img">
    <img
      src="/img/itik/hero.webp"
      width="1440"
      height=""
      alt="Women operating ticketing machine" />
  </div>
</section>

<section class="points">
  <div class="text">
    <h2>Itik in Our or Your Hardware or Cloud Service</h2>
    <p>
      <strong>Itik</strong>
      shine when deployed together our hardware, we design our
      <strong>Itik</strong>
      to fully utilized the hardware. We also provide integration with your own current hardware as cloud service.</p>
  </div>

  <div class="selection center-static">
    <ol>
      {% selection 160 128 "shadow" "kiosk" "Kiosk icon" %}
        <h3>Kiosk</h3>
        <p>Deploy Itik in Kiosk for functionality such as self order and check out in restaurant and supermarket.
        </p>
      {% endselection %}
      {% selection 160 128 "shadow" "tablet" "Tablet Icon" %}
        <h3>Tablet</h3>
        <p>Use Itik as your seat, vanue, or table reservation and booking system that required portability.</p>
      {% endselection %}
      {% selection 160 128 "shadow" "cloud" "Cloud Service Icon" %}
        <h3>Cloud Service</h3>
        <p>Replace your current Point of Sale and Ticketing System with Itik inside hardware you already owned.</p>
      {% endselection %}
    </ol>
  </div>
</section>

<section class="blocks">
  <div class="text">
    <h2>Different Shape of Itik</h2>
    <p>Itik can transform into several specific system, but all based on core point of sales and ticketing system that build upon years of experience handling such of system development.</p>
  </div>

  <div class="dots"></div>

  <div class="bento">
    <div class="box small blue-cyan h-text-t">
      <div class="img left top round-shadow">
        <img
          src="/img/itik/restaurant/table.webp"
          width="1200"
          height=""
          loading="lazy"
          alt="Itik restaurant floor plan page" />
      </div>
      <div class="text">
        <h3>Table and Seat Reservations</h3>
      </div>
    </div>

    <div class="box big neon-green v-text-l">
      <div class="img left top round-shadow">
        <img
          src="/img/itik/supermarket/checkout.v2.webp"
          width="1200"
          height=""
          loading="lazy"
          alt="Itik supermarket order page" />
      </div>
      <div class="text">
        <h3>Self-checkout and Cashier POS Counter</h3>
        <p>
          <strong>Itik</strong>
          can be deployed as self-checkout counter or regular pos counter</p>
      </div>
    </div>

    <div class="box big blue-cyan v-text-r h-text-b-mobile">
      <div class="img bottom right round-shadow">
        <img
          src="/img/itik/restaurant/order.webp"
          width="1200"
          height=""
          loading="lazy"
          alt="Itik restaurant order page" />
      </div>
      <div class="text">
        <h3>Menu and Custom Order System</h3>
        <p>Provide order customization for your customers needs</p>
      </div>
    </div>

    <div class="box small blue-deep h-text-b">
      <div class="img">
        {% svg "wide.svg#on-premise" "340x170" "256x128" "On Premise Icon" %}
      </div>
      <div class="text">
        <h3>Inventory management</h3>
        <p>Manage your inventory directly from Itik</p>
      </div>
    </div>
  </div>
</section>

<section class="slider tabs icon">
  <input
    type="radio"
    id="tabs1Supermarket"
    name="tabs1"
    checked>
  <input
    type="radio"
    id="tabs1Restaurant"
    name="tabs1">
  <input
    type="radio"
    id="tabs1Venue"
    name="tabs1">

  {% h2 svg title %}
    <h2>Quick Tour of Itik Interface</h2>
    <p>A quick tour of Itik easy to use interfaces and explore the possibilities of what we can build together.</p>
  {% endh2 %}

  <nav>
    <menu class="flat tab submenu">
      <li>
        <label for="tabs1Supermarket">Supermarket</label>
      </li>
      <li>
        <label for="tabs1Restaurant">Restaurant</label>
      </li>
      <li>
        <label for="tabs1Venue">Venue</label>
      </li>
    </menu>
  </nav>

  <div class="content">
    <article>
      <div class="scroll">
        <ul class="flat">
          <li>
            <img
              src="/img/itik/supermarket/checkout.v2.webp"
              width="1200"
              height="720"
              loading="lazy"
              alt="Itik supermarket checkout page" />
          </li>
          <li>
            <img
              src="/img/itik/supermarket/dashboard.webp"
              width="1200"
              height="720"
              loading="lazy"
              alt="Itik supermarket dashboard page" />
          </li>
          <li>
            <img
              src="/img/itik/supermarket/inventory.webp"
              width="1200"
              height="720"
              loading="lazy"
              alt="Itik supermarket dashboard page" />
          </li>
        </ul>
      </div>
    </article>
    <article>
      <div class="scroll">
        <ul class="flat">
          <li>
            <img
              src="/img/itik/restaurant/table.webp"
              width="1200"
              height="720"
              loading="lazy"
              alt="Itik restaurant table page" />
          </li>
          <li>
            <img
              src="/img/itik/restaurant/order.webp"
              width="1200"
              height="720"
              loading="lazy"
              alt="Itik restaurant order page" />
          </li>
          <li>
            <img
              src="/img/itik/restaurant/all-orders.webp"
              width="1200"
              height="720"
              loading="lazy"
              alt="Itik restaurant all orders page" />
          </li>
          <li>
            <img
              src="/img/itik/restaurant/kitchen.webp"
              width="1200"
              height="720"
              loading="lazy"
              alt="Itik restaurant kitchen dashboard page" />
          </li>
        </ul>
      </div>
    </article>
    <article>
      <div class="scroll">
        <ul class="flat">
          <li>
            <img
              src="/img/itik/restaurant/table.webp"
              width="1200"
              height="720"
              loading="lazy"
              alt="Itik restaurant table page" />
          </li>
        </ul>
      </div>
    </article>
  </div>
</section>

<section class="image">
  <article>
    <div class="text">
      <h2>Pagi Integration</h2>
      <p>POS and ticketing system is not complete without it’s online payment. Our
        <strong>Pagi</strong>
        solution will integrate Itik with various payment processor to complete the whole experience.</p>
    </div>
    <a href="/pagi/" class="button cta">Learn About Our Pagi
      <i class="arrow"></i>
    </a>
  </article>
  <div class="img">
    <img
      src="/img/pagi/hero.webp"
      width="1440"
      height=""
      alt="Women holding credit card infront of laptop" />
  </div>
</section>

<section class="points">
  <div class="text">
    <h2>Trusted By</h2>
    <p>These organizations have partnered with Sagara to powered their online transaction process with
      <strong>Itik</strong>, delivering exceptional results.</p>
  </div>

  <div class="selection partners">
    <div class="scroll">
      <ol>
        {% selection_logo "loket" "LOKET - Ticketing Management Service Platform" %}
        {% selection_logo "kemenparekraf" "Ministry of Tourism and Creative Economy of Indonesia" %}
        {% selection_logo "tiketapasaja" "Tiket Apa Saja by Melon Music Indonesia" %}
      </ol>
    </div>
  </div>
</section>