---
layout: products.liquid

title: Jadi - Legal Documents and Information System
title-strong: Jadi
title-description: Legal Documents and Information System
description: Unlock the full potential of document and information management with our proven technology tailored for your system requirements.
svg: jadi-scale

date: 1983-10-29
---

<section class="hero">
  <article>
    <div class="text">
      <h4>{{ tags }}</h4>
      <h1>{{ title }}</h1>
      <p>With
        <strong>Jadi</strong>
        <i>(/Ja-dee/)</i>, unlock the full potential of document and information management with our proven technology, tailored from years of experience in managing legal document systems.</p>
    </div>
    <a href="#request-demo" class="button cta">Request for Demo
      <i class="arrow"></i>
    </a>
  </article>
  <img
    src="/img/jadi/home.webp"
    width="1200"
    height="720"
    loading="lazy"
    alt="{{ title-strong}} ({{ title-description }}) Homepage Screenshoot" />
</section>

<section class="blocks icon">
  {% h2 svg title %}
    <h2>Embrace Efficiency, Transparency, and Accuracy</h2>
    <p>Join the ranks of various organizations relying on
      <strong>Jadi</strong>
      to publish their legal and research documents. With
      <strong>Jadi</strong>, your organization can seamlessly access, manage, and leverage a vast repository of legal documents, regulations, and government publications.</p>
  {% endh2 %}

  <div class="dots"></div>

  <div class="bento">
    <div class="box big neon-blue v-text-r">
      <div class="img right">
        <img
          src="/img/blocks/search/jadi.webp"
          width=""
          height="310"
          loading="lazy"
          alt="Jadi Search Form" />
      </div>
      <div class="text">
        <h3>Custom Advanced Search Options</h3>
        <p>Giving more granular option for faster and more accurate result for the visitors.</p>
      </div>
    </div>

    <div class="box small neon-green h-text-t">
      <div class="img top">
        <img
          src="/img/blocks/category.webp"
          width="355"
          height=""
          loading="lazy"
          alt="Jadi Category Block" />
      </div>
      <div class="text">
        <h3>Categories All Informations</h3>
      </div>
    </div>

    <div class="box medium blue-cyan h-text-b">
      <div class="img left bottom">
        <img
          src="/img/blocks/news.webp"
          width=""
          height="323"
          loading="lazy"
          alt="Jadi News Block" />
      </div>
      <div class="text">
        <h3>Inform Visitors with <br/>The Latest News</h3>
      </div>
    </div>

    <div class="box medium big-mobile blue-normal h-text-t">
      <div class="img top left round-shadow">
        <img
          src="/img/jadi/home-search.webp"
          width="1200"
          height=""
          loading="lazy"
          alt="Jadi Homepage with Search Focus" />
      </div>
      <div class="text">
        <h3>Your Organization,<br/>Your Branding</h3>
      </div>
    </div>
  </div>
</section>

<section class="plain">
  <div class="text">
    <h2>Summarized using Machine Learning and Automation</h2>
    <p>A significant challenge in document management lies in summarizing content from files like PDFs and DOCX, a task traditionally handled manually. This summarization is pivotal for optimizing
      <strong>Jadi</strong>'s search engine results. To address this, Jadi offers tools that automate the process of summarizing hundreds of documents, utilizing machine learning to enhance efficiency in information retrieval.</p>
  </div>

  <svg
    width="130%"
    viewBox="0 0 1248 346"
    aria-label="Machine Learning Documents Summarization Automation Diagram">
    <use href="/img/ml-automation.svg#img" />
  </svg>
</section>

<section class="slider">
  <div class="text">
    <h2>Pick The Look</h2>
    <p>Customized your Jadi with predefined look that suitable for your organizations need. Whether you want to focus on the news, or to focus on the search engine,
      <strong>Jadi</strong>
      have the options.</p>
  </div>

  <div class="scroll">
    <ul>
      <li>
        <img
          src="/img/jadi/home-news.webp"
          width="1200"
          height="720"
          loading="lazy"
          alt="Jadi Homepage with News Focus" />
      </li>
      <li>
        <img
          src="/img/jadi/home-search.webp"
          width="1200"
          height="720"
          loading="lazy"
          alt="Jadi Homepage with Search Focus" />
      </li>
      <li>
        <img
          src="/img/jadi/home.webp"
          width="1200"
          height="720"
          loading="lazy"
          alt="Jadi Homepage with Standard Look" />
      </li>
    </ul>
  </div>
</section>

<section class="slider">
  <div class="text">
    <h2>Familiar Look that Stay Inline with Your Branding Strategy</h2>
    <p>
      <strong>Jadi</strong>
      is designed to have a similar look and feel to various search engines, making visitors feel familiar and comfortable. Simultaneously, we've incorporated a design that truly represents your organization.</p>
  </div>

  <div class="scroll">
    <ul>
      <li>
        <img
          src="/img/jadi/result.webp"
          width="1200"
          height="720"
          loading="lazy"
          alt="Jadi Search Result with Standard Look" />
      </li>
      <li>
        <img
          src="/img/jadi/result-filter.webp"
          width="1200"
          height="720"
          loading="lazy"
          alt="Jadi Search Result with Filter Focus" />
      </li>
    </ul>
  </div>
</section>

<section class="points">
  <div class="text">
    <h2>Trusted By</h2>
    <p>These organizations have partnered with Sagara to enhance their legal document system, delivering exceptional results.</p>
  </div>

  <div class="selection partners">
    <div class="scroll">
      <ol>
        {% selection_logo "bekraf" "Indonesian Agency for Creative Economy" %}
        {% selection_logo "bnpt" "National Counter Terrorism Agency of Indonesia" %}
        {% selection_logo "kemensos" "Ministry of Social Affairs of Indonesia" %}
        {% selection_logo "kemenkumham" "National Legal Development Agency of Indonesia" %}
      </ol>
    </div>
  </div>
</section>